<div class="holy-grail-grid">

  <div class="holy-grail-left">
    <%= link_to 'Kontrollpanel', administrations_path, class: 'button-menu' %>
    <%= link_to 'Användare', users_path, class: 'button-menu' %>
    <%= link_to 'Frilansare', adminprofiles_path, class: 'button-menu' %>
    <%= link_to 'Företag', companies_path, class: 'button-menu' %>
    <%= link_to 'Jobb', adminjobs_path, class: 'button-menu' %>
    <%= link_to 'Fakturor', admininvoices_path, class: 'button-menu' %>
    <%= link_to 'Ansökningar', applications_path, class: 'button-menu' %>
  </div>

  <div class="holy-grail-middle">
    <div class="portfolio-resume row">
      <div class="large-12 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Alla fakturor</h3>
          <%= form_tag admininvoices_path, method: 'get' do %>
              <%= text_field_tag :with_id, nil, placeholder: 'Sök efter id' %>
              <%= text_field_tag :with_user_id, nil, placeholder: 'Sök efter id' %>
              <%= text_field_tag :with_company_id, nil, placeholder: 'Sök efter id' %>
              <%= submit_tag 'Sök', class: 'filter-button' %>
          <% end %>
          <p class="portfolio-resume-subheader">
            <% @invoices.each do |invoice| %>
              <div class='invoice-<%= invoice.id %>'>
                <%= link_to 'Visa/godkänn faktura', admininvoice_path(invoice) %><br>
                <span class='item-define'>ID:</span> <%= invoice.id %><br>
                <span class='item-define'>Kvantitet:</span> <%= invoice.quantity %><br>
                <span class='item-define'>Enhet:</span> <%= invoice.unit %><br>
                <span class='item-define'>Summa:</span> <%= invoice.amount %><br>
                <span class='item-define'>Startdag:</span> <%= invoice.first_day %><br>
                <span class='item-define'>Sista dag:</span> <%= invoice.last_day %><br>
                <span class='item-define'>Beskrivning:</span> <%= invoice.description %><br>
                <span class='item-define'>Referens:</span> <%= invoice.user_reference %><br>
                <span class='item-define'>Företagsreferens:</span> <%= invoice.company_reference %><br>
                <span class='item-define'>Villkor:</span> <%= invoice.terms %><br>
                <span class='item-define'>Betald:</span> <%= invoice.paid %><br>
                <span class='item-define'>Aktiv:</span> <%= invoice.active %><br>
                <span class='item-define'>User ID:</span> <%= invoice.user_id %><br>
                <span class='item-define'>Företags ID:</span> <%= invoice.company_id %><br>
                <span class='item-define'>Ansöknings ID:</span> <%= invoice.application_id %><br>
                <span class='item-define'>Jobb ID:</span> <%= invoice.job_id %><br>
                <span class='item-define'>Frilansar ID:</span> <%= invoice.profile_id %><br>
                <span class='item-define'>Frilansar användarnamn:</span> <%= invoice.profile_username %><br>
                <span class='item-define'>Post:</span> <%= invoice.post %><br>
                <span class='item-define'>Feedback:</span> <%= invoice.feedback %><br>
                <span class='item-define'>Skapad:</span> <%= invoice.created_at.strftime("%D %R") %><br>
                <span class='item-define'>Uppdaterad:</span> <%= invoice.updated_at.strftime("%D %R") %><br><br>
              </div>
            <% end %>
          </p>
        </div>
      </div>
    </div>
    <div class="will-paginate">
        <%= will_paginate @invoices, renderer: FoundationPagination::Rails, previous_label: 'Tidigare', next_label: 'Nästa', inner_window: 1, outer_window: 1 %>
    </div>
  </div>
</div>
