<div class="holy-grail-grid">

  <div class="holy-grail-left">
    <%= link_to 'Kontrollpanel', dashboards_path, class: 'button-menu' %><br>
    <%= link_to 'Konto', edit_user_registration_path, class: 'button-menu' %><br>
    <% if @profile.present? %>
      <%= link_to 'Profil', edit_profile_path(@profile.id), class: 'button-menu' %>
      <%= link_to 'Inbjudningar', invites_path(profile_id: @profile.id), class: 'button-menu' %>
      <% else %>
      <%= link_to 'Skapa profil', new_profile_path, class: 'button-menu' %>
    <% end %><br>
    <%= link_to 'Utbetalningar', payments_path, class: 'button-menu' %><br>
    <%= link_to 'Hitta jobb', jobs_path, class: 'button-menu' %>
  </div>

  <div class="holy-grail-middle">
    <div class="simple-form">
      <div class='post-title'><h3>Inbjudningar</h3></div>
      <% @invites.each do |invite| %>
        <% if invite.present? %>
          <%= invite.job_title %><br>
          <%= invite.message %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
