<div class="holy-grail-grid">

  <div class="holy-grail-left">
    <%= link_to 'Kontrollpanel', dashboards_path, class: 'button-menu' %><br>
    <%= link_to 'Konto', edit_user_registration_path, class: 'button-menu' %><br>
    <% if @profile.present? %>
      <%= link_to 'Profil', edit_profile_path(@profile.id), class: 'button-menu' %>
      <%= link_to 'Inbjudningar', invites_path(profile_id: @profile.id), class: 'button-menu' %>
      <% else %>
      <%= link_to 'Skapa profil', new_profile_path, class: 'button-menu' %>
    <% end %><br>
    <%= link_to 'Utbetalningar', payments_path, class: 'button-menu' %><br>
    <%= link_to 'Hitta jobb', jobs_path, class: 'button-menu' %>
  </div>

  <div class="holy-grail-middle">
    <div class="login-box">
      <h3>Inbjudningar</h3>
      <div class="row collapse expanded">
        <div class="small-12 medium-6 column small-order-2 medium-order-1">
          <div class="login-box-form-section">
            <% if @invites.present? %>
              <% @invites.each do |invite| %>
               <% if invite.profile_id == current_user.profile.id %>
                <div class= 'job-count'>
                  Jobb ID: <%= invite.job_id %><br>
                  <%= invite.message %><br>
                  <%= link_to 'Visa jobb', job_path(invite.job_id), class: 'button-green' %>
                </div><br>
               <% end %>
              <% end %>
            <% else %>
              <p>Inga inbjudningar ännu.</p>
              <p>Sök jobb, skaffa bra feedback på jobb och finjustera din profil för att öka dina chanser till att få inbjudningar och jobb.</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="will-paginate">
        <%= will_paginate @invites, renderer: FoundationPagination::Rails, previous_label: 'Tidigare', next_label: 'Nästa', inner_window: 1, outer_window: 1 %>
    </div>
  </div>
</div>
