<div class="holy-grail-grid">
  <div class="holy-grail-left-application">
    <div class='holy-grail-left-application-box'>
      <div class='holy-grail-left-application-box-title'>
        BJUD IN TILL JOBB
      </div>
      Här kan du skicka en inbjudan till frilansaren för en av dina jobbannonser.<br>
      Det är viktigt att annonsen matchar frilansaren.<br>
    </div>
  </div>
  <div class="holy-grail-middle">
    <div class='breadcrumb-holder-small'>
        <%= render_breadcrumbs separator: ' > ' %>
    </div>
    <div class="simple-form">
      <div class='post-title'><h3>Skicka inbjudan</h3></div>
        <% if @jobs.present? %>
          <%= form_tag invites_path(@invite, company_id: current_company.id, profile_id: @profile.id) do %>
          <%= text_field_tag :message, nil, placeholder: 'Skriv ett kort meddelande' %>
          <%= select_tag :job_id, options_for_select(@jobs.pluck(:title, :id)), prompt: 'Välj ett jobb i listan' %>
          <span>En länk till jobbet skickas med inbjudan</span><br>
          <%= submit_tag 'Skicka inbjudan', class: 'reply-button' %>
          <% end %>
        <% else %>
          <p>Skapa en annons innan du kan bjud in.</p>
        <% end %>
    </div>
  </div>
</div>
