<div class="holy-grail-grid">
  <div class="holy-grail-left-application" >
    <div class='holy-grail-left-application-box' style='text-align: center; margin-bottom: 40px;'>
      <div class='contact-title'>
        <span style='color: white; font-weight: 700;'>Kontakt</span>
      </div>
      <p>Här kan du kontakta oss om du har några frågor om tjänsten eller behöver hjälp.</p>
      <p>Vi vill alltid ha nöjda kunder och därför är det viktigt för oss att du får hjälp med stora som små frågor.</p>
      <p>Anewbiz AB</p>
      <p>
        <i class='fi-home size-15'></i> Södra tandåsgatan 33 <br>
        41267 Göteborg <br>
        <i class='fi-telephone size-15'></i> 0707301078 <br>
        <i class='fi-mail size-15'></i> info@anewbiz.se <br>
        Org.nr: 559013-3699
      </p>
    </div>
  </div>
  <div class="holy-grail-middle">
    <div class='breadcrumb-holder-small'>
        <%= render_breadcrumbs separator: ' > ' %>
    </div>
    <div class="simple-form">
      <div class='post-title'><h3>Kontakt</h3></div>
      <%= form_for @message do |f| %>
        <div class="login-box-input">
          <%= f.text_field :name, placeholder: '* Namn' %>
        </div>

        <div class="login-box-input">
          <%= f.email_field :email, placeholder: "* Email", autofocus: true %>
        </div>

        <div class="login-box-input">
          <%= f.text_field :phone_number, placeholder: 'Telefonnummer' %>
        </div>

        <div class="login-box-input">
          <%= f.text_area :content, placeholder: '* Meddelande' %>
        </div>

        <span>Fyll i fält markerade med *</span>

        <div class="actions" style='margin-bottom: 15px;'>
          <%= f.submit 'Skicka', class: 'reply-button' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
