<% @profiles.each do |profile| %>
  <% cache profile do %>
    <div class='profile-<%= profile.id %>'>
      <div class="card profile-card-action-icons">
        <div class="card-section">
          <div class="profile-card-header">
            <div class="profile-card-avatar">
              <%= link_to image_tag(profile.avatar.url, class: "avatar-image"), profile_path(profile) %>
            </div>
            <div class="profile-card-author">
              <h4 class="author-title"><%= link_to profile.username, profile_path(profile)%></h4>
              <%= profile.years_old %> år
            </div>
          </div>
          <div class="large-9 columns profile-card-about">
            <div class="profile-card-about-message">
              <span class='profile-card-about-title'><%= profile.categories.pluck(:name).flatten.join(' & ') %></span>
              <br>
              <% if profile.description.length > 100 %>
                  <%= truncate(profile.description, length: 100) %>
              <% else %>
                  <%= profile.description %>
              <% end %>
              <div class='row'>
                <div class='large-3 columns'>
                  <span style='font-weight: 550;'>Stad:</span> <%= profile.cities.pluck(:name).flatten.join(' & ') %>
                </div>
                <div class='large-3 columns'>
                  <span style='font-weight: 550;'>Genomförda jobb:</span> <%= profile.user.invoice_count %>
                </div>
                <div class='large-3 columns'>
                  <span style='font-weight: 550;'>Totalt intjänat:</span> <br>
                  <%= profile.user.current_earnings %>
                </div>
                <div class='columns'>
                </div>
              </div>
            </div>
          </div>
          <div class="large-3 columns profile-card-about">
            <%= link_to 'Visa profil', profile_path(profile), class: 'reply-button-expand' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<div class="will-paginate">
    <%= will_paginate @profiles, renderer: FoundationPagination::Rails, previous_label: 'Tidigare', next_label: 'Nästa', inner_window: 1, outer_window: 1 %>
</div>
