<% @profiles.each do |profile| %>
  <% cache profile do %>
    <div class='profile-<%= profile.id %>'>
      <div class="card profile-card-action-icons">
        <div class="card-section">
          <div class="profile-card-header">
            <div class="profile-card-avatar">
              <%= image_tag profile.avatar.url, class: "avatar-image" %>
            </div>
            <div class="profile-card-author">
              <h4 class="author-title"><%= link_to profile.username, profile_path(profile)%></h4>
              <%= profile.title %>
              <div class="small-12 medium-2 columns add-friend">
                <%= link_to 'Visa', profile_path(profile), class: 'reply-button' %>
              </div>
            </div>
          </div>
          <div class="profile-card-about">
              <div class="profile-card-about-message">
                <span class='profile-card-about-title'><%= profile.categories.pluck(:name).flatten.join(' & ') %></span>
                <br>
                <% if profile.description.length > 100 %>
                    <%= truncate(profile.description, length: 100) %>
                <% else %>
                    <%= profile.description %>
                <% end %>
                <div class='row'>
                  <div class='large-2 columns'>
                    Stad: <%= profile.cities.pluck(:name).flatten.join(' & ') %>
                  </div>
                  <div class='large-2 columns'>
                    Färdigheter:
                    <% if profile.skill.length > 40 %>
                      <%= truncate(profile.skill, length: 40) %>
                    <% else %>
                      <%= profile.skill %>
                    <% end %>
                  </div>
                  <div class='large-2 columns'>
                    Genomförda jobb: <%= profile.user.invoice_count %>
                  </div>
                  <div class='large-2 columns'>
                    Totalt fakturerat: <br>
                    <%= profile.user.current_earnings %>
                  </div>
                  <div class='columns'>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<div class="will-paginate">
    <%= will_paginate @profiles, renderer: FoundationPagination::Rails, previous_label: 'Tidigare', next_label: 'Nästa', inner_window: 1, outer_window: 1 %>
</div>
