<h3>Edit profile information</h3>
<div class="holy-grail-grid">

  <div class="holy-grail-left">
    <ul>
      <li>
        <%= link_to 'Dashboard', dashboards_path %>
      </li>
      <li>
        <%= link_to 'Account', edit_user_registration_path %>
      </li>
      <li>
        <%= link_to 'Profile', profile_path(@profile.id) %>
      </li>
      <li>
        <%= link_to 'Invoices' %>
      </li>
    </ul>
  </div>

  <div class="holy-grail-middle">
    <div class="simple-form">
    <%= form_for @profile do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username, value: @profile.username %>
    <%= f.label :title %>
    <%= f.text_area :title, value: @profile.title %>
    <%= f.label :description %>
    <%= f.text_field :description, value: @profile.description %>
    <%= f.label :skill, 'Skills' %>
    <%= f.text_field :skill, value: @profile.skill %>
    <%= f.label :rate %>
    <%= f.text_field :rate, value: @profile.rate %>
    <%= f.label :category, 'Categories' %>
    <%= f.select :category, options_for_select(Profile.category), { include_blank: true }, value: @profile.category %>
    <%= f.label :city %>
    <%= f.select :city, options_for_select(Profile.city), { include_blank: true }, value: @profile.city %>
    <%= f.submit 'Submit', class: 'button inc' %>
    <% end %>
    </div>
  </div>
</div>
