<div class="holy-grail-grid">
 <% if @profile.user_id == current_user.id %>
  <div class="holy-grail-left">
    <%= link_to 'Kontrollpanel', dashboards_path, class: 'button-menu' %><br>
    <%= link_to 'Konto', edit_user_registration_path, class: 'button-menu' %><br>
    <% if @profile.present? %>
      <%= link_to 'Profil', edit_profile_path(@profile.id), class: 'button-menu' %>
      <%= link_to 'Inbjudningar', invites_path(profile_id: @profile.id), class: 'button-menu' %>
      <% else %>
      <%= link_to 'Skapa profil', new_profile_path, class: 'button-menu' %>
    <% end %><br>
    <%= link_to 'Utbetalningar', payments_path, class: 'button-menu' %><br>
    <%= link_to 'Skapa faktura', new_ezinvoice_path, class: 'button-menu' %><br>
    <%= link_to 'Hitta jobb', jobs_path, class: 'button-menu' %>
  </div>

  <div class="holy-grail-middle">
    <div class="simple-form">
      <div class='post-title'><h3>Redigera profil</h3></div>
      <%= form_for @profile do |f| %>
      <% if @profile.errors.any? %>
        <% @profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      <% end %>
      <%= f.label :username, 'Användarnamn', class: 'form-text' %>
      <%= f.text_field :username, value: @profile.username %>
      <%= f.label :title, 'Titel', class: 'form-text' %>
      <%= f.text_field :title, value: @profile.title %>
      <%= f.label :description, 'Beskrivning', class: 'form-text' %>
      <%= f.text_area :description, value: @profile.description %>
      <%= f.label :skill, 'Färdigheter', class: 'form-text' %>
      <%= f.text_field :skill, value: @profile.skill %>
      <%= f.label :rate, 'Lön', class: 'form-text' %>
      <%= f.text_field :rate, value: @profile.rate %>
      <%= f.label :category_ids, 'Kategorier', class: 'form-text' %>
      <%= f.collection_check_boxes :category_ids, Category.all, :id, :name, {:multiple => true} %>
      <%= f.label :city_ids, 'Stad', class: 'form-text' %>
      <%= f.collection_select(:city_ids, City.all, :id, :name, { include_blank: true, selected: @profile.city_ids }, { class: 'input-medium' }) %>
      <%= f.label :avatar, 'Profilbild (.jpg .jpeg .png .gif)', class: 'form-text' %>
      <%= f.file_field :avatar, class: 'form-text' %>
      <%= f.submit 'Spara', class: 'reply-button' %>
      <% end %>
    </div>
  </div>
 <% end %>
</div>
