<div class="holy-grail-grid">
 <% if @profile.user_id == current_user.id %>
  <div class="holy-grail-left">
    <%= link_to 'Kontrollpanel', dashboards_path, class: 'button-menu' %><br>
    <%= link_to 'Konto', edit_user_registration_path, class: 'button-menu' %><br>
    <% if current_user.profile.present? %>
      <%= link_to 'Profil', edit_profile_path(current_user.profile.id), class: 'button-menu', style: 'background-color: #f77d0e;' %>
      <% else %>
      <%= link_to 'Skapa profil', new_profile_path, class: 'button-menu' %>
    <% end %><br>
    <%= link_to 'Utbetalningar', payments_path, class: 'button-menu' %><br>
    <%= link_to 'Snabbfaktura', ezinvoices_path, class: 'button-menu' %><br>
    <%= link_to 'Hitta jobb', jobs_path, class: 'button-menu' %>
  </div>

  <div class="holy-grail-middle">
    <div class="simple-form">
      <div class='post-title'><h3>Redigera profil</h3></div>
      <%= form_for @profile do |f| %>
      <% if @profile.errors.any? %>
        <% @profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      <% end %>
      <%= f.label :username, 'Användarnamn', class: 'form-text' %>
      <%= f.text_field :username, value: @profile.username %>
      <%= f.label :title, 'Titel', class: 'form-text' %>
      <div class="fieldContainer">
        <%= f.text_field :title, value: @profile.title %>
        <div class="fieldInfo">
          Tips <br>
          Skriv en kort slagkraftig titel som beskriver dig och de arbeten du kommer söka. Max 140 tecken.
        </div>
      </div>
      <%= f.label :description, 'Beskrivning', class: 'form-text' %>
      <div class="fieldContainer">
        <%= f.text_area :description, value: @profile.description %>
        <div class="fieldInfo">
          Tips <br>
          Här finns mycket utrymme för att beskriva dig på bästa sätt som kommer öka dina chanser till att få jobb. Vilka är dina bästa egenskaper? Vilka typer av jobb passar dig? Vad har du för andra erfarenheter? Beskriv dig själv som person. Liknande ett CV.
        </div>
      </div>
      <%= f.label :skill, 'Kompetenser', class: 'form-text' %>
      <div class="fieldContainer">
        <%= f.text_field :skill, value: @profile.skill %>
        <div class="fieldInfo">
          Tips <br>
          Rada upp de främsta kompetenser du har. Separera med kommatecken.
        </div>
      </div>
      <%= f.label :category_ids, 'Kategorier', class: 'form-text' %>
      <%= f.collection_check_boxes :category_ids, Category.all, :id, :name, {:multiple => true} %>
      <%= f.label :city_ids, 'Stad', class: 'form-text' %>
      <%= f.collection_select(:city_ids, City.all, :id, :name, { include_blank: true, selected: @profile.city_ids }, { class: 'input-medium' }) %>
      <%= f.label :avatar, 'Profilbild (.jpg .jpeg .png .gif)', class: 'form-text' %>
      <%= f.file_field :avatar, class: 'form-text' %>
      <%= link_to 'Avbryt', dashboards_path, class: 'cancel-button' %>
      <%= f.submit 'Spara', class: 'reply-button' %>
      <% end %>
    </div>
  </div>
 <% end %>
</div>
