<h3>Browse all freelancers</h3>
<div class="button-select-section">
    <%= link_to 'M책lare', {controller: 'profiles', with_category: 'M책lare'}, {class: 'button-select'} %>
    <%= link_to 'Snickare', {controller: 'profiles', with_category: 'Snickare'}, {class: 'button-select'} %>
    <%= link_to 'Pl책tslagare', {controller: 'profiles', with_category: 'Pl책tslagare'}, {class: 'button-select'} %>
    <%= link_to 'Lagerarbetare', {controller: 'profiles', with_category: 'Lagerarbetare'}, {class: 'button-select'} %>
</div>

<% @profiles.each do |profile| %>
<div class="card profile-card-action-icons">
    <div class="card-section">
        <div class="profile-card-header">
            <div class="profile-card-avatar">
                <img class="avatar-image" src="https://pbs.twimg.com/profile_images/732634911761260544/OxHbNdTF.jpg" alt="Harry Manchanda">
            </div>
            <div class="profile-card-author">
                <h4 class="author-title"><%= link_to profile.username, profile_path(profile)%></h4>
                Title: <%= profile.title %>
                <div class="small-12 medium-2 columns add-friend">
                  <%= link_to 'View', profile_path(profile), class: 'boton-large' %>
                </div>
            </div>
        </div>
        <div class="profile-card-about">
            Beskrivning:
            <% if profile.description.length > 100 %>
                <%= truncate(profile.description, length: 100) %>
            <% else %>
                <%= profile.description %>
            <% end %>
            <br>
            | Kategorier:
            <%= profile.category %>
            | Budget:
            <%= profile.rate %>
            | Skills:
            <%= profile.skill %>
            | Stad:
            <%= profile.city %>
            |<br>
        </div>
    </div>
</div>
<% end %>
