<h3>Alla frilansare</h3>
<div class='breadcrumb-holder'>
    <%= render_breadcrumbs separator: ' > ' %>
</div>
<div class="button-select-section">
    <%= link_to 'Alla kategorier', {controller: 'profiles'}, {class: 'button-select'} %>
    <%= link_to 'Målare', {controller: 'profiles', with_category: 'Målare'}, {class: 'button-select'} %>
    <%= link_to 'Snickare', {controller: 'profiles', with_category: 'Snickare'}, {class: 'button-select'} %>
    <%= link_to 'Plåtslagare', {controller: 'profiles', with_category: 'Plåtslagare'}, {class: 'button-select'} %>
    <%= link_to 'Lagerarbetare', {controller: 'profiles', with_category: 'Lagerarbetare'}, {class: 'button-select'} %>
</div>

<% @profiles.each do |profile| %>
<div class='profile-<%= profile.id %>'>
  <div class="card profile-card-action-icons">
      <div class="card-section">
          <div class="profile-card-header">
              <div class="profile-card-avatar">
                  <%= image_tag profile.avatar.url, class: "avatar-image" %>
              </div>
              <div class="profile-card-author">
                  <h4 class="author-title"><%= link_to profile.username, profile_path(profile)%></h4>
                  <%= profile.title %>
                  <div class="small-12 medium-2 columns add-friend">
                    <%= link_to 'Visa', profile_path(profile), class: 'reply-button' %>
                  </div>
              </div>
          </div>
          <div class="profile-card-about">
              <div class='profile-card-about-title'>
                <% profile.categories.each do |category| %>
                  <%= category.name %>
                <% end %>
              </div>
              <div class="profile-card-about-message">
                <% if profile.description.length > 100 %>
                    <%= truncate(profile.description, length: 100) %>
                <% else %>
                    <%= profile.description %>
                <% end %>
                <div class='row'>
                  <div class='large-2 columns'>
                      Stad: <%= profile.city %>
                  </div>
                  <div class='large-2 columns'>
                      Färdigheter: <%= profile.skill %>
                  </div>
                  <div class='large-2 columns'>
                      Lön: <%= profile.rate %>
                  </div>
                  <div class='columns'>
                  </div>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>
<% end %>

<div class="will-paginate">
    <%= will_paginate @profiles, renderer: FoundationPagination::Rails, previous_label: 'Tidigare', next_label: 'Nästa', inner_window: 1, outer_window: 1 %>
</div>
