<div class="holy-grail-grid">

  <div class="holy-grail-left">
    <%= link_to 'Kontrollpanel', dashboards_path, class: 'button-menu' %><br>
    <%= link_to 'Konto', edit_user_registration_path, class: 'button-menu' %><br>
    <%= link_to 'Skapa profil', new_profile_path, class: 'button-menu' %><br>
    <%= link_to 'Hitta jobb', jobs_path, class: 'button-menu' %><br>
  </div>

  <div class="holy-grail-middle">
    <div class="simple-form">
      <div class='post-title'><h3>Skapa profil</h3></div>
      <%= form_for @profile do |f| %>
      <%= f.text_field :username, placeholder: 'Användarnamn' %>
      <%= f.text_area :title, placeholder: 'Titel' %>
      <%= f.text_field :description, placeholder: 'Beskrivning' %>
      <%= f.text_field :skill, placeholder: 'Färdigheter' %>
      <%= f.text_field :rate, placeholder: 'Lön' %>
      <%= f.label :category, 'Kategorier', class: 'hidden-label' %>
      <%= f.select :category, options_for_select(Profile.category), { include_blank: true } %>
      <%= f.label :city, 'Stad', class: 'hidden-label' %>
      <%= f.select :city, options_for_select(Profile.city), { include_blank: true } %>
      <%= f.submit 'Skapa', class: 'reply-button' %>
      <% end %>
    </div>
  </div>
</div>
