<div class="holy-grail-grid">

  <div class="holy-grail-left">
    <%= link_to 'Kontrollpanel', dashboards_path, class: 'button-menu' %><br>
    <%= link_to 'Konto', edit_user_registration_path, class: 'button-menu' %><br>
    <%= link_to 'Skapa profil', new_profile_path, class: 'button-menu' %><br>
    <%= link_to 'Hitta jobb', jobs_path, class: 'button-menu' %><br>
  </div>

  <div class="holy-grail-middle">
    <div class="simple-form">
      <div class='post-title'><h3>Skapa profil</h3></div>
      <%= form_for @profile do |f| %>
      <% if @profile.errors.any? %>
        <% @profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      <% end %>
      <%= f.label :username, 'Användarnamn', class: 'form-text' %>
      <%= f.text_field :username, placeholder: 'Kommer visas i dina jobbansökningar' %>
      <%= f.label :title, 'Titel', class: 'form-text' %>
      <%= f.text_field :title, placeholder: 'Ex. Målare med lång erfarenhet' %>
      <%= f.label :description, 'Beskrivning', class: 'form-text' %>
      <%= f.text_area :description, placeholder: 'En bra beskrivning ökar dina chanser i ansökan' %>
      <%= f.label :skill, 'Färdigheter', class: 'form-text' %>
      <%= f.text_field :skill, placeholder: 'Ex. utomhusmåleri, tapetsering, takläggning etc' %>
      <%= f.label :rate, 'Lön', class: 'form-text' %>
      <%= f.text_field :rate, placeholder: 'Minimumlön du kan tänka dig' %>
      <%= f.label :category_ids, 'Kategorier', class: 'form-text' %>
      <%= f.collection_check_boxes :category_ids, Category.all, :id, :name, {:multiple => true} %>
      <%= f.label :city_ids, 'Stad', class: 'form-text' %>
      <%= f.collection_select(:city_ids, City.all, :id, :name, { prompt: 'Välj stad' }, { class: 'input-medium' }) %>
      <%= f.label :avatar, 'Profilbild (.jpg .jpeg .png .gif)', class: 'form-text' %>
      <%= f.file_field :avatar %>
      <%= f.submit 'Skapa', class: 'reply-button' %>
      <% end %>
    </div>
  </div>
</div>
