<div class="holy-grail-grid">

  <div class="holy-grail-left">
    <%= link_to 'Kontrollpanel', dashboards_path, class: 'button-menu' %><br>
    <%= link_to 'Konto', edit_user_registration_path, class: 'button-menu' %><br>
    <%= link_to 'Skapa profil', new_profile_path, class: 'button-menu', style: 'background-color: #f77d0e;' %><br>
    <%= link_to 'Fakturera utan företag', ezinvoices_path, class: 'button-menu' %><br>
    <%= link_to 'Hitta jobb', jobs_path, class: 'button-menu' %><br>
  </div>

  <div class="holy-grail-middle">
    <div class="simple-form">
      <div class='post-title'><h3>Skapa profil</h3></div>
      <p style= 'color: #f77d0e; font-size: 12px;'>
        Innan du börjar söka jobb behöver du skapa en riktigt bra profil.<br>
        Det som fylls i kommer synas i dina ansökningar.
      </p>
      <%= form_for @profile do |f| %>
      <% if @profile.errors.any? %>
        <% @profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      <% end %>
      <%= f.label :age, '* Födelsedatum', class: 'form-text' %>
      <%= f.date_field :age, class: 'input-mini' %>
      <%= f.label :description, '* Beskrivning', class: 'form-text' %>
      <div class="fieldContainer">
        <%= f.text_area :description, rows: 5, style: 'width:100%;', placeholder: 'En bra beskrivning ökar dina chanser när du söker jobb' %>
        <div class="fieldInfo">
          Tips <br>
          Här finns mycket utrymme för att beskriva dig på bästa sätt som kommer öka dina chanser till att få jobb. Varför ska man anställa just dig? Vilka typer av jobb passar dig? Vad har du för andra erfarenheter? Beskriv dig själv som person. Liknande ett CV.
        </div>
      </div>
      <%= f.label :category_ids, '* Kategorier', class: 'form-text' %>
      <div style='font-size: 12px;'>Vilken/vilka kategorier kommer du söka jobb i?</div>
      <%= f.collection_check_boxes :category_ids, Category.all, :id, :name, {:multiple => true} %>
      <%= f.label :city_ids, '* Stad', class: 'form-text' %>
      <%= f.collection_select(:city_ids, City.all, :id, :name, { prompt: 'Välj stad' }, { class: 'input-medium' }) %>
      <%= link_to 'Avbryt', dashboards_path, class: 'cancel-button' %>
      <%= f.submit 'Skapa', class: 'reply-button' %>
      <% end %>
    </div>
  </div>
</div>
