<h3>Create profile</h3>
<div class="holy-grail-grid">

  <div class="holy-grail-left">
    <%= link_to 'Dashboard', dashboards_path, class: 'button-menu' %><br>
    <%= link_to 'Account', edit_user_registration_path, class: 'button-menu' %><br>
    <%= link_to 'Create profile', new_profile_path, class: 'button-menu' %><br>
    <%= link_to 'Find jobs', jobs_path, class: 'button-menu' %><br>
  </div>

  <div class="holy-grail-middle">
    <div class="simple-form">
      <%= form_for @profile do |f| %>
      <%= f.label :username %>
      <%= f.text_field :username %>
      <%= f.label :title %>
      <%= f.text_area :title %>
      <%= f.label :description %>
      <%= f.text_field :description %>
      <%= f.label :skill, 'Skills' %>
      <%= f.text_field :skill %>
      <%= f.label :rate %>
      <%= f.text_field :rate %>
      <%= f.label :category, 'Categories' %>
      <%= f.select :category, options_for_select(Profile.category), { include_blank: true } %>
      <%= f.label :city %>
      <%= f.select :city, options_for_select(Profile.city), { include_blank: true } %>
      <%= f.submit 'Submit', class: 'reply-button' %>
      <% end %>
    </div>
  </div>
</div>
