<div class="card-profile-stats">
  <div class="card-profile-stats-intro">
    <img class="card-profile-stats-intro-pic" src="https://vignette.wikia.nocookie.net/the-enigma-corporation/images/a/ae/Users-Group-icon.png/revision/latest/scale-to-width-down/480?cb=20140213102334" alt="profile-image" />
    <div class="card-profile-stats-intro-content">
      <h2><%= @profile.username %></h2>
      <% if @invoices.present? %>
        <p class='job-count'>Antal genomförda jobb: <%= @invoices.count %></p>
      <% end %>
      <p><%= @profile.description %></p>
    </div>
  </div>

  <hr />

  <div class="card-profile-stats-container">
    <div class="card-profile-stats-statistic">
      <span class="stat">Titel</span>
      <p><%= @profile.title %></p>
    </div>
    <div class="card-profile-stats-statistic">
      <span class="stat">Färdigheter</span>
      <p><%= @profile.skill %></p>
    </div>
    <div class="card-profile-stats-statistic">
      <span class="stat">Stad</span>
      <p><%= @profile.city %></p>
    </div>
    <div class="card-profile-stats-statistic">
      <span class="stat">Kategorier</span>
      <p><%= @profile.category %></p>
    </div>
    <div class="card-profile-stats-statistic">
      <span class="stat">Lön</span>
      <p><%= @profile.rate %></p>
    </div>
  </div>
</div>
<% if @invoices.present? %>
  <div class="card profile-card-action-icons">
    <div class="card-section">
        <div class="profile-card-header">
          <div class="profile-card-author">
            <h4 >Feedback & rekommendationer</h4>
          </div>
        </div>
        <div class="profile-card-about-feed">
          <% @invoices.each do |invoice| %>
            <% if invoice.feedback? %>
              <div class='profile-card-about-title'>Jobb ID: <%= invoice.job_id %></div>
              <div class="profile-card-about-feed-message">
              <%= invoice.updated_at.strftime("%Y %B") %><br>
              <%= invoice.feedback %>
              </div>
            <% end %>
          <% end %>
        </div>
    </div>
  </div>
<% end %>
