<div class="profile-<%= @profile.id %>">
  <div class="card-profile-stats">
    <div class='breadcrumb-holder-smaller'>
        <%= render_breadcrumbs separator: ' > ' %>
    </div>
    <div class="card-profile-stats-intro">
      <%= image_tag @profile.avatar.url, class: 'card-profile-stats-intro-pic' %>
      <div class="card-profile-stats-intro-content">
        <h2><%= @profile.username %></h2>
        <p class='job-count'>Antal genomförda jobb: <%= @profile.user.invoice_count %></p>
        <p class='job-count' style='margin-top: -7px;'>
          Totalt fakturerat: <%= @profile.user.current_earnings %>
        </p>
      </div>
      <p><%= @profile.description %></p>
    </div>

    <hr />

    <div class="card-profile-stats-container">
      <div class="card-profile-stats-statistic">
        <span class="stat">Titel</span>
        <p class='job-count'><%= @profile.title %></p>
      </div>
      <div class="card-profile-stats-statistic">
        <span class="stat">Stad</span>
          <p class='job-count'><%= @profile.cities.pluck(:name).flatten.join(' & ') %></p>
      </div>
      <div class="card-profile-stats-statistic">
        <span class="stat">Kategorier</span>
        <p class='job-count'><%= @profile.categories.pluck(:name).flatten.join(' & ') %></p>
      </div>
      <% if @profile.skill.present? %>
      <div class="card-profile-stats-statistic">
        <span class="stat">Kompetenser</span>
        <p class='job-count'><%= @profile.skill %></p>
      </div>
      <% end %>
      <% if @profile.language.present? %>
      <div class="card-profile-stats-statistic">
        <span class="stat">Språk</span>
        <p class='job-count'><%= @profile.language %></p>
      </div>
      <% end %>
      <% if @profile.license.present? %>
      <div class="card-profile-stats-statistic">
        <span class="stat">Körkort</span>
        <p class='job-count'><%= @profile.license %></p>
      </div>
      <% end %>
      <div class="card-profile-stats-statistic">
      </div>
    </div>
  </div>
</div>
<% if @profile.user.invoices.present? %>
  <div class="card profile-card-action-icons">
    <div class="card-section">
        <div class="profile-card-header">
          <h4 class='feedback-title'>Feedback</h4>
        </div>
        <div class="profile-card-about-feed">
          <% @profile.user.invoices.each do |invoice| %>
            <% if invoice.feedback? %>
              <div class='profile-card-about-title-message'><%= invoice.job_title %></div>
              <div class="profile-card-about-feed-message">
              <%= invoice.updated_at.strftime("%Y %B") %><br>
              <%= invoice.feedback %>
              </div>
            <% end %>
          <% end %>
        </div>
    </div>
  </div>
<% end %>
<% if @profile.prev_work.present? %>
  <div class="card profile-card-action-icons">
    <div class="card-section">
        <div class="profile-card-header">
          <h4 class='feedback-title'>Tidigare arbetsplatser</h4>
        </div>
        <div class="profile-card-about-feed">
          <div class="profile-card-about-feed-message">
            <%= @profile.prev_work %>
          </div>
        </div>
    </div>
  </div>
<% end %>
<% if @profile.education.present? %>
  <div class="card profile-card-action-icons">
    <div class="card-section">
        <div class="profile-card-header">
          <h4 class='feedback-title'>Utbildning</h4>
        </div>
        <div class="profile-card-about-feed">
          <div class="profile-card-about-feed-message">
            <%= @profile.education %>
          </div>
        </div>
    </div>
  </div>
<% end %>
