<div class="profile-<%= @profile.id %>">
  <div class="card-profile-stats">
    <div class='breadcrumb-holder-smaller'>
        <%= render_breadcrumbs separator: ' > ' %>
    </div>
    <div class="card-profile-stats-intro">
      <%= image_tag @profile.avatar.url, class: 'card-profile-stats-intro-pic' %>
      <div class="card-profile-stats-intro-content">
        <h2><%= @profile.username %></h2>
        <% if current_company.present? %>
          <p><%= link_to 'Bjud in till jobb', new_invite_path(profile_id: @profile.id), class: 'profile-button-small' %></p>
        <% end %>
        <p class='job-count'>Antal genomförda jobb: <%= @profile.user.invoice_count %></p>
        <p class='job-count' style='margin-top: -7px;'>
          Totalt fakturerat: <%= @profile.user.current_earnings %>
        </p>
      </div>
      <p><%= @profile.description %></p>
    </div>

    <hr />

    <div class="card-profile-stats-container">
      <div class="large-2 columns card-profile-stats-statistic">
        <span class="stat">Titel</span>
        <p><%= @profile.title %></p>
      </div>
      <div class="large-3 columns card-profile-stats-statistic">
        <span class="stat">Färdigheter</span>
        <p><%= @profile.skill %></p>
      </div>
      <div class="card-profile-stats-statistic">
        <span class="stat">Stad</span>
          <p><%= @profile.cities.pluck(:name).flatten.join(' & ') %></p>
      </div>
      <div class="card-profile-stats-statistic">
        <span class="stat">Kategorier</span>
        <p><%= @profile.categories.pluck(:name).flatten.join(' & ') %></p>
      </div>
      <div class="card-profile-stats-statistic">
        <span class="stat">Lön</span>
        <p><%= @profile.rate %></p>
      </div>
    </div>
  </div>
</div>
<% if @profile.user.invoices.present? %>
  <div class="card profile-card-action-icons">
    <div class="card-section">
        <div class="profile-card-header">
          <h4 class='feedback-title'>Feedback</h4>
        </div>
        <div class="profile-card-about-feed">
          <% @profile.user.invoices.each do |invoice| %>
            <% if invoice.feedback? %>
              <div class='profile-card-about-title-message'>Jobb ID: <%= invoice.job_id %></div>
              <div class="profile-card-about-feed-message">
              <%= invoice.updated_at.strftime("%Y %B") %><br>
              <%= invoice.feedback %>
              </div>
            <% end %>
          <% end %>
        </div>
    </div>
  </div>
<% end %>
