<div class="timeline">
  <div class="timeline-item">
    <div class="timeline-content right">
      <h2>Hur går det till?</h2>
    </div>
  </div>
  <div class="timeline-item">
    <div class="timeline-icon">
      <i class="fi-clipboard-pencil size-30"></i>
    </div>
    <div class="timeline-content">
      <p class="timeline-content-date">Företag skapar en annons</h2>
      <p>Företaget registrerar ett nytt konto och skapar därefter en annons där de specificerar vad de önskar av jobbsökare. De skriver vad jobbet går ut på, hur lång anställningen är, hur många timmar per dag med mera.</p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon">
      <i class='fi-torso-female size-30'></i>
    </div>
    <div class="timeline-content right">
      <p class="timeline-content-date">Jobbsökande skapar en profil</h2>
      <p>Jobbsökande registrerar ett nytt konto och skapar därefter en profil, liknande ett cv med nyttig information om vad de söker för jobb och vad de har för färdigheter.</p>
      <%= link_to 'Vi kallar er frilansare! Läs mer om varför här. ', why_freelances_path, style: 'color: #3db5e6; font-size: 16px;' %>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon">
      <i class='fi-magnifying-glass size-30'></i>
    </div>
    <div class="timeline-content">
      <p class="timeline-content-date">Jobbsökande letar efter jobb</h2>
      <p>Som jobbsökande letar du igenom de jobb som finns ute på sidan. När du hittar ett som passar, skapar du en ansökan. Här skriver du varför jobbet passar dig och annan information som kan tänkas vara bra för företaget att veta.</p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon">
      <i class='fi-comments size-30'></i>
    </div>
    <div class="timeline-content right">
      <p class="timeline-content-date">Företaget & jobbsökande chattar</h2>
      <p>I ansökan finns en chatt där jobbsökande och företaget kan diskutera, bestämma lön, få en känsla för varandra och vidare se om det kan bli en bra match.</p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon">
      <i class='fi-like size-30'></i>
    </div>
    <div class="timeline-content">
      <p class="timeline-content-date">Företaget anställer personen</h2>
      <p>Företaget kollar igenom alla ansökningar de fått och därefter anställer de personer som känns bäst med ett enkelt knapptryck. I kontrollpanelen kan företaget hålla koll på alla sina annonser, svar och anställningar.</p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon">
      <i class='fi-checkbox size-30'></i>
    </div>
    <div class="timeline-content right">
      <p class="timeline-content-date">Jobbet utförs</h2>
      <p>Jobbsökande arbetar hos företaget och utför de uppgifter som önskas, precis som en vanlig anställning. I kontrollpanelen kan denna enkelt hålla koll på vilka jobb som sökts, aktiva anställningar och utbetalningar.</p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon">
      <i class='fi-pencil size-30'></i>
    </div>
    <div class="timeline-content">
      <p class="timeline-content-date">Jobbsökande begär utbetalning</h2>
      <p>När anställningen eller uppdraget är färdigt, anger jobbsökande arbetstider och begär en utbetalning.</p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon">
      <i class='fi-mail size-30'></i>
    </div>
    <div class="timeline-content right">
      <p class="timeline-content-date">En fakturan skickas och betalas</p>
      <p>Företaget får en faktura på antal timmar gånger timlönen, plus arbetsgivaravgifter, försäkringar & sociala avgifter. Precis det belopp företaget i vanliga fall skulle betalat men nu slipper de mängder av administration. Bäst av allt, inga extra avgifter! <br>Läs mer om <%= link_to 'faktureringen.', our_rates_path, style: 'text-transform: lowercase; color: #3db5e6; font-size: 16px; font-weight: 400; letter-spacing: 0;' %></p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon">
      <i class='fi-dollar size-40'></i>
    </div>
    <div class="timeline-content">
      <p class="timeline-content-date">Lönen betalas ut</h2>
      <p>Vi ser till att företaget betalar det belopp jobbsökande begärt. Lönen som betalas ut är efter vår avgift och inkomstskatt, direkt till bankkontot.<br>Läs mer om <%= link_to 'våra avgifter.', our_rates_path, style: 'text-transform: lowercase; color: #3db5e6; font-size: 16px; font-weight: 400; letter-spacing: 0;' %></p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon">
      <i class='fi-heart size-30'></i>
    </div>
    <div class="timeline-content right">
      <p class="timeline-content-date">Alla tjänar på det</h2>
      <p>Jobbsökande får jobb, mer flexibla arbetstider och chansen att hitta sin drömarbetssplats. Företaget anställer smidigt ny personal utifrån dess egna preferenser och slipper administration och risk med fastanställningar, helt utan extra avgifter.</p><br>
      <%= link_to "HITTA JOBB", jobs_path, class: 'reply-button' %>
      <%= link_to "HITTA PERSONAL", new_company_registration_path, class: 'profile-button' %>
    </div>
  </div>

</div>
