<div class="holy-grail-grid">
  <div class="holy-grail-left-application" >
    <div class='holy-grail-left-application-box' style='text-align: center; '>
      <%= link_to 'Så fungerar det', howitworks_path, class: 'holy-grail-left-application-box' %><br>
      <%= link_to 'Kontakta', messages_path, class: 'holy-grail-left-application-box' %><br>
      <%= link_to 'Faktura, avgifter & lön', our_rates_path, class: 'holy-grail-left-application-box' %><br>
      <%= link_to 'Varför A New Biz?', why_us_path, class: 'holy-grail-left-application-box' %><br>
      <%= link_to 'Användarvillkor', terms_of_services_path, class: 'holy-grail-left-application-box' %>
      <div style='background-color: #f77d0e; margin-left: -8px; margin-right: -8px; padding-bottom: 3px;'>
        <%= link_to 'Vanliga frågor', faqs_path, class: 'holy-grail-left-application-box', style:'color: white;' %><br>
      </div>
    </div>
  </div>
  <div class="holy-grail-middle">
    <div class='breadcrumb-holder-small'>
        <%= render_breadcrumbs separator: ' > ' %>
    </div>
    <h3 style='text-align: center;'>Vanliga frågor</h3>
    <p style='margin-left: 20px; margin-right: 20px; text-align: center; font-weight: 550; color: #696868;'>Här har vi samlat de vanligaste frågorna vi får från användare. Om det är något du undrar som vi inte svarar på nedanför är du välkommen att kontakta oss.</p>
    <div class="our-rates-box">
      <span class='truncated-paragraph-b0'>
        <%= link_to '#', class: "read-more-b0" do %>
          <i class="fi-plus size-15" style='color: white; padding-left: 5px;'></i>
        <% end %>
        <%= link_to 'Är jag försäkrad när jag jobbar genom ANewBiz?', '', class: "read-more-b0", style: 'margin-left: 5px; color: white; font-size: 12px; letter-spacing: 0.5px;' %>
      </span>
      <span class='normal-paragraph-b0' style="display: none;">
        <%= link_to '#', class: "read-less-b0" do %>
          <i class="fi-minus size-15" style='color: white; padding-left: 5px;'></i>
        <% end %>
        <%= link_to 'Är jag försäkrad när jag jobbar genom ANewBiz?', '', class: "read-less-b0", style: 'margin-left: 5px; color: white; font-size: 12px; letter-spacing: 0.5px;' %>
      </span>
    </div>
    <span class='normal-paragraph-b0' style="display: none;">
      <div class='our-rates-normal-paragraph'>
        <h4 style='text-align: center;'>Är jag försäkrad när jag jobbar genom ANewBiz?</h4>
        <p style='margin-left: 20px; margin-right: 20px; text-align: center;'>
          Du är fullt försäkrad när du arbetar genom ANewBiz. Du omfattas alltid av en liv- och olycksfallsförsäkring under tiden du har en anställning.
        </p>
      </div>
    </span>
    <div class="our-rates-box">
      <span class='truncated-paragraph-b1'>
        <%= link_to '#', class: "read-more-b1" do %>
          <i class="fi-plus size-15" style='color: white; padding-left: 5px;'></i>
        <% end %>
        <%= link_to 'Hur bestäms lönen?', '', class: "read-more-b1", style: 'margin-left: 5px; color: white; font-size: 12px; letter-spacing: 0.5px;' %>
      </span>
      <span class='normal-paragraph-b1' style="display: none;">
        <%= link_to '#', class: "read-less-b1" do %>
          <i class="fi-minus size-15" style='color: white; padding-left: 5px;'></i>
        <% end %>
        <%= link_to 'Hur bestäms lönen?', '', class: "read-less-b1", style: 'margin-left: 5px; color: white; font-size: 12px; letter-spacing: 0.5px;' %>
      </span>
    </div>
    <span class='normal-paragraph-b1' style="display: none;">
      <div class='our-rates-normal-paragraph'>
        <h4 style='text-align: center;'>Hur bestäms lönen?</h4>
        <p style='margin-left: 20px; margin-right: 20px; text-align: center;'>
          Oftast står lönen i annonsen som bestämts av företaget som lagt upp annonsen. Du kan alltid förhandla om lön innan du tar jobbet om du känner att du är mer kvalificerad och förtjänar högre lön. Helt enkelt så är det upp till dig och företaget att komma överens vilken lön som gäller. <br>Lönen anges alltid som bruttolön per timma exklusive semesterersättning.
        </p>
      </div>
    </span>
    <div class="our-rates-box">
      <span class='truncated-paragraph-b2'>
        <%= link_to '#', class: "read-more-b2" do %>
          <i class="fi-plus size-15" style='color: white; padding-left: 5px;'></i>
        <% end %>
        <%= link_to 'Hur fungerar det med sjuklön och sjukfrånvaro?', '', class: "read-more-b2", style: 'margin-left: 5px; color: white; font-size: 12px; letter-spacing: 0.5px;' %>
      </span>
      <span class='normal-paragraph-b2' style="display: none;">
        <%= link_to '#', class: "read-less-b2" do %>
          <i class="fi-minus size-15" style='color: white; padding-left: 5px;'></i>
        <% end %>
        <%= link_to 'Hur fungerar det med sjuklön och sjukfrånvaro?', '', class: "read-less-b2", style: 'margin-left: 5px; color: white; font-size: 12px; letter-spacing: 0.5px;' %>
      </span>
    </div>
    <span class='normal-paragraph-b2' style="display: none;">
      <div class='our-rates-normal-paragraph'>
        <h4 style='text-align: center;'>Hur fungerar det med sjuklön och sjukfrånvaro?</h4>
        <p style='margin-left: 20px; margin-right: 20px; text-align: center;'>
          Särskilda regler gäller för korttidsanställda vad gäller rätten till sjuklön. Om anställningen är avtalad att gälla mer än en månad har personen rätt till sjuklön på samma sätt som en tillsvidareanställd. Är anställningen kortare än en månad behöver inte arbetsgivaren betala sjuklön vid sjukfrånvaro under de första 14 dagarnas anställning. Då får den anställde i stället begära sjukpenning från Försäkringskassan. En särskild skyddsregel vad gäller sjuklön finns för de som ofta har anställningar mindre än en månad långa. Är uppehållet mellan anställningarna högst 14 kalenderdagar ska arbetsgivaren räkna samman anställningstiden. Är tiden då sammanlagt mer än en månad får alltså den anställde sjuklön utan kvalifikationstid.
        </p>
      </div>
    </span>
    <div class="our-rates-box">
      <span class='truncated-paragraph-b3'>
        <%= link_to '#', class: "read-more-b3" do %>
          <i class="fi-plus size-15" style='color: white; padding-left: 5px;'></i>
        <% end %>
        <%= link_to 'Vi använder personalliggare, hur gör man då?', '', class: "read-more-b3", style: 'margin-left: 5px; color: white; font-size: 12px; letter-spacing: 0.5px;' %>
      </span>
      <span class='normal-paragraph-b3' style="display: none;">
        <%= link_to '#', class: "read-less-b3" do %>
          <i class="fi-minus size-15" style='color: white; padding-left: 5px;'></i>
        <% end %>
        <%= link_to 'Vi använder personalliggare, hur gör man då?', '', class: "read-less-b3", style: 'margin-left: 5px; color: white; font-size: 12px; letter-spacing: 0.5px;' %>
      </span>
    </div>
    <span class='normal-paragraph-b3' style="display: none;">
      <div class='our-rates-normal-paragraph'>
        <h4 style='text-align: center;'>Vi använder personalliggare, hur gör man då?</h4>
        <p style='margin-left: 20px; margin-right: 20px; text-align: center;'>
          Om ni som företag använder personalliggare fungerar det precis som ni skulle tagit in en underentrepenör. Ni lägger alltså till vårt företag FeltCap, Org.nr: 559129-6099 som underentrepenör. Därefter kan antingen ni eller den anställde kontakta vår kundtjänst så kommer vi ordna med allt som har med personalliggaren att göra.
        </p>
      </div>
    </span>
    <div class="our-rates-box">
      <span class='truncated-paragraph-b4'>
        <%= link_to '#', class: "read-more-b4" do %>
          <i class="fi-plus size-15" style='color: white; padding-left: 5px;'></i>
        <% end %>
        <%= link_to 'Får jag semesterersättning när jag jobbar?', '', class: "read-more-b4", style: 'margin-left: 5px; color: white; font-size: 12px; letter-spacing: 0.5px;' %>
      </span>
      <span class='normal-paragraph-b4' style="display: none;">
        <%= link_to '#', class: "read-less-b4" do %>
          <i class="fi-minus size-15" style='color: white; padding-left: 5px;'></i>
        <% end %>
        <%= link_to 'Får jag semesterersättning när jag jobbar?', '', class: "read-less-b4", style: 'margin-left: 5px; color: white; font-size: 12px; letter-spacing: 0.5px;' %>
      </span>
    </div>
    <span class='normal-paragraph-b4' style="display: none;">
      <div class='our-rates-normal-paragraph'>
        <h4 style='text-align: center;'>Får jag semesterersättning när jag jobbar?</h4>
        <p style='margin-left: 20px; margin-right: 20px; text-align: center;'>
          Det är lag på att alla svenska arbetsgivare ska betala semesterersättning på 12%. Det betyder därmed att om du kommit överens med ett företag om en timlön på 100kr så kommer din verkliga lön vara 112kr.
        </p>
      </div>
    </span>
    <div class="our-rates-box">
      <span class='truncated-paragraph-b5'>
        <%= link_to '#', class: "read-more-b5" do %>
          <i class="fi-plus size-15" style='color: white; padding-left: 5px;'></i>
        <% end %>
        <%= link_to 'Hur fungerar det med pension?', '', class: "read-more-b5", style: 'margin-left: 5px; color: white; font-size: 12px; letter-spacing: 0.5px;' %>
      </span>
      <span class='normal-paragraph-b5' style="display: none;">
        <%= link_to '#', class: "read-less-b5" do %>
          <i class="fi-minus size-15" style='color: white; padding-left: 5px;'></i>
        <% end %>
        <%= link_to 'Hur fungerar det med pension?', '', class: "read-less-b5", style: 'margin-left: 5px; color: white; font-size: 12px; letter-spacing: 0.5px;' %>
      </span>
    </div>
    <span class='normal-paragraph-b5' style="display: none;">
      <div class='our-rates-normal-paragraph'>
        <h4 style='text-align: center;'>Hur fungerar det med pension?</h4>
        <p style='margin-left: 20px; margin-right: 20px; text-align: center;'>
          Precis som på en vanlig arbetsplats betalar vi in pension om du är mellan 25 och 65 år, vilket är ett lagstadgat krav. Denna betalning består av 4.3% av bruttolönen. <br>För företag innebär detta att vi lägger på 4.3% på er faktura för personer mellan 25 och 65 år, precis det ni skulle betalat om ni själva anställt personen.
        </p>
      </div>
    </span>
  </div>
</div>
