<div class="holy-grail-grid">

  <div class="holy-grail-left">
    <%= link_to 'Kontrollpanel', dashboards_path, class: 'button-menu' %><br>
    <%= link_to 'Konto', edit_user_registration_path, class: 'button-menu' %><br>
    <% if @profile.present? %>
      <%= link_to 'Profil', edit_profile_path(@profile.id), class: 'button-menu' %>
      <%= link_to 'Inbjudningar', invites_path(profile_id: @profile.id), class: 'button-menu' %>
      <% else %>
      <%= link_to 'Skapa profil', new_profile_path, class: 'button-menu' %>
    <% end %><br>
    <%= link_to 'Utbetalningar', payments_path, class: 'button-menu' %><br>
    <%= link_to 'Skapa faktura', new_ezinvoice_path, class: 'button-menu' %><br>
    <%= link_to 'Hitta jobb', jobs_path, class: 'button-menu' %>
    <%= link_to "Avsluta konto", registration_path(resource_name), data: { confirm: "Är du säker?" }, method: :delete, class: 'button-menu' %>
  </div>

  <div class="holy-grail-middle">
    <div class='simple-form'>
      <div class='post-title'><h3>Redigera konto</h3></div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email, class: 'form-text' %>
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :first_name, 'Förnamn', class: 'form-text' %>
          <%= f.text_field :first_name %>
        </div>

        <div class="field">
          <%= f.label :last_name, 'Efternamn', class: 'form-text' %>
          <%= f.text_field :last_name %>
        </div>

        <div class="field">
          <%= f.label :phone, 'Telefonnummer', class: 'form-text' %>
          <%= f.text_field :phone %>
        </div>
        <div style='color: #37a000;'>Betalningsinformation</div>
        <div class="field">
          <%= f.label :bank, 'Bank', class: 'form-text' %>
          <%= f.text_field :bank %>
        </div>

        <div class="field">
          <%= f.label :clear_nr, 'Clearingnummer', class: 'form-text' %>
          <%= f.text_field :clear_nr %>
        </div>

        <div class="field">
          <%= f.label :account_nr, 'Kontonummer', class: 'form-text' %>
          <%= f.text_field :account_nr %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :password, 'Nytt lösenord', class: 'form-text' %> <i>(lämna tomt om du inte vill ändra det)</i>
          <%= f.password_field :password, autocomplete: "off" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> tecken minimum</em>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, 'Bekräfta nytt lösenord', class: 'form-text' %>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :current_password, 'Nuvarande lösenord', class: 'form-text' %> <i>(Vi behöver ditt nuvarande lösenord för att bekräfta ändringarna)</i>
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "Spara", class: 'reply-button' %>
        </div>
      <% end %>
    </div>
  </div>

</div>
