<div class="site-footer-unscroll">
  <div id='footer-column' >
    <%= link_to 'Så fungerar det', howitworks_path, style: 'color: white;' %><br>
    <%= link_to 'Kontakta oss', messages_path, style: 'color: white;' %><br>
    <%= link_to 'Faktura, avgifter & lön', our_rates_path, style: 'color: white;' %><br>
    <%= link_to 'Varför Qnekt?', why_us_path, style: 'color: white;' %><br>
    <%= link_to 'FAQ', faqs_path, style: 'color: white;' %><br>
    <%= link_to 'Användarvillkor', terms_of_services_path, style: 'color: white;' %><br><br>
    <i class='fi-mail size-15'></i> info@qnekt.se <br>
    <i class='fi-telephone size-15'></i> 0707301078 <br>
    Org.nr: 559129-6099 <br>
    © Qnekt 2018
  </div>
</div>
