<div class="holy-grail-grid">
  <div class="holy-grail-left-application" >
    <div class='holy-grail-left-application-box' style='text-align: center; '>
      <%= link_to 'Kontakta', messages_path, class: 'holy-grail-left-application-box' %><br>
      <%= link_to 'S책 fungerar det', howitworks_path, class: 'holy-grail-left-application-box' %><br>
      <%= link_to 'V책ra avgifter', our_rates_path, class: 'holy-grail-left-application-box' %><br>
      <%= link_to 'Anv채ndarvillkor', terms_of_services_path, class: 'holy-grail-left-application-box' %>
    </div>
  </div>
  <div class="holy-grail-middle">
    <div class='breadcrumb-holder-small'>
      <%= render_breadcrumbs separator: ' > ' %>
    </div>
    <h3 style='margin-left: 20px;'>V책ra avgifter</h3>
    <div style="margin-left: 20px;">
    </div>
  </div>
</div>
