<div class="holy-grail-grid">
  <div class="holy-grail-left-application" >
    <div class='holy-grail-left-application-box' style='text-align: center; '>
      <%= link_to 'Så fungerar det', howitworks_path, class: 'holy-grail-left-application-box' %><br>
      <%= link_to 'Kontakta', messages_path, class: 'holy-grail-left-application-box' %><br>
      <div style='background-color: #f77d0e; margin-left: -8px; margin-right: -8px; padding-bottom: 3px;'>
        <%= link_to 'Faktura, avgifter & lön', our_rates_path, class: 'holy-grail-left-application-box', style:'color: white;' %><br>
      </div>
      <%= link_to 'Varför frilansare?', why_freelances_path, class: 'holy-grail-left-application-box' %><br>
      <%= link_to 'Användarvillkor', terms_of_services_path, class: 'holy-grail-left-application-box' %>
    </div>
  </div>
  <div class="holy-grail-middle">
    <div class='breadcrumb-holder-small'>
      <%= render_breadcrumbs separator: ' > ' %>
    </div>
    <h3 style='text-align: center;'>Fakturering, lön & avgifter</h3>
    <p style='margin-left: 20px; margin-right: 20px; text-align: center; font-weight: 550; color: #696868;'>Här förklarar vi i detalj hur det går till efter att du utfört ett jobb genom vår tjänst. Från att skapa faktura i systemet, till hur det fungerar med skatter, avgifter och din lön. Klicka på det steg du vill läsa mer om.</p>
    <div class="our-rates-box">
      <span class='truncated-paragraph-a1'>
        <%= link_to '#', class: "read-more-a1" do %>
          <i class="fi-plus size-20" style='color: white; padding-left: 10px;'></i>
        <% end %>
        <%= link_to 'FAKTURERING', '', class: "read-more-a1", style: 'margin-left: 20px; color: white; font-weight: 700;' %>
      </span>
      <span class='normal-paragraph-a1' style="display: none;">
        <%= link_to '#', class: "read-less-a1" do %>
          <i class="fi-minus size-20" style='color: white; padding-left: 10px;'></i>
        <% end %>
        <%= link_to 'FAKTURERING', '', class: "read-less-a1", style: 'margin-left: 20px; color: white; font-weight: 700;' %>
      </span>
    </div>
    <span class='normal-paragraph-a1' style="display: none;">
      <div class='our-rates-normal-paragraph'>
        <span style='color: #3db5e6; font-weight: 700;'>FRILANSARE</span><br>
        <span>När du utfört det jobb som företagaren bett om i sin annons, kommer du skapa en faktura i vårt system. Ta det lugnt det är inte så komplicerat som det låter.</span><br>
        <span>Du skriver helt enkelt in de antal timmar du arbetat. Sedan räknas beloppet ut automatiskt, klicka på skapa faktura, sen är allt klart!</span><br>
        <span>När fakturan skapats har du sju dagar på dig att justera den om något inte skulle stämma. Om du har frågor får du självklart kontakta vår kundtjänst.</span><br><br>
        <span style='color: #3db5e6; font-weight: 700;'>FÖRETAG</span><br>
        <span>När frilansaren utfört det jobb ni kommit överens om i annonsen, skickas en faktura från dem i vårt system.</span><br>
        <span>Så fort fakturan skapats kan ni se den i kontrollpanelen. Inom sju dagar har ni möjlighet att begära eventuella ändringar. Ni kan även begära längre betaltid eller om ni önskar få fakturan per post.</span><br>
        <span>Från att fakturan skickats har ni 15 dagar på er att betala i normala fall. Om ni har några frågor får ni självklart kontakta vår kundtjänst.</span><br>
        <span style='color: #3db5e6; font-weight: 700;'>Vad betalar företag för en arbetare?</span><br>
        <span>Om en person arbetar 100 timmar och får 100kr/timma blir det 10 000kr i bruttolön.</span><br>
        <span>Lagstadgad semesterersättning måste betalas på 12% av bruttolönen vilket blir 1200kr.</span><br>
        <span>Bruttolön inkl. semesterersättning = 11 200kr</span><br>
        <span>Arbetsgivaravgifter på bruttolön inkl. semesterersättning måste betalas på 31,42% vilket blir 3519kr.</span><br>
        <span>Till detta tillkommer AFA-försäkringar för arbetare som tillhandahålls genom Fora. För personer mellan 25 och 65 år blir denna avgift 4.6%, vilket blir 515kr. Av dessa 515kr eller 4.6% består 4,3% eller 482kr av pension som företag måste betala särskild löneskatt på. Löneskatten är på 24,26%, vilket blir 117kr.</span><br>
        <span>Ni betalar 11 200 + 3519 + 515 + 117 = 15 351kr exkl. moms. Alltså precis det ni skulle betalat om ni anställt personen själva.</span>
      </div>
    </span>
    <div class="our-rates-box">
      <span class='truncated-paragraph-a2'>
        <%= link_to '#', class: "read-more-a2" do %>
          <i class="fi-plus size-20" style='color: white; padding-left: 10px;'></i>
        <% end %>
        <%= link_to 'AVGIFTER & SKATTER', '', class: "read-more-a2", style: 'margin-left: 20px; color: white; font-weight: 700;' %>
      </span>
      <span class='normal-paragraph-a2' style="display: none;">
        <%= link_to '#', class: "read-less-a2" do %>
          <i class="fi-minus size-20" style='color: white; padding-left: 10px;'></i>
        <% end %>
        <%= link_to 'AVGIFTER & SKATTER', '', class: "read-less-a2", style: 'margin-left: 20px; color: white; font-weight: 700;' %>
      </span>
    </div>
    <span class='normal-paragraph-a2' style="display: none;">
      <div class='our-rates-normal-paragraph'>
        <span>När en faktura har skapats och en frilansare ska få en lön måste skatter och arbetsgivaravgifter betalas. I vanliga fall gör företaget som anställer personen detta och om du är egenföretagare är du själv ansvarig för att detta ska betalas in till skatteverket.</span><br>
        <span>Genom vår tjänst står vi för allt ansvar med skatter, arbetsgivaravgifter & löner. Du kan känna dig trygg och säker att allt sköts ordentligt.</span><br>
        <br>
        <span>För denna tjänst tar vi en liten avgift. Avgiften varierar beroende på hur mycket du totalt har tjänat/fakturerat genom vår tjänst. Ju mer du fakturerat desto mindre avgift betalar du till oss.</span><br>
        <span>När det kommer till skatter och arbetsgivaravgifter kan de också variera något beroende på var du bor och hur gammal du är. Vi räknar dock alltid med 30% skatt men vanligtvis blir det något lägre. Arbetsgivaravgifterna är alltid samma under 65 års ålder men något lägre om du är över 65 år.</span><br>
        <span style='font-weight: 550;'>För företag är vår tjänst helt gratis.</span><br>
        <br>
        <span>Här ser du hur mycket du behöver tjäna/fakturera för att nå de olika nivåerna.</span><br>
        <span style='font-weight: 550;'>Nivå 1: 0 - 10 000 kr = 10% avgift</span><br>
        <span style='font-weight: 550;'>Nivå 2: 10 000 - 20 000 kr = 9% avgift</span><br>
        <span style='font-weight: 550;'>Nivå 3: 20 000 - 50 000 kr = 8% avgift</span><br>
        <span style='font-weight: 550;'>Nivå 4: 50 000 - 100 000 kr = 7% avgift</span><br>
        <span style='font-weight: 550;'>Nivå 5: 250 000 - 500 000 kr = 6% avgift</span><br>
        <span style='font-weight: 550;'>Nivå 6: Mer än 500 000 kr = 5% avgift</span><br>
        <span>Alla belopp är det totala bruttobeloppet du tjänar under tiden du är registrerad hos oss.</span><br>
        <span>Det räcker alltså med att jobba 63 timmar och få 160 kr i timman för att nå nivå 2. 125 timmar för nivå 3 etc.</span><br>
      </div>
    </span>
    <div class="our-rates-box">
      <span class='truncated-paragraph-a3'>
        <%= link_to '#', class: "read-more-a3" do %>
          <i class="fi-plus size-20" style='color: white; padding-left: 10px;'></i>
        <% end %>
        <%= link_to 'LÖN', '', class: "read-more-a3", style: 'margin-left: 20px; color: white; font-weight: 700;' %>
      </span>
      <span class='normal-paragraph-a3' style="display: none;">
        <%= link_to '#', class: "read-less-a3" do %>
          <i class="fi-minus size-20" style='color: white; padding-left: 10px;'></i>
        <% end %>
        <%= link_to 'LÖN', '', class: "read-less-a3", style: 'margin-left: 20px; color: white; font-weight: 700;' %>
      </span>
    </div>
    <span class='normal-paragraph-a3' style="display: none;">
      <div class='our-rates-normal-paragraph'>
        <span style='color: #3db5e6; font-weight: 700;'>Hur mycket får man då i lön när man jobbar?</span><br>
        <span>Här kan du se ett räkneexempel.</span><br>
        <span>35 årig snickare har jobbat en vecka för ett byggbolag och skapar en faktura.</span><br>
        <span>Snickaren har diskuterat med företaget och han får en timlön på 180kr/timma. Under veckan arbetade han 60 timmar.</span><br>
        <span>180kr gånger antal timmar 60 = 10 800kr</span><br>
        <span>Bruttolön inkl. semesterersättning(12% av lön) = 12 096kr</span><br>
        <span>Vår avgift är 10% av bruttolönen inkl. semesterersättning = 1210kr</span><br>
        <span>Nya bruttolönen inkl. semesterersättning blir 10 886kr</span><br>
        <span>Skatt 30% på 10 886kr är 3266kr</span><br>
        <span>Lön efter skatt och avgifter = 7620kr</span><br>
        <br>
        <span>Om samma snickare sedan skulle fortsätta jobba i samma takt nästa vecka så betalar han endast 9% i avgift på den veckans faktura.</span><br>
        <span>Och säg att han skulle arbetat en månad skulle han få ut en månadslön efter skatt på 30 905kr, då han endast betalar 8% avgift på de sista två fakturorna den månaden.</span><br>
        <span>Den månadslönen höjs senare om han fortsätter fakturera genom vår tjänst med tanke på att vår avgift sänks i de steg du kan läsa om i tidigare avsnitt.</span><br>
        <br>
        <span style='color: #3db5e6; font-weight: 700;'>När blir lönen utbetald?</span><br>
        <span>Fakturorna skickas med 15 dagars betaltid till företaget. Så fort företaget betalt fakturan och vi ser att pengarna kommit in, betalar vi ut lön till dig som frilansare.</span><br>
        <span>Vad händer om företaget inte betalar?</span><br>
        <span>Vi kommer skicka påminnelse till det företaget som inte betalat sin faktura i tid. Förhoppningsvis betalar de fakturan och lönen blir utbetald. Men om de inte skulle betala, har vi också samarbete med inkassobolag som då kopplas in för att få in dina pengar. Vi kommer under denna processen göra allt för att pengarna ska betalas, du ska få din lön och känna dig trygg.</span><br>
      </div>
    </span>
  </div>
</div>
