<div class="holy-grail-grid">

  <div class="holy-grail-left">
    <%= link_to 'Kontrollpanel', dashboards_path, class: 'button-menu' %><br>
    <%= link_to 'Konto', edit_user_registration_path, class: 'button-menu' %><br>
    <% if current_user.profile.present? %>
      <%= link_to 'Profil', edit_profile_path(current_user.profile.id), class: 'button-menu' %>
      <%= link_to 'Utbetalningar', payments_path, class: 'button-menu' %>
      <% else %>
      <%= link_to 'Skapa profil', new_profile_path, class: 'button-menu' %>
    <% end %><br>
    <%= link_to 'Fakturera utan företag', ezinvoices_path, class: 'button-menu' %><br>
    <%= link_to 'Hitta jobb', jobs_path, class: 'button-menu' %>
  </div>
  <div class="holy-grail-middle">
    <div class="simple-form">
      <div class='post-title'><h3>Utbetalningsdetaljer</h3></div>
      <div class='invoice-details'>
        <%= link_to '✎ Redigera arbetspass och tider', edit_invoice_path(@invoice), class: 'text-link-orange', style: 'font-size: 16px; font-weight: 600;' %><br>
        Utbetalnings ID: <%= @invoice.id.first(8) %><br>
        <strong>Antal timmar:</strong> <%= @invoice.quantity %>st <br>
        <strong>Timlön:</strong> <%= @invoice.unit %>kr/timma <br>
        <% if @invoice.add_ob == true %>
          <strong>OB-lön:</strong> <%= @invoice.ob_amount.round %> SEK <br>
        <% end %>
        <strong>Total bruttolön:</strong> <%= @invoice.amount %> SEK <br>
        <strong>Lön som betalas ut:</strong> <%= @invoice.nettolon %> SEK <br>
        Arbetsgivaravgifter(31,42%): <%= @invoice.arbetsgivaravgifter_ef_avg %> SEK<br>
        Sociala avgifter(<%= @invoice.soc_avgift_procent%>%): <%= @invoice.sociala_avgifter_ef_avg %> SEK<br>
        <% if (25..64).include? @invoice.age %>
          Varav pensionsinbetalning: <%= (@invoice.bruttolon_ef_avg * 0.043).round %> SEK<br>
        <% end %>
        Startdag: <%= @invoice.first_day %> <br>
        Sista dag: <%= @invoice.last_day %><br>
        Jobb ID: <%= @invoice.job_id %><br>
        Ansöknings ID: <%= @invoice.application_id %><br>
        Profil: <%= @invoice.profile_username %><br>
        Beskrivning: <%= @invoice.description %> <br>
        Referens: <%= @invoice.user_reference %><br>
        Företagsreferens: <%= @invoice.company_reference %><br>
        Skapad: <%= @invoice.created_at.strftime("%F %R") %><br>
        <% if @invoice.paid == true %>
          Betalningsstatus: <p style="color: green;">Godkänd</p>
          <%= link_to 'Visa mer utbetalningsinfo', payment_path(@invoice), class: 'button-orange' %><br>
        <% else %>
          <span style="color: red;">Betalning ej bekräftad</span>(kan ta upp till 2 arbetsdagar från betalningen blev genomförd)
        <% end %>
      </div>
    </div>
  </div>
</div>
