<div class="holy-grail-grid">

  <div class="holy-grail-left">
    <%= link_to 'Kontrollpanel', panels_path, class: 'button-menu' %>
    <%= link_to 'Konto', edit_company_registration_path, class: 'button-menu' %>
    <%= link_to 'Skapa jobb', new_job_path, class: 'button-menu' %>
    <%= link_to 'Hitta frilansare', profiles_path, class: 'button-menu' %>
  </div>

  <div class="holy-grail-middle">
    <div class='simple-form'>
    <div class='post-title'><h3>Fakturadetaljer</h3></div>
    Faktura ID: <%= @invoice.id %><br>
    Jobb ID: <%= @invoice.job_id %><br>
    Ansöknings ID: <%= @invoice.application_id %><br>
    Profil: <%= @invoice.profile_username %><br>
    Beskrivning: <%= @invoice.description %> <br>
    Referens: <%= @invoice.user_reference %><br>
    Er referens: <%= @invoice.company_reference %><br>
    Startdag: <%= @invoice.first_day %> <br>
    Sista dag: <%= @invoice.last_day %><br>
    Antal timmar: <%= @invoice.quantity %> <br>
    Enhet: <%= @invoice.unit %> <br>
    Summa att betala: <%= @invoice.amount %> SEK<br>
    Villkor: <%= @invoice.terms %> dagar<br>
    <% if @invoice.active == false %>
      Status: <p style="color: red;">Ej godkänd</p>
    <% else %>
      Status: <p style="color: green;">Godkänd</p>
    <% end %>
    <% if @invoice.paid == false %>
      Betalningsstatus: <p style="color: red;">Ej betald</p>
    <% else %>
      Betalningsstatus: <p style="color: green;">Betald</p>
    <% end %>
    <%= form_tag activate_invoice_path(@invoice), method: :patch do %>
    <%= hidden_field_tag :terms, '30' %>
    <%= check_box_tag :terms, checked = '60' %>
    Klicka för att få 60 dagar fakturatid när du godkänner(+500kr)<br>
    <%= submit_tag 'Godkänn', data: { confirm: "Är du säker?" }, class: 'profile-button-expand' %>
    <% end %>
    </div>
  </div>
</div>
