<div class="holy-grail-grid">
  <div class="holy-grail-left-application" >
    <div class='holy-grail-left-application-box' style='text-align: center; '>
      <%= link_to 'Så fungerar det', howitworks_path, class: 'holy-grail-left-application-box' %><br>
      <%= link_to 'Kontakta', messages_path, class: 'holy-grail-left-application-box' %><br>
      <%= link_to 'Faktura, avgifter & lön', our_rates_path, class: 'holy-grail-left-application-box' %><br>
      <div style='background-color: #f77d0e; margin-left: -8px; margin-right: -8px; padding-bottom: 3px;'>
        <%= link_to 'Varför frilansare?', why_freelances_path, class: 'holy-grail-left-application-box', style:'color: white;' %><br>
      </div>
      <%= link_to 'Användarvillkor', terms_of_services_path, class: 'holy-grail-left-application-box' %>
    </div>
  </div>
  <div class="holy-grail-middle">
    <div class='breadcrumb-holder-small'>
        <%= render_breadcrumbs separator: ' > ' %>
    </div>
    <h3 style='text-align: center;'>Varför frilansare?</h3>
    <p style='margin-left: 20px; margin-right: 20px; text-align: center; font-weight: 550; color: #696868;'>
      När du lägger upp en profil på ANewBiz och söker jobb gör du det som frilansare. <br>
      Varför kallas det frilansare och vad innebär det för dig?
    </p>
    <p style='margin-left: 20px; margin-right: 20px; text-align: center;'>
      <span style='color: #3db5e6; font-weight: 700;'>- Mer frihet genom frilans</span> <br>
      Genom att frilansa vill vi ge dig som arbetssökande mer frihet. Vi vill att du ska kunna jobba när, var och för vem du vill.
    </p>
    <p style='margin-left: 20px; margin-right: 20px; text-align: center;'>
      <span style='color: #3db5e6; font-weight: 700;'>- Superenkelt</span> <br>
      Vi har förenklat hela processen från att du söker ett jobb till att du får betalt. Det enda du behöver fokusera på är att göra ett bra jobb.
    </p>
    <p style='margin-left: 20px; margin-right: 20px; text-align: center;'>
      <span style='color: #3db5e6; font-weight: 700;'>- Stor chans att hitta ditt drömjobb</span> <br>
      Vi vill ge dig som arbetssökande ett verktyg för att hitta din drömarbetsplats. Genom ANewBiz får du en snabb väg ut till massor av spännande företag. Om du gör ett bra jobb och arbetsgivaren lägger märke till dig, då öppnar det upp för vidare anställning.
    </p>
    <p style='margin-left: 20px; margin-right: 20px; text-align: center;'>
      <span style='color: #3db5e6; font-weight: 700;'>- Vad skiljer frilans från andra anställningar?</span> <br>
      Skillnaden är att du söker de jobb du är intresserad av på vår plattform. Företagen söker inte upp dig utan du har full kontroll över vilka jobb du söker och anställs för.
    </p>
    <p style='margin-left: 20px; margin-right: 20px; text-align: center;'>
      <span style='color: #3db5e6; font-weight: 700;'>- Jag är intresserad! Hur gör jag?</span> <br>
      <div class="hero-divider-2" style='margin-top: -5px;'>
        <ol class="progress-indicator">
          <li class="is-complete" data-step="1">
            <span>Registrera dig & skapa en profil</span>
          </li>
          <li class="is-complete" data-step="2">
            <span>Hitta jobb som passar & skapa en ansökan</span>
          </li>
          <li class="is-current" data-step="3">
            <span>Bli anställd & utför jobbet</span>
          </li>
          <li class="is-current" data-step="4">
            <span>Ange dina timmar & få betalt</span>
          </li>
        </ol>
      </div>
    </p>
  </div>
</div>
