<p class="portfolio-resume-subheader">
  <% @applications.expired.hired.each do |application| %>
      <span class='item-define'>ID:</span> <%= application.id %><br>
      <span class='item-define'>Meddelande:</span> <%= application.message %><br>
      <span class='item-define'>Hired:</span> <%= application.hired %><br>
      <span class='item-define'>Complete:</span> <%= application.complete %><br>
      <span class='item-define'>Jobb ID:</span> <%= application.job_id %><br>
      <span class='item-define'>Jobb title:</span> <%= application.job_title %><br>
      <span class='item-define'>Profil ID:</span> <%= application.profile_id %><br>
      <span class='item-define'>Profile username:</span> <%= application.profile_username %><br>
      <span class='item-define'>Skapad:</span> <%= application.created_at.strftime("%F %R") %><br>
      <span class='item-define'>Uppdaterad:</span> <%= application.updated_at.strftime("%F %R") %><br><br>
  <% end %>
</p>
<div class="will-paginate">
    <%= will_paginate @applications, renderer: FoundationPagination::Rails, previous_label: 'Tidigare', next_label: 'Nästa', inner_window: 1, outer_window: 1 %>
</div>
