<span id='complete-employments'>
<% if @applications_complete.present? %>
  <% @applications_complete.each do |application| %>
    <div class='portfolio-card'>
      <div class='portfolio-card-header'><%= link_to application.profile_username, profile_path(application.profile_id) %></div>
      <div class="portfolio-resume-subheader">
        <%= application.job_title %><br>
        Ansöknings ID: <%= application.id %><br>
        Jobb ID: <%= application.job_id %>
      </div>
      <%= link_to 'Visa ansökan', job_application_path(application.job_id, application.id), class: 'button-green' %>
    </div>
  <% end %>
<% else %>
  <p>Inga färdiga jobb ännu</p>
<% end %>
</span>
<div class="will-paginate">
    <%= will_paginate @applications_complete, param_name: 'complete', renderer: FoundationPagination::Rails, previous_label: 'Tidigare', next_label: 'Nästa', inner_window: 1, outer_window: 1 %>
</div>
