<span id='active-employments'>
<% if @applications_hired.present? %>
  <% @applications_hired.each do |application| %>
    <div class='portfolio-card'>
      <div class='portfolio-card-header'><%= link_to application.profile_username, profile_path(application.profile_id) %></div>
      <div class="portfolio-resume-subheader">
        <%= application.job_title %><br>
        Ansöknings ID: <%= application.id %><br>
        Jobb ID: <%= application.job_id %><br>
        Första jobbdag:
        <% if application.first_day.present? %>
          <%= application.first_day %><br>
        <% end %>
        Sista jobbdag:
        <% if application.last_day.present? %>
          <%= application.last_day %>
        <% end %>
      </div>
      <%= link_to 'Visa ansökan', job_application_path(application.job_id, application.id), class: 'button-green' %>
      <span class='truncated-paragraph-<%= application.id %>'>
        <%= link_to 'Förläng', '', class: "read-more-#{application.id}", style: 'background: #f77d0e; color: #fff; display: inline-block; text-align: center; text-transform: uppercase; line-height: 1; font-size: 0.7rem; font-weight: 700; letter-spacing: 0.5px; padding: 0.3rem 0.5rem 0.3rem; border: none;' %>
      </span>
      <span class='normal-paragraph-<%= application.id %>' style="display: none;">
        <%= form_tag extend_job_application_path(application.job, application), method: :patch do %>
          <div class="fieldContainer">
            <%= label_tag :last_day, 'Nytt slutdatum', class: 'form-text' %>
            <%= date_field_tag :last_day, nil, value: application.last_day, style: 'width: 180px; margin-left: 20%;' %>
            <div class="fieldInfo">
              Tips <br>
              Innan du förlänger, kom överens med den anställde om slutdatum. Max 30 dagars anställningar.
            </div>
          </div>
          <%= submit_tag 'Ändra', class: 'button-orange' %>
        <% end %>
        <%= link_to 'Stäng x', '', class: "read-less-#{application.id}", style: 'background: white; color: black; display: inline-block; text-align: center; text-transform: uppercase; line-height: 1; font-size: 0.7rem; font-weight: 700; letter-spacing: 0.5px; padding: 0.3rem 0.5rem 0.3rem;' %>
        <br>
      </span>
    </div>
  <% end %>
<% else %>
  <div class='portfolio-card'>
    <div class='portfolio-card-header'><strong>Inga aktiva anställningar</strong></div>
  </div>
<% end %>
</span>
<div class="will-paginate">
    <%= will_paginate @applications_hired, param_name: 'hired', renderer: FoundationPagination::Rails, previous_label: 'Tidigare', next_label: 'Nästa', inner_window: 1, outer_window: 1 %>
</div>
