<div class="holy-grail-grid">

  <div class="holy-grail-left">
    <%= link_to 'Kontrollpanel', panels_path, class: 'button-menu' %>
    <%= link_to 'Konto', edit_company_registration_path, class: 'button-menu' %>
    <%= link_to 'Skapa annons', new_job_path, class: 'button-menu' %>
    <%= link_to 'Hitta frilansare', profiles_path, class: 'button-menu' %>
  </div>

  <div class="holy-grail-middle">
    <div class="portfolio-resume row">

      <div class="large-4 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Konto</h3>
          <p class="portfolio-resume-subheader">
            Email: <%= current_company.email %><br><br>
            Företagsnamn: <%= current_company.name %><br>
            Konto ID: <%= current_company.id %><br>
            Användarnamn: <%= current_company.username %><br>
            Adress: <%= current_company.address %><br>
            Postnummer: <%= current_company.zip_code %><br>
            Stad: <%= current_company.city %><br>
            Organisationsnummer: <%= current_company.org_number %><br>
            Telefonnummer: <%= current_company.phone %><br>
            </p>
            <%= link_to 'Redigera konto', edit_company_registration_path, class: 'button-green'  %>
        </div>
      </div>

      <div class="large-4 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Notifieringar</h3>
          <div class="portfolio-resume-subheader" data-behavior="notifications">
            <a class="portfolio-resume-subheader-items" data-behavior="notification-items"></a>
          </div>
        </div>
      </div>

      <div class="large-4 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Aktiva annonser</h3>
          <% if @job.present? %>
            <% @job.each do |job| %>
              <p class="portfolio-resume-subheader">
              <%= link_to job.title, job_path(job) %><br>
              Jobb ID: <%= job.id %><br>
              Skapat: <%= job.created_at.strftime("%F %R") %><br>
              Antal svar: <%= job.applications.count %><br>
              <% if job.active == true %>
                <p class="dash-active", style="color: green;">Aktivt</p>
              <% else %>
                <p class="dash-active", style="color: red;">Inaktivt</p>
              <% end %>
              </p>
              <%= link_to 'Redigera jobb', edit_job_path(job), class: 'button-green' %>
              <%= link_to 'Radera', job_path(job), data: { confirm: "Är du säker? Detta kommer radera alla ansökningar & fakturor." }, method: :delete, class: 'button-orange' %>
            <% end %>
          <% else %>
            <h6><strong>Inga jobb ännu</strong></h6>
            <%= link_to 'Skapa jobb', new_job_path, class: 'button-green' %>
          <% end %>
        </div>
      </div>
    </div>
    <hr>
    <div class="portfolio-resume row">
      <div class="large-4 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Aktiva anställningar</h3>
          <% if @application.present? %>
            <% @application.each do |application| %>
              <p class="portfolio-resume-subheader">
              <% if application.hired == true %>
                <% if application.complete == false %>
                  <%= link_to application.profile_username, profile_path(application.profile_id) %><br>
                  Ansöknings ID: <%= application.id %><br>
                  Jobb ID: <%= application.job_id %><br>
                  <%= link_to 'Visa ansökan', job_application_path(application.job_id, application.id), class: 'button-green' %>
                  <%= link_to 'Godkänn', complete_job_application_path(application.job_id, application.id), method: :patch, data: { confirm: "Är du säker?" }, class: 'button-orange' %>
                  </p>
                <% end %>
              <% end %>
            <% end %>
          <% else %>
            <p>Inga aktiva jobb ännu</p>
          <% end %>
        </div>
      </div>
      <div class="large-4 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Färdiga anställningar</h3>
          <% if @application.present? %>
            <% @application.each do |application| %>
              <p class="portfolio-resume-subheader">
              <% if application.hired == true %>
                <% if application.complete == true %>
                  <%= link_to application.profile_username, profile_path(application.profile_id) %><br>
                  Ansöknings ID: <%= application.id %><br>
                  Jobb ID: <%= application.job_id %><br>
                  <%= link_to 'Visa ansökan', job_application_path(application.job_id, application.id), class: 'button-green' %>
                  </p>
                <% end %>
              <% end %>
            <% end %>
          <% else %>
            <p>Inga färdiga jobb ännu</p>
          <% end %>
        </div>
      </div>
      <div class="large-4 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Fakturor</h3>
            <% if @invoices.present? %>
              <% @invoices.each do |invoice| %>
                <p class="portfolio-resume-subheader">
                Faktura ID: <%= invoice.id %><br>
                Jobb ID: <%= invoice.job_id %><br>
                Ansöknings ID: <%= invoice.application_id %><br>
                Skapad: <%= invoice.created_at.strftime("%Y-%m-%d") %><br>
                <% if invoice.active == false %>
                  <p class="dash-active-inv", style="color: red;">Ej godkänd</p>
                  <%= link_to 'Visa', invoice_path(invoice), class: 'button-green' %>
                  <%= link_to 'Godkänn', invoice_path(invoice), class: 'button-orange' %>
                <% else %>
                  <p class="dash-active-inv", style="color: green;">Godkänd <%= invoice.updated_at.strftime("%Y-%m-%d")%></p>
                  <%= link_to 'Visa', invoice_path(invoice), class: 'button-green' %>
                <% end %>
                </p>
              <% end %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
