<h1>Company control panel</h1>
<div class="holy-grail-grid">

  <div class="holy-grail-left">
    <ul>
      <li>
        <%= link_to 'Account', edit_company_registration_path %>
      </li>
      <li>
        <%= link_to 'Payments' %>
      </li>
      <li>
        <%= link_to 'Create job', new_job_path %>
      </li>
      <li>
        <%= link_to 'Invoices' %>
      </li>
    </ul>
  </div>

  <div class="holy-grail-middle">
    <div class="marketing-site-content-section">
      <div class="marketing-site-content-section-block">
        <h3 class="marketing-site-content-section-block-header">Account info</h3>
        <p class="marketing-site-content-section-block-subheader subheader">
          Email: <%= current_company.email %><br><br>
          Name: <%= current_company.name %><br>
          Address: <%= current_company.address %><br>
          Zip code: <%= current_company.zip_code %><br>
          City: <%= current_company.city %><br>
          Org number: <%= current_company.org_number %><br>
          Phone: <%= current_company.phone %>
        </p>
        <%= link_to 'Edit Account', edit_company_registration_path, class: 'round button small'  %>
      </div>
      <div class="marketing-site-content-section-block">
        <h3 class="marketing-site-content-section-block-header">Payment info</h3>
        <p class="marketing-site-content-section-block-subheader subheader">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam omnis, maxime libero natus qui minus!</p>
          <%= link_to 'Payments', panels_path, class: 'round button small' %>
      </div>
      <div class="marketing-site-content-section-block">
        <h3 class="marketing-site-content-section-block-header">Jobs</h3>
        <p class="marketing-site-content-section-block-subheader subheader">
        <% if @job.present? %>
          <% @job.each do |job| %>
          <div>
            <%= link_to job.title, job_path(job) %><br>
            Skapat: <%= job.created_at.strftime("%Y-%m-%d") %><br>
            <%= link_to 'Edit job', edit_job_path(job), class: 'tiny round button inc' %>
            <%= link_to 'Delete job', job_path(job), data: { confirm: "Are you sure?" }, method: :delete, class: 'tiny round button alert' %>
          </div>
          <% end %>
        <% else %>
          <h6><strong>No jobs yet</strong></h6>
          <%= link_to 'Create job', new_job_path, class: 'round button small' %>
        <% end %>
      </p>
      </div>
      <div class="marketing-site-content-section-block">
        <h3 class="marketing-site-content-section-block-header">Invoices</h3>
        <p class="marketing-site-content-section-block-subheader subheader">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam omnis, maxime libero natus qui minus!</p>
        <a href="#" class="round button small">View invoices</a>
      </div>
    </div>

  </div>

</div>
