<h3>Company control panel</h3>
<div class="holy-grail-grid">

  <div class="holy-grail-left">
    <ul>
      <li>
        <%= link_to 'Account', edit_company_registration_path %>
      </li>
      <li>
        <%= link_to 'Payments' %>
      </li>
      <li>
        <%= link_to 'Create job', new_job_path %>
      </li>
      <li>
        <%= link_to 'Invoices' %>
      </li>
    </ul>
  </div>

  <div class="holy-grail-middle">
    <div class="portfolio-resume row">

      <div class="large-4 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Account info</h3>
          <p class="portfolio-resume-subheader">
            Email: <%= current_company.email %><br><br>
            Company name: <%= current_company.name %><br>
            Username: <%= current_company.username %><br>
            Address: <%= current_company.address %><br>
            Zip code: <%= current_company.zip_code %><br>
            City: <%= current_company.city %><br>
            Org number: <%= current_company.org_number %><br>
            Phone: <%= current_company.phone %><br>
            </p>
            <%= link_to 'Edit Account', edit_company_registration_path, class: 'round button small'  %>
        </div>
      </div>

      <div class="large-4 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Payment info</h3>
          <p class="portfolio-resume-subheader">
            <%= link_to 'Payments', panels_path, class: 'round button small' %>
          </p>
        </div>
      </div>

      <div class="large-4 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Jobs</h3>
            <% if @job.present? %>
              <% @job.each do |job| %>
                <p class="portfolio-resume-subheader">
                <%= link_to job.title, job_path(job) %><br>
                Job ID: <%= job.id %><br>
                Skapat: <%= job.created_at.in_time_zone("Stockholm").strftime("%D %R") %><br>
                Antal svar: <%= job.applications.count %><br>
                <% if job.active == true %>
                  <p class="dash-active", style="color: green;">Aktivt</p>
                <% else %>
                  <p class="dash-active", style="color: red;">Inaktivt</p>
                <% end %>
                </p>
                <%= link_to 'Edit job', edit_job_path(job), class: 'tiny round button inc' %>
                <%= link_to 'Delete job', job_path(job), data: { confirm: "Are you sure? This will delete all applications and accepted answers." }, method: :delete, class: 'tiny round button alert' %>
              <% end %>
            <% else %>
              <h6><strong>No jobs yet</strong></h6>
              <%= link_to 'Create job', new_job_path, class: 'round button small' %>
            <% end %>
        </div>
      </div>
    </div>
    <hr>
    <div class="portfolio-resume row">
      <div class="large-4 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Active jobs</h3>
          <p class="portfolio-resume-subheader">
            <% if @application.present? %>
              <% @application.each do |application| %>
                <% if application.hired == true %>
                  <% if application.complete == false %>
                    <%= link_to application.profile_username, profile_path(application.profile_id) %><br>
                    ID: <%= application.id %><br>
                    Job ID: <%= application.job_id %><br>
                    <%= link_to 'View application', job_application_path(application.job_id, application.id), class: 'tiny round button inc' %><br>
                    <%= link_to 'Complete', complete_job_application_path(application.job_id, application.id), method: :patch, data: { confirm: "Are you sure?" }, class: 'tiny round button alert' %>
                  <% end %>
                <% end %>
              <% end %>
            <% else %>
              <p>No active jobs yet!</p>
            <% end %>
          </p>
        </div>
      </div>
      <div class="large-4 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Completed jobs</h3>
          <p class="portfolio-resume-subheader">
            <% if @application.present? %>
              <% @application.each do |application| %>
                <% if application.hired == true %>
                  <% if application.complete == true %>
                    <%= link_to application.profile_username, profile_path(application.profile_id) %><br>
                    ID: <%= application.id %><br>
                    Job ID: <%= application.job_id %><br>
                    <%= link_to 'View application', job_application_path(application.job_id, application.id), class: 'tiny round button inc' %><br>
                  <% end %>
                <% end %>
              <% end %>
            <% else %>
              <p>No completed jobs yet!</p>
            <% end %>
          </p>
        </div>
      </div>
      <div class="large-4 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Invoices</h3>
            <p class="portfolio-resume-subheader">
              <% if @invoices.present? %>
                <% @invoices.each do |invoice| %>
                  Invoice ID: <%= invoice.id %><br>
                  Job ID: <%= invoice.job_id %><br>
                  Application ID: <%= invoice.application_id %><br>
                  <% if invoice.active == false %>
                    <p class="dash-active", style="color: red;">Ej godkänd</p><br>
                    <%= link_to 'Visa', invoice_path(invoice), class: 'tiny round button inc' %>
                    <%= link_to 'Godkänn', activate_invoice_path(invoice), method: :patch, data: { confirm: "Are you sure?" }, class: 'tiny round button alert' %>
                  <% else %>
                    <p class="dash-active", style="color: green;">Godkänd</p><br>
                    <%= link_to 'Visa', invoice_path(invoice), class: 'tiny round button inc' %>
                  <% end %>
                <% end %>
              <% end %>
            </p>
        </div>
      </div>
    </div>
  </div>
</div>
