<div class="holy-grail-grid">

  <div class="holy-grail-left">
    <%= link_to 'Kontrollpanel', administrations_path, class: 'button-menu' %>
    <%= link_to 'Användare', users_path, class: 'button-menu' %>
    <%= link_to 'Frilansare', adminprofiles_path, class: 'button-menu' %>
    <%= link_to 'Företag', companies_path, class: 'button-menu' %>
    <%= link_to 'Jobb', adminjobs_path, class: 'button-menu' %>
    <%= link_to 'Fakturor', admininvoices_path, class: 'button-menu' %>
    <%= link_to 'Snabbfakturor', adminezinvoices_path, class: 'button-menu' %>
    <%= link_to 'Ansökningar', applications_path, class: 'button-menu' %>
    <%= link_to 'Betalningar', adminpayments_path, class: 'button-menu' %>
  </div>

  <div class="holy-grail-middle">
    <div class="portfolio-resume row">
      <div class="large-12 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Alla ansökningar</h3>
          <%= form_tag applications_path, method: 'get' do %>
            <%= text_field_tag :with_id, nil, placeholder: 'Sök efter ID' %>
            <%= text_field_tag :with_job_id, nil, placeholder: 'Sök efter jobb ID' %>
            <%= text_field_tag :with_profile_id, nil, placeholder: 'Sök efter profil ID' %>
            <%= submit_tag 'Sök', class: 'filter-button' %>
            <%= link_to 'Filtrera ej färdiga', filter_applications_path, class: 'filter-button' %>
          <% end %>
          <div id='pagination-js'>
            <div id="admin-applications">
              <%= render 'admin_applications' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
