<div class="holy-grail-grid">
  <div class="holy-grail-left-application">
    <div class='holy-grail-left-application-box'>
      <div class='contact-title'>
        <span style='color: white; font-weight: 700;'>Tips för en bra ansökan</span>
      </div>
      Hur utförlig din ansökan skrivs och hur bra din profil matchar jobbet ökar dina chanser för att få jobbet. <br>
      Kontaktinformation ska ej finnas med i ansökan. Företaget kommer kontakta er genom chatten. 
    </div>
  </div>
  <div class="holy-grail-middle">
    <div class='breadcrumb-holder-small'>
        <%= render_breadcrumbs separator: ' > ' %>
    </div>
    <div class="simple-form">
      <div class='post-title'><h3>Skapa ansökan</h3></div>
      <% if current_user.profile.present? %>
        <%= form_for ([@job, @application]) do |f| %>
        <% if @application.errors.any? %>
          <% @application.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        <% end %>
        <div class="fieldContainer">
          <%= f.text_area :message, placeholder: 'Skriv en kort ansökan' %>
          <div class="fieldInfo">
            Tips <br>
            I din ansökan kommer din profil(användarnamn, titel, beskrivning etc.) att bifogas. Skriv därför en ansökan baserat just på det jobb du söker till. Håll utkik i din kontrollpanel och mailkorg för svar på ansökan.
          </div>
        </div>
        <%= f.submit 'Skapa', class: 'reply-button' %>
        <% end %>
      <% else %>
      <p>Var vänlig skapa en profil innan du ansöker till jobb <%= link_to 'Klicka här', dashboards_path %></p>
      <% end %>
    </div>
  </div>
</div>
