<h3>Create a job application</h3>
<div class="card-profile-stats">
  <div class="simple-form">
    <% if @profile.present? %>
      <%= form_for ([@job, @application]) do |f| %>
      <%= f.label :message %>
      <%= f.text_area :message %>
      <%= f.submit 'Submit', class: 'boton-large' %>
      <% end %>
    <% else %>
    <p>Please create a profile before you apply. <%= link_to 'Click here', dashboards_path %></p>
    <% end %>
  </div>
</div>
