<h3>Ansökan</h3>
  <div class="card profile-card-action-icons">
      <div class="card-section">
          <div class="profile-card-header">
              <div class="profile-card-author">
                  <h5 class="author-title"><%= link_to @application.profile_username, profile_path(@application.profile_id) %></h5>
              </div>
          </div>
          <div class="profile-card-about-message">
            Ansökan: <br>
            <%= @application.message %>
          </div>
      </div>
  </div>
  <div class="holy-grail-grid-show">
    <div class="holy-grail-left-application">
      <p class="portfolio-resume-subheader">
        <% if @application.complete == true %>
          <% if current_user.present? %>
            <div class='portfolio-resume-subheader-title'>
              SKAPA FAKTURA
            </div>
            <%= form_tag invoices_path(@invoice, company_id: @job.company_id, job_id: @job.id, application_id: @application.id) do %>
            <%= text_area_tag :description, nil, placeholder: '* Beskrivning' %>
            <%= text_field_tag :quantity, nil, placeholder: 'Antal(ex. antal timmar)' %>
            <%= text_field_tag :unit, nil, placeholder: 'Enhet(ex.150kr/timma)' %>
            <%= text_field_tag :amount, nil, placeholder: '* Belopp(endast siffror ex. 2000)' %>
            <%= text_field_tag :first_day, nil, placeholder: 'Start dag(ex. 2018-xx-xx)' %>
            <%= text_field_tag :last_day, nil, placeholder: 'Sista dag(ex. 2018-xx-xx)' %>
            <%= text_field_tag :user_reference, nil, placeholder: '* Referens(förnamn & efternamn)' %>
            <%= text_field_tag :company_reference, nil, placeholder: 'Företagsreferens' %>
            <%= submit_tag 'Skapa faktura', class: 'profile-button-expand' %>
            <% end %>
          <% else %>
          Jobbet har blivit godkänt <br>
          - Invänta faktura från frilansare <br>
          - Nya fakturor hittas i din kontrollpanel
          <% end %>
        <% else %>
        <div class='holy-grail-left-application-box'>
        Diskutera & chatta<br>
        Kom ihåg att vara tydlig & ha ett bra bemötande<br>
        Här finns några exempel<br>
        </div>
        <% end %>
      </p>
      <% if current_company.present? %>
        <% if @application.hired == false %>
          <%= link_to 'Anställ', job_application_path, method: :patch, data: { confirm: "Är du säker?" }, class: 'profile-button-expand' %>
        <% end %>
      <% end %>
    </div>
    <div class="holy-grail-middle">
      <div class="comment-section">
        <% if @comments.present? %>
          <h4 style="color: #37a000">Svar</h4>
          <% @comments.each do |comment| %>
          <strong><%= comment.profile_username %></strong>
          <strong><%= comment.company_username %></strong> | <%= comment.created_at.in_time_zone("Stockholm").strftime("%D %R") %> |<br>
          <div class="comment-section-comment">
            <%= comment.comment %><br>
          </div>
          <hr>
          <% end %>
        <% else %>
          <p>Inga svar ännu</p>
        <% end %>
        <%= form_tag job_application_comments_path(@job, @application, @comment) do %>
        <%= label_tag :comment, 'Svara på ansökan' %>
        <%= text_area_tag :comment %>
        <%= submit_tag 'Skicka', class: 'reply-button' %>
        <% end %>
      </div>
    </div>
  </div>
