<h3>Ansökan för jobb ID <%= @application.job_id %></h3>
<div class='breadcrumb-holder'>
  <%= render_breadcrumbs separator: ' > ' %>
</div>

<div class="card profile-card-action-icons">
  <div class="card-section">
    <div class="profile-card-header">
      <div class="profile-card-avatar">
        <%= link_to image_tag(@application.profile.avatar.url, class: "avatar-image"), profile_path(@application.profile_id) %>
      </div>
      <div class="profile-card-author">
        <h5 class="author-title"><%= link_to @application.profile_username, profile_path(@application.profile_id) %></h5>
        <%= @application.profile.title %>
      </div>
    </div>
    <div class="profile-card-about-message-2">
      <div class='application-title'>
        <span style='color: white; font-weight: 700;'>Ansökan</span><br>
      </div>
      <div style='text-align: center; margin-top: 10px;'>
        <% if current_user.present? %>
          <% if @application.profile_id == current_user.profile.id %>
            <% if @application.message.length > 160 %>
              <span class='truncated-paragraph-<%= @application.id %>'>
                <%= truncate(@application.message, length: 160) %>
                <%= link_to '..visa mer', '', class: "read-more-#{@application.id}", style: 'font-weight: 500; font-size: 14px; color: #f77d0e;' %>
              </span>
              <span class='normal-paragraph-<%= @application.id %>' style="display: none;">
                <%= simple_format @application.message %>
                <%= link_to '..dölj', '', class: "read-less-#{@application.id}", style: 'font-weight: 500; font-size: 14px; color: #f77d0e;' %>
              </span>
            <% else %>
              <%= simple_format @application.message %>
            <% end %>
          <% end %>
        <% elsif @job.company_id == current_company.id %>
          <% if @application.message.length > 160 %>
            <span class='truncated-paragraph-<%= @application.id %>'>
              <%= truncate(@application.message, length: 160) %>
              <%= link_to '..visa mer', '', class: "read-more-#{@application.id}", style: 'font-weight: 500; font-size: 14px; color: #f77d0e;' %>
            </span>
            <span class='normal-paragraph-<%= @application.id %>' style="display: none;">
              <%= simple_format @application.message %>
              <%= link_to '..dölj', '', class: "read-less-#{@application.id}", style: 'font-weight: 500; font-size: 14px; color: #f77d0e;' %>
            </span>
          <% else %>
            <%= simple_format @application.message %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="holy-grail-grid-show">
  <div class="holy-grail-left-application">
    <p class="portfolio-resume-subheader">
    <% if @application.hired == true %>
      <% if @application.complete == false %>
        <% if current_user.present? %>
          <% if @application.profile_id == current_user.profile.id %>
            <div class='invoice-title'>
              <span style='color: white; font-weight: 700;'>Skapa faktura baserad på jobbet</span><br>
              <span style='color: white; font-weight: 500; font-size: 10px;'>Första jobbdag: <%= @application.first_day %></span><br>
              <span style='color: white; font-weight: 500; font-size: 10px;'>Sista jobbdag: <%= @application.last_day %></span>
            </div>
            <p style='color: #696868; text-align: center; line-height: 1.2; font-size: 14px;'>Hjälp med att skapa faktura? Tveka inte att <%= link_to 'kontakta oss!', messages_path, style: 'font-size: 14px; text-transform: lowercase;' %></p>
            <%= form_tag invoices_path(@invoice, company_id: @job.company_id, job_id: @job.id, job_title: @job.title, application_id: @application.id) do %>
            <%= hidden_field_tag :description, @job.categories.pluck(:name) %>
            <%= label_tag :quantity, 'Antal timmar(t.ex. 10)st', class: 'invoice-details-date' %>
            <%= text_field_tag :quantity, nil, placeholder: 'Endast siffror utan decimaler' %>
            <%= hidden_field_tag :unit, @application.salary, placeholder: 'Endast siffror utan decimaler' %>
            <%= hidden_field_tag :amount, nil, placeholder: 'Endast siffror utan decimaler' %>
            <%= hidden_field_tag :first_day, @application.first_day %>
            <%= hidden_field_tag :last_day, @application.last_day %>
            <%= hidden_field_tag :user_reference, current_user.profile.username %>
            <%= hidden_field_tag :company_reference, @job.company_username %>
            <%= hidden_field_tag :ssyk_code, @job.categories.pluck(:ssyk_code) %>
            <%= submit_tag 'Skapa faktura', class: 'profile-button-expand', style: 'width: 100%;' %>
            <% end %>
          <% end %>
        <% else %>
          <div class='holy-grail-left-application-box'>
            Frilansare har blivit anställd.<br>
            Faktura skickas när jobb genomförts. <br>
            Diskutera & chatta.<br>
            Kom ihåg att vara tydlig & ha ett bra bemötande.<br>
          </div>
        <% end %>
      <% else %>
        <div class='holy-grail-left-application-box'>
          Jobbet har genomförts! <br>
          Faktura har skickats. <br>
          Nya fakturor hittas i din kontrollpanel.
        </div>
      <% end %>
    <% else %>
      <div class='holy-grail-left-application-box'>
      Diskutera & chatta<br>
      Kom ihåg att vara tydlig & ha ett bra bemötande<br>
      </div>
      </p>
      <% if current_company.present? %>
        <% if @job.company_id == current_company.id %>
          <%= form_tag hire_job_application_path(@job, @application), method: :patch do %>
            <%= label_tag :first_day, 'Startdag(t.ex. 2018-11-01)', class: 'invoice-details-date' %>
            <%= date_field_tag :first_day, required: true %>
            <%= label_tag :last_day, 'Sista dag(t.ex. 2018-12-30)', class: 'invoice-details-date' %>
            <%= date_field_tag :last_day, required: true %>
            <%= label_tag :salary, 'Bruttolön(t.ex. 150)kr/timma', class: 'invoice-details-date' %>
            <div class="fieldContainer">
              <%= text_field_tag :salary, nil, placeholder: 'Endast siffror utan decimaler' %>
              <div class="fieldInfo">
                Ange bruttolön exkl. semesterersättning
              </div>
            </div>
            <%= hidden_field_tag 'hired', true %>
            <%= submit_tag 'Anställ', data: { confirm: 'Är du säker?'}, class: 'profile-button-expand', style:'width: 100%;' %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="holy-grail-middle">
    <div class="comment-section">
      <div class='application-title'>
        <span style='color: white; font-weight: 700;'>Chatt</span>
      </div>
      <% if current_user.present? %>
        <% if @application.profile_id == current_user.profile.id %>
          <%= form_tag job_application_comments_path(@job, @application, @comment) do %>
            <div class="fieldContainer" style='margin-top: 10px;'>
              <%= text_area_tag :comment, nil, placeholder: "Skriv till #{@job.company_username}" %>
              <% if @application.hired == false %>
                <div class="fieldInfo">
                  Glöm inte bestämma första jobbdag, sista jobbdag samt lön.
                </div>
              <% end %>
            </div>
            <%= submit_tag 'Skicka', class: 'reply-button' %>
          <% end %>
          <% if @comments.present? %>
            <% @comments.each do |comment| %>
            <strong><%= comment.profile_username %></strong>
            <strong style='color: #f77d0e;'><%= comment.company_username %></strong> | <%= comment.created_at.strftime("%F %R") %> |<br>
            <div class="comment-section-comment">
              <%= simple_format comment.comment %>
            </div>
            <hr style='margin-bottom: 10px; margin-top: -10px;'>
            <% end %>
          <% else %>
            <span>Inga svar ännu</span>
          <% end %>
        <% end %>
      <% elsif @job.company_id == current_company.id %>
        <%= form_tag job_application_comments_path(@job, @application, @comment) do %>
          <div class="fieldContainer" style='margin-top: 10px;'>
            <%= text_area_tag :comment, nil, placeholder: "Skriv till #{@application.profile_username}" %>
            <% if @application.hired == false %>
              <div class="fieldInfo">
                Glöm inte bestämma första jobbdag, sista jobbdag samt lön.
              </div>
            <% end %>
          </div>
          <%= submit_tag 'Skicka', class: 'reply-button' %>
        <% end %>
        <% if @comments.present? %>
          <% @comments.each do |comment| %>
          <strong style='color: #f77d0e;'><%= comment.profile_username %></strong>
          <strong><%= comment.company_username %></strong> | <%= comment.created_at.strftime("%F %R") %> |<br>
          <div class="comment-section-comment">
            <%= simple_format comment.comment %>
          </div>
          <hr>
          <% end %>
        <% else %>
          <p>Inga svar ännu</p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
