<h3>Application reply</h3>
<div class="card profile-card-action-icons">
    <div class="card-section">
        <div class="profile-card-header">
            <div class="profile-card-author">
                <h5 class="author-title"><%= link_to @application.profile_username, profile_path(@application.profile_id) %></h5>
            </div>
        </div>
        <div class="profile-card-about-message">
          Message: <br>
          <%= @application.message %>
        </div>
    </div>
</div>
<div class="card-profile-stats">
  <div class="comment-section">
    <% if @comments.present? %>
      <h4 style="color: #37a000">Replies</h4>
      <% @comments.each do |comment| %>
      <strong><%= comment.profile_username %></strong>
      <strong><%= comment.company_name %></strong> | <%= comment.created_at.in_time_zone("Stockholm").strftime("%D %R") %> |<br>
      <div class="comment-section-comment">
        <%= comment.comment %><br>
      </div>
      <hr>
      <% end %>
    <% else %>
      <p>Inga svar ännu</p>
    <% end %>
    <%= link_to 'Reply', new_job_application_comment_path(@job, @application), class: 'boton-large' %>
  </div>
</div>
