<h3>Application reply</h3>
  <div class="card profile-card-action-icons">
      <div class="card-section">
          <div class="profile-card-header">
              <div class="profile-card-author">
                  <h5 class="author-title"><%= link_to @application.profile_username, profile_path(@application.profile_id) %></h5>
              </div>
          </div>
          <div class="profile-card-about-message">
            Message: <br>
            <%= @application.message %>
          </div>
      </div>
  </div>
  <div class="holy-grail-grid">
    <div class="holy-grail-left">
      <p class="portfolio-resume-subheader">
        <% if @application.complete == true %>
          <% if current_user.present? %>
            <%= form_tag invoices_path(@invoice, job_id: @job.id, application_id: @application.id) do %>
            <%= label_tag :description, '* Beskrivning' %>
            <%= text_area_tag :description %>
            <%= label_tag :quantity, 'Antal' %>
            <%= text_field_tag :quantity %>
            <%= label_tag :unit, 'Enhet' %>
            <%= text_field_tag :unit %>
            <%= label_tag :amount, '* Belopp' %>
            <%= text_field_tag :amount %>
            <%= label_tag :first_day, 'Start dag' %>
            <%= text_field_tag :first_day %>
            <%= label_tag :last_day, 'Sista dag' %>
            <%= text_field_tag :last_day %>
            <%= label_tag :user_reference, '* Referens(förnamn & efternamn)' %>
            <%= text_field_tag :user_reference %>
            <%= label_tag :company_reference, 'Företagsreferens' %>
            <%= text_field_tag :company_reference %>
            <%= submit_tag 'Skapa faktura', class: 'boton-large' %>
            <% end %>
          <% else %>
          - Invänta faktura från frilansare <br>
          - Nya fakturor hittas i din kontrollpanel
          <% end %>
        <% else %>
        - Skriv gärna utförande vad <br>
        - Berätta vad du som frilansare... <br>
        - aasefnaweff <br>
        <% end %>
      </p>
      <% if current_company.present? %>
        <% if @application.hired == false %>
          <%= link_to 'Hire', job_application_path, method: :patch, data: { confirm: "Are you sure?" }, class: 'boton-expand' %>
        <% end %>
      <% end %>
    </div>
    <div class="holy-grail-middle">
      <div class="comment-section">
        <% if @comments.present? %>
          <h4 style="color: #37a000">Replies</h4>
          <% @comments.each do |comment| %>
          <strong><%= comment.profile_username %></strong>
          <strong><%= comment.company_username %></strong> | <%= comment.created_at.in_time_zone("Stockholm").strftime("%D %R") %> |<br>
          <div class="comment-section-comment">
            <%= comment.comment %><br>
          </div>
          <hr>
          <% end %>
        <% else %>
          <p>Inga svar ännu</p>
        <% end %>
        <%= form_tag job_application_comments_path(@job, @application, @comment) do %>
        <%= label_tag :comment, 'Svara på meddelande' %>
        <%= text_area_tag :comment %>
        <%= submit_tag 'Skicka', class: 'boton-large' %>
        <% end %>
      </div>
    </div>
  </div>
