<h3>Ansökan för jobb ID <%= @application.job_id %></h3>
<div class='breadcrumb-holder'>
  <%= render_breadcrumbs separator: ' > ' %>
</div>

<div class="card profile-card-action-icons">
  <div class="card-section">
    <div class="profile-card-header">
      <div class="profile-card-avatar">
        <%= image_tag @application.profile.avatar.url, class: "avatar-image" %>
      </div>
      <div class="profile-card-author">
        <h5 class="author-title"><%= link_to @application.profile_username, profile_path(@application.profile_id) %></h5>
        <%= @application.profile.title %>
      </div>
    </div>
    <div class="profile-card-about-message">
      <% if current_user.present? %>
        <% if @application.profile_id == current_user.profile.id %>
          Ansökan: <br>
          <%= @application.message %>
        <% end %>
      <% elsif @job.company_id == current_company.id %>
        Ansökan: <br>
        <%= @application.message %>
      <% end %>
    </div>
  </div>
</div>
<div class="holy-grail-grid-show">
  <div class="holy-grail-left-application">
    <p class="portfolio-resume-subheader">
      <% if @application.complete == true %>
        <% if current_user.present? %>
          <% if @application.profile_id == current_user.profile.id %>
            <div class='portfolio-resume-subheader-title'>
              SKAPA FAKTURA
            </div>
            <span style='color: #696868;'>Hjälp med att skapa faktura? Kolla in vår guide här.</span>
            <%= form_tag invoices_path(@invoice, company_id: @job.company_id, job_id: @job.id, application_id: @application.id) do %>
            <%= text_area_tag :description, nil, placeholder: '* Beskrivning' %>
            <%= text_field_tag :quantity, nil, placeholder: 'Antal(ex. antal timmar)' %>
            <%= text_field_tag :unit, nil, placeholder: 'Enhet(ex. 150kr/timma)' %>
            <%= text_field_tag :amount, nil, placeholder: '* Belopp ex. moms(endast siffror)' %>
            <%= label_tag :first_day, 'Startdag(ex. 2018-11-01)', class: 'invoice-details-date' %>
            <%= date_field_tag :first_day %>
            <%= label_tag :last_day, 'Sista dag(ex. 2018-12-30)', class: 'invoice-details-date' %>
            <%= date_field_tag :last_day %>
            <%= text_field_tag :user_reference, nil, placeholder: '* Referens(förnamn & efternamn)' %>
            <%= text_field_tag :company_reference, nil, placeholder: 'Företagsreferens(namn)' %>
            <%= submit_tag 'Skapa faktura', class: 'profile-button-expand' %>
            <% end %>
          <% end %>
        <% else %>
        Jobbet har blivit godkänt <br>
        - Invänta faktura från frilansare <br>
        - Nya fakturor hittas i din kontrollpanel
        <% end %>
      <% else %>
      <div class='holy-grail-left-application-box'>
      Diskutera & chatta<br>
      Kom ihåg att vara tydlig & ha ett bra bemötande<br>
      Här finns några exempel<br>
      </div>
      <% end %>
    </p>
    <% if current_company.present? %>
     <% if @job.company_id == current_company.id %>
      <% if @application.hired == false %>
        <%= link_to 'Anställ', job_application_path, method: :patch, data: { confirm: "Är du säker?" }, class: 'profile-button-expand' %>
      <% elsif @application.complete == false %>
        <%= link_to 'Godkänn jobbet', complete_job_application_path(@application.job_id, @application.id), method: :patch, data: { confirm: "Är du säker?" }, class: 'profile-button-expand' %>
      <% end %>
     <% end %>
    <% end %>
  </div>
  <div class="holy-grail-middle">
    <div class="comment-section">
      <% if current_user.present? %>
        <% if @application.profile_id == current_user.profile.id %>
          <% if @comments.present? %>
            <h4 style="color: #37a000">Svar</h4>
            <% @comments.each do |comment| %>
            <strong><%= comment.profile_username %></strong>
            <strong style='color: #f77d0e;'><%= comment.company_username %></strong> | <%= comment.created_at.strftime("%F %R") %> |<br>
            <div class="comment-section-comment">
              <%= comment.comment %><br>
            </div>
            <hr>
            <% end %>
          <% else %>
            <p>Inga svar ännu</p>
          <% end %>
          <%= form_tag job_application_comments_path(@job, @application, @comment) do %>
            <%= label_tag :comment, 'Svara på ansökan' %>
            <%= text_area_tag :comment %>
            <%= submit_tag 'Skicka', class: 'reply-button' %>
          <% end %>
        <% end %>
      <% elsif @job.company_id == current_company.id %>
        <% if @comments.present? %>
          <h4 style="color: #37a000">Svar</h4>
          <% @comments.each do |comment| %>
          <strong style='color: #f77d0e;'><%= comment.profile_username %></strong>
          <strong><%= comment.company_username %></strong> | <%= comment.created_at.strftime("%F %R") %> |<br>
          <div class="comment-section-comment">
            <%= comment.comment %><br>
          </div>
          <hr>
          <% end %>
        <% else %>
          <p>Inga svar ännu</p>
        <% end %>
        <%= form_tag job_application_comments_path(@job, @application, @comment) do %>
          <%= label_tag :comment, 'Svara på ansökan' %>
          <%= text_area_tag :comment %>
          <%= submit_tag 'Skicka', class: 'reply-button' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
