<p class="portfolio-resume-subheader">
<% @jobs.each do |job| %>
    <span class='item-define'>ID:</span> <%= job.id %><br>
    <span> <%= link_to 'Radera', adminjob_path(job), data: { confirm: 'Är du säker?' }, method: :delete, class: 'button-orange' %></span><br>
    <span class='item-define'>Titel:</span> <%= link_to job.title, adminjob_path(job) %><br>
    <span class='item-define'>Beskrivning:</span> <%= job.description %><br>
    <span class='item-define'>Krav:</span> <%= job.requirement %><br>
    <span class='item-define'>Kategori:</span> <%= job.categories.pluck(:name) %><br>
    <span class='item-define'>Stad:</span> <%= job.cities.pluck(:name) %><br>
    <span class='item-define'>Föreslagen lön:</span> <%= job.budget %><br>
    <span class='item-define'>Sista ansökningsdag:</span> <%= job.deadline %><br>
    <span class='item-define'>Anställningstyp:</span> <%= job.jobtype %><br>
    <span class='item-define'>När ska jobbet utföras:</span> <%= job.when_in_time %><br>
    <span class='item-define'>Jobbets längd:</span> <%= job.duration %><br>
    <span class='item-define'>Timmar/dag:</span> <%= job.hour_day %><br>
    <span class='item-define'>Aktiv:</span> <%= job.active %><br>
    <span class='item-define'>Företags ID:</span> <%= job.company_id %><br>
    <span class='item-define'>Föratagsstad:</span> <%= job.company_city %><br>
    <span class='item-define'>Företags användarnamn:</span> <%= job.company_username %><br>
    <span class='item-define'>Skapad:</span> <%= job.created_at.strftime("%F %R") %><br>
    <span class='item-define'>Uppdaterad:</span> <%= job.updated_at.strftime("%F %R") %><br><br>
<% end %>
</p>
<div class="will-paginate">
    <%= will_paginate @jobs, renderer: FoundationPagination::Rails, previous_label: 'Tidigare', next_label: 'Nästa', inner_window: 1, outer_window: 1 %>
</div>
