<% @jobs.each do |job| %>
  <% cache job do %>
    <div class='job-<%= job.id %>'>
      <div class="card profile-card-action-icons">
        <div class="card-section">
          <div class="profile-card-header">
            <div class="profile-card-avatar">
              <%= link_to image_tag(job.categories.first.avatar.url, class: "avatar-image"), job_path(job) %>
            </div>
            <div class="profile-card-author">
              <h4 class="author-title"><%= link_to job.title, job_path(job)%></h4>
                <%= job.company_username %>
              <div class="small-12 medium-2 columns add-friend">
                <%= link_to 'Ansök', job_path(job), class: 'reply-button-media' %>
              </div>
            </div>
          </div>
          <div class="profile-card-about">
            <div class="profile-card-about-message">
              <div class='profile-card-about-title'>
                <span class='profile-card-about-title'><%= job.categories.pluck(:name).flatten.join(' & ') %></span><br>
              </div>
                <% if job.description.length > 100 %>
                    <%= truncate(job.description, length: 100) %>
                <% else %>
                    <%= job.description %>
                <% end %>
              <div class='row'>
                <div class='large-2 columns'>
                  <span style='font-weight: 550;'>Skapad:</span> <%= job.created_at.strftime("%Y-%m-%d") %><br>
                  <span style='font-weight: 550;'>Går ut:</span> <%= job.deadline %>
                </div>
                <div class='large-2 columns'>
                  <span style='font-weight: 550;'>Stad:</span> <%= job.cities.pluck(:name).flatten.join(' & ') %>
                </div>
                <div class='large-2 columns'>
                  <span style='font-weight: 550;'>
                    Krav:
                  </span>
                  <% if job.requirement.length > 30 %>
                    <%= truncate(job.requirement, length: 30) %>
                  <% else %>
                    <%= job.requirement %>
                  <% end %>
                </div>
                <div class='large-2 columns'>
                  <span style='font-weight: 550;'>
                    Jobbets längd:
                  </span>
                  <% if job.duration.length > 30 %>
                    <%= truncate(job.duration, length: 30) %>
                  <% else %>
                    <%= job.duration %>
                  <% end %>
                </div>
                <div class='large-2 columns'>
                  <span style='font-weight: 550;'>Timmar per dag:</span> <%= job.hour_day %>
                </div>
                <div class='large-2 columns'>
                  <span style='font-weight: 550;'>När:</span> <%= job.when_in_time %>
                </div>
                <div class='columns'>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<div class="will-paginate">
    <%= will_paginate @jobs, renderer: FoundationPagination::Rails, previous_label: 'Tidigare', next_label: 'Nästa', inner_window: 1, outer_window: 1 %>
</div>
