<h3>Edit job information</h3>
<div class="holy-grail-grid">

  <div class="holy-grail-left">
    <ul>
      <li>
        <%= link_to 'Control panel', panels_path %>
      </li>
      <li>
        <%= link_to 'Account', edit_company_registration_path %>
      </li>
      <li>
        <% if @job.present? %>
          <%= link_to 'View job', job_path(current_company.id) %>
          <% else %>
          <%= link_to 'Create job', new_job_path %>
        <% end %>
      </li>
    </ul>
  </div>
  <div class="holy-grail-middle">
    <div class="simple-form">
      <%= form_for @job do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title, value: @job.title %>
      <%= f.label :description %>
      <%= f.text_area :description, value: @job.description %>
      <%= f.label :requirement %>
      <%= f.text_field :requirement, value: @job.requirement %>
      <%= f.label :category, 'Categories' %>
      <%= f.select :category, options_for_select(Job.category), { include_blank: true }, value: @job.category %>
      <%= f.label :city %>
      <%= f.select :city, options_for_select(Job.city), { include_blank: true }, value: @job.city %>
      <%= f.label :budget %>
      <%= f.text_field :budget, value: @job.budget %>
      <%= f.label :deadline %>
      <%= f.text_field :deadline, value: @job.deadline %>
      <%= f.label :duration %>
      <%= f.text_field :duration, value: @job.duration %>
      <%= f.label :hour_week %>
      <%= f.text_field :hour_week, value: @job.hour_week %>
      <%= f.check_box :active, value: true %>
      Aktivera/Inaktivera för att låta personer se din annons eller inte.<br>
      <%= f.submit 'Submit', class: 'round button inc' %>
      <% end %>
    </div>
  </div>
</div>
