<div class="holy-grail-grid">

  <div class="holy-grail-left">
    <%= link_to 'Kontrollpanel', panels_path, class: 'button-menu' %>
    <%= link_to 'Konto', edit_company_registration_path, class: 'button-menu' %>
    <%= link_to 'Skapa jobb', new_job_path, class: 'button-menu' %>
    <%= link_to 'Hitta frilansare', profiles_path, class: 'button-menu' %>
  </div>
  <div class="holy-grail-middle">
    <div class="simple-form">
      <div class='post-title'><h3>Redigera annonsinfo</h3></div>
      <%= form_for @job do |f| %>
      <% if @job.errors.any? %>
        <% @job.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      <% end %>
      <%= f.label :title, 'Titel' %>
      <%= f.text_field :title, value: @job.title %>
      <%= f.label :description, 'Beskrivning' %>
      <%= f.text_area :description, value: @job.description %>
      <%= f.label :requirement, 'Krav' %>
      <%= f.text_field :requirement, value: @job.requirement %>
      <%= f.label :category_ids, 'Kategorier' %>
      <%= f.collection_select(:category_ids, Category.all, :id, :name, { prompt: 'Välj kategori' }, { class: 'input-medium' }) %>
      <%= f.label :city_ids, 'Stad' %>
      <%= f.collection_select(:city_ids, City.all, :id, :name, { include_blank: true, selected: @job.city_ids }, { class: 'input-medium' }) %>
      <%= f.label :budget, 'Lön' %>
      <%= f.text_field :budget, value: @job.budget %>
      <%= f.label :deadline, 'Sista ansökningsdag' %>
      <%= f.text_field :deadline, value: @job.deadline %>
      <%= f.label :duration, 'Varaktighet' %>
      <%= f.text_field :duration, value: @job.duration %>
      <%= f.label :hour_week, 'Timmar' %>
      <%= f.text_field :hour_week, value: @job.hour_week %>
      <%= f.check_box :active, value: true %>
      Aktivera/Inaktivera för att låta personer se din annons eller inte.<br>
      <%= f.submit 'Spara', class: 'reply-button' %>
      <% end %>
    </div>
  </div>
</div>
