<h3>Alla jobb</h3>
<div class='breadcrumb-holder'>
    <%= render_breadcrumbs separator: ' > ' %>
</div>
<div class="button-select-section">
  <div class="row">
    <%= form_tag jobs_path, method: 'get' do %>
      <div class='large-4 columns'>
        <%= select_tag :with_category, options_for_select(Category.pluck(:name)), class: 'button-select', prompt: 'Välj Kategori' %>
      </div>
      <div class='large-4 columns'>
        <%= select_tag :with_city, options_for_select(City.pluck(:name)), class: 'button-select', prompt: 'Välj Stad' %>
      </div>
      <div class='large-4 columns'>
        <%= submit_tag 'Filtrera', class: 'filter-button' %>
        <%= link_to 'x töm filter', jobs_path, class: 'empty-filter' %>
      </div>
    <% end %>
  </div>
</div>
<% @jobs.each do |job| %>
  <div class='job-<%= job.id %>'>
    <% if job.active == true %>
    <div class="card profile-card-action-icons">
        <div class="card-section">
            <div class="profile-card-header">
              <div class="profile-card-avatar">
                <%= image_tag job.avatar.url, class: "avatar-image" %>
              </div>
              <div class="profile-card-author">
                  <h4 class="author-title"><%= link_to job.title, job_path(job)%></h4>
                    <%= job.company_username %>
                  <div class="small-12 medium-2 columns add-friend">
                    <%= link_to 'Ansök', job_path(job), class: 'reply-button' %>
                  </div>
              </div>
            </div>
            <div class="profile-card-about">
                <div class="profile-card-about-message">
                  <div class='profile-card-about-title'>
                    <% job.categories.each do |category| %>
                      <span class='profile-card-about-title'><%= category.name %></span>
                    <% end %><br>
                  </div>
                    <% if job.description.length > 100 %>
                        <%= truncate(job.description, length: 100) %>
                    <% else %>
                        <%= job.description %>
                    <% end %>
                    <div class='row'>
                      <div class='large-2 columns'>
                        Skapad: <%= job.created_at.strftime("%Y-%m-%d") %>
                      </div>
                      <div class='large-2 columns'>
                        Går ut: <%= job.deadline %>
                      </div>
                      <div class='large-2 columns'>
                        <% job.cities.each do |city| %>
                          Stad: <%= city.name %>
                        <% end %>
                      </div>
                      <div class='large-2 columns'>
                        Krav: <%= job.requirement %>
                      </div>
                      <div class='large-2 columns'>
                        Varaktighet: <%= job.duration %>
                      </div>
                      <div class='large-2 columns'>
                        Timmar/vecka: <%= job.hour_week %>
                      </div>
                      <div class='large-2 columns'>
                        Lön: <%= job.budget %>
                      </div>
                      <div class='columns'>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
<% end %>
<% end %>
<div class="will-paginate">
    <%= will_paginate @jobs, renderer: FoundationPagination::Rails, previous_label: 'Tidigare', next_label: 'Nästa', inner_window: 1, outer_window: 1 %>
</div>
