<h3>Browse all jobs</h3>
<div class="button-select-section">
    <%= link_to 'Alla kategorier', {controller: 'jobs'}, {class: 'button-select'} %>
    <%= link_to 'Målare', {controller: 'jobs', with_category: 'Målare'}, {class: 'button-select'} %>
    <%= link_to 'Snickare', {controller: 'jobs', with_category: 'Snickare'}, {class: 'button-select'} %>
    <%= link_to 'Plåtslagare', {controller: 'jobs', with_category: 'Plåtslagare'}, {class: 'button-select'} %>
    <%= link_to 'Lagerarbetare', {controller: 'jobs', with_category: 'Lagerarbetare'}, {class: 'button-select'} %>
</div>
<% @jobs.each do |job| %>
<div class="card profile-card-action-icons">
    <div class="card-section">
        <div class="profile-card-header">
            <div class="profile-card-author">
                <h4 class="author-title"><%= link_to job.title, job_path(job)%></h4>
                | Skapad: <%= job.created_at.strftime("%Y-%m-%d") %> | Går ut: <%= job.deadline %> |
                <div class="small-12 medium-2 columns add-friend">
                  <%= link_to 'Apply', job_path(job), class: 'boton-large' %>
                </div>
            </div>
        </div>
        <div class="profile-card-about">
          Beskrivning:
          <% if job.description.length > 100 %>
              <%= truncate(job.description, length: 100) %>
          <% else %>
              <%= job.description %>
          <% end %>
          <br>
          | Stad: <%= job.city %> | Kategorier: <%= job.category %> | Krav: <%= job.requirement %> |<br>
          | Varaktighet: <%= job.duration %> | <%= job.budget %> | Timmar/vecka: <%= job.hour_week %> |<br>
        </div>
    </div>
</div>
<% end %>
