<div class='browse-holder'>
  <h3>Alla jobb</h3>
  <div class='breadcrumb-holder'>
      <%= render_breadcrumbs separator: ' > ' %>
  </div>
  <div class="button-select-section">
    <div class="row">
      <%= form_tag jobs_path, method: 'get' do %>
        <div class='large-4 columns'>
          <%= select_tag :with_category, options_for_select(Category.pluck(:name)), class: 'button-select', prompt: 'Välj Kategori' %>
        </div>
        <div class='large-4 columns'>
          <%= select_tag :with_city, options_for_select(City.pluck(:name)), class: 'button-select', prompt: 'Välj Stad' %>
        </div>
        <div class='large-4 columns'>
          <%= submit_tag 'Filtrera', class: 'filter-button' %>
          <%= link_to 'x töm filter', jobs_path, class: 'empty-filter' %>
        </div>
      <% end %>
    </div>
  </div>
  <div id='pagination-js'>
    <div id="partial-jobs">
      <%= render 'jobs' %>
    </div>
  </div>
</div>
