<h3>Alla annonser</h3>
<div class="button-select-section">
    <%= link_to 'Alla kategorier', {controller: 'jobs'}, {class: 'button-select'} %>
    <%= link_to 'Målare', {controller: 'jobs', with_category: 'Målare'}, {class: 'button-select'} %>
    <%= link_to 'Snickare', {controller: 'jobs', with_category: 'Snickare'}, {class: 'button-select'} %>
    <%= link_to 'Plåtslagare', {controller: 'jobs', with_category: 'Plåtslagare'}, {class: 'button-select'} %>
    <%= link_to 'Lagerarbetare', {controller: 'jobs', with_category: 'Lagerarbetare'}, {class: 'button-select'} %>
</div>
<% @jobs.each do |job| %>
  <% if job.active == true %>
  <div class="card profile-card-action-icons">
      <div class="card-section">
          <div class="profile-card-header">
            <div class="profile-card-avatar">
                <img class="avatar-image" src="https://cdn3.iconfinder.com/data/icons/business-world-extras/512/Businessman_Skyscraper-512.png" alt="Harry Manchanda">
            </div>
            <div class="profile-card-author">
                <h4 class="author-title"><%= link_to job.title, job_path(job)%></h4>
                  <%= job.company_username %> | Går ut: <%= job.deadline %>
                <div class="small-12 medium-2 columns add-friend">
                  <%= link_to 'Ansök', job_path(job), class: 'reply-button' %>
                </div>
            </div>
          </div>
          <div class="profile-card-about">
              <div class='profile-card-about-title'><%= job.category %></div>
              <div class="profile-card-about-message">
                  <% if job.description.length > 100 %>
                      <%= truncate(job.description, length: 100) %>
                  <% else %>
                      <%= job.description %>
                  <% end %>
                  <div class='row'>
                    <div class='medium-2 columns'>
                      Skapad: <%= job.created_at.strftime("%Y-%m-%d") %>
                    </div>
                    <div class='medium-2 columns'>
                      Stad: <%= job.city %>
                    </div>
                    <div class='medium-2 columns'>
                      Krav: <%= job.requirement %>
                    </div>
                    <div class='medium-2 columns'>
                      Varaktighet: <%= job.duration %>
                    </div>
                    <div class='medium-2 columns'>
                      Timmar/vecka: <%= job.hour_week %>
                    </div>
                    <div class='medium-2 columns'>
                      Lön <%= job.budget %>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <% end %>
<% end %>
<div class="will-paginate">
    <%= will_paginate @jobs, renderer: FoundationPagination::Rails, previous_label: 'Tidigare', next_label: 'Nästa', inner_window: 1, outer_window: 1 %>
</div>
