<div class='holy-grail-grid'>
  <div class='holy-grail-left-application'>
    <div class='holy-grail-left-application-box'>
      Tillfällig arbetskraftsbrist? <br><br>
      Behöver ni förstärka med nya kvalifikationer? <br><br>
      Smidiga & snabba provanställningar <br><br>
      Ett flexibelt verktyg för att anställa arbetare
    </div>
  </div>
  <div class='holy-grail-middle'>
    <div class='breadcrumb-holder-small'>
        <%= render_breadcrumbs separator: ' > ' %>
    </div>
    <div class="simple-form">
      <div class='post-title'><h3>Skapa annons</h3></div>
      <%= form_for @job do |f| %>
      <% if @job.errors.any? %>
        <% @job.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      <% end %>
      <%= f.label :title, 'Titel', class: 'form-text' %>
      <%= f.text_field :title, placeholder: 'Ge din annons en titel ex. "Erfaren målare sökes".' %>
      <%= f.label :description, 'Beskrivning', class: 'form-text' %>
      <%= f.text_area :description, placeholder: 'Vad ska frilansaren utföra? Var så utförlig som möjligt.' %>
      <%= f.label :requirement, 'Krav', class: 'form-text' %>
      <%= f.text_field :requirement, placeholder: 'Finns det några specifika krav för att få jobbet?' %>
      <%= f.label :category_ids, 'Kategorier', class: 'form-text' %>
      <%= f.collection_select(:category_ids, Category.all, :id, :name, { prompt: 'Välj kategori' }, { class: 'input-medium' }) %>
      <%= f.label :city, 'Stad', class: 'form-text' %>
      <%= f.select :city, options_for_select(Job.city), { prompt: 'Välj stad' }, { class: 'input-medium' } %>
      <%= f.label :budget, 'Lön', class: 'form-text' %>
      <%= f.text_field :budget, placeholder: 'Antingen fast, per timma eller ungefärlig lön.' %>
      <%= f.label :deadline, 'Sista ansökningsdag', class: 'form-text' %>
      <%= f.date_field :deadline, class: 'input-mini'  %>
      <%= f.label :duration, 'Varaktighet', class: 'form-text' %>
      <%= f.text_field :duration, placeholder: 'Hur många dagar/veckor behöver ni personen?' %>
      <%= f.label :hour_week, 'Timmar', class: 'form-text' %>
      <%= f.text_field :hour_week, placeholder: 'Hur många timmar per dag eller vecka?' %>
      <%= f.submit 'Skapa annons', class: 'reply-button' %>
      <% end %>
    </div>
  </div>
</div>
