<div class='holy-grail-grid'>
  <div class='holy-grail-left-application'>
    <div class='holy-grail-left-application-box'>
      Tillfällig arbetskraftsbrist? <br><br>
      Behöver ni förstärka med nya kvalifikationer? <br><br>
      Smidiga & snabba testanställningar <br><br>
      Ett flexibelt verktyg för att anställa arbetare
    </div>
  </div>
  <div class='holy-grail-middle'>
    <div class='breadcrumb-holder-small'>
        <%= render_breadcrumbs separator: ' > ' %>
    </div>
    <div class="simple-form">
      <div class='post-title'><h3>Skapa annons</h3></div>
      <%= form_for @job do |f| %>
      <% if @job.errors.any? %>
        <% @job.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      <% end %>
      <%= f.label :title, 'Titel', class: 'form-text' %>
      <div class="fieldContainer">
        <%= f.text_field :title, placeholder: 'Ge din annons en titel ex. "Erfaren målare sökes".' %>
        <div class="fieldInfo">
            <span>Tips <br>
              Ha en kort lockande titel med max 50 tecken. Skriv inte ut företagsnamn eller annan liknande information.
            </span>
        </div>
      </div>
      <%= f.label :description, 'Beskrivning', class: 'form-text' %>
      <div class="fieldContainer">
        <%= f.text_area :description, placeholder: 'Vad ska frilansaren utföra? Var så utförlig som möjligt.' %>
        <div class="fieldInfo">
          <span>
            Tips <br>
            Beskriv jobbet utförligt, för att få fler ansökningar men också bättre ansökningar. Skriv inte ut företagsnamn eller annan liknande info. Vilka arbetstider? Vilken typ  av person ni söker? Med mera.
          </span>
        </div>
      </div>
      <%= f.label :requirement, 'Krav', class: 'form-text' %>
      <div class="fieldContainer">
        <%= f.text_field :requirement, placeholder: 'Finns det några specifika krav för att få jobbet?' %>
        <div class="fieldInfo">
          Tips <br>
          Krävs utbildning? Behövs körkort? Krävs tidigare erfarenhet i form av anställd x antal år eller liknande?
        </div>
      </div>
      <%= f.label :category_ids, 'Kategorier', class: 'form-text' %>
      <%= f.collection_select(:category_ids, Category.all, :id, :name, { prompt: 'Välj kategori' }, { class: 'input-medium' }) %>
      <%= f.label :city_ids, 'Stad', class: 'form-text' %>
      <%= f.collection_select(:city_ids, City.all, :id, :name, { prompt: 'Välj stad' }, { class: 'input-medium' }) %>
      <%= f.label :budget, 'Lön', class: 'form-text' %>
      <div class="fieldContainer">
        <%= f.text_field :budget, placeholder: 'Antingen fast, per timma eller ungefärlig lön.' %>
        <div class="fieldInfo">
          Tips <br>
          Vid projekt ange fast arvode eller mellan två spann. Vid timpenning ange vad personen tjänar per timma eller mellan två spann.
        </div>
      </div>
      <%= f.label :deadline, 'Sista ansökningsdag', class: 'form-text' %>
      <%= f.date_field :deadline, class: 'input-mini'  %>
      <%= f.label :when_in_time, 'När', class: 'form-text' %>
        <div class="fieldContainer">
          <%= f.text_field :when_in_time, placeholder: 'När ska den anställde arbeta?' %>
          <div class="fieldInfo">
            Tips <br>
            Ange "så fort som möjligt" eller datum.
          </div>
        </div>
      <%= f.label :duration, 'Dagar/veckor/månader', class: 'form-text' %>
      <div class="fieldContainer">
        <%= f.text_field :duration, placeholder: 'Antal dagar/veckor/månader ni behöver personen.' %>
        <div class="fieldInfo">
          Tips <br>
          Ange ungefärlig längd för jobbet i dagar/veckor eller månader.
        </div>
      </div>
      <%= f.label :hour_day, 'Timmar per dag', class: 'form-text' %>
      <div class="fieldContainer">
        <%= f.text_field :hour_day, placeholder: 'Hur många jobbtimmar per dag?' %>
        <div class="fieldInfo">
          Tips <br>
          Vid projekt kan detta fält lämnas blankt. Annars anges hur många jobbtimmar per dag.
        </div>
      </div>
      <%= f.submit 'Skapa annons', class: 'reply-button' %>
      <% end %>
    </div>
  </div>
</div>
