<h3>Jobbdetaljer</h3>
<div class='breadcrumb-holder'>
    <%= render_breadcrumbs separator: ' > ' %>
</div>
<div class="card-profile-stats">
  <div class="portfolio-resume row">
    <div class="large-3 columns">
      <div class="portfolio-resume-wrapper">
        <h3 class="portfolio-resume-header">Detaljer</h3>
        <ul >
          <li>
            Stad:
            <% @job.cities.each do |city| %>
              <%= city.name %>
            <% end %>
          </li>
          <li>
            Kategorier:
            <% @job.categories.each do |category| %>
              <%= category.name %>
            <% end %>
          </li>
          <li>
            Krav: <%= @job.requirement %>
          </li>
          <li>
            Varaktighet: <%= @job.duration %>
          </li>
          <li>
            Lön: <%= @job.budget %>
          </li>
          <li>
            Timmar/vecka: <%= @job.hour_week %>
          </li>
          <li>
            Sista ansökningsdag: <%= @job.deadline%>
          </li>
        </ul>
      </div>
    </div>

    <div class="large-3 columns">
      <div class="portfolio-resume-wrapper">
        <h3 class="portfolio-resume-header">Beskrivning</h3>
        <div class="portfolio-resume-spacing">
          <h5><strong><%= @job.title %></strong></h5>
          Jobb ID: <%= @job.id %>
          <p><%= @job.description %></p>
        </div>
        <% if current_company.present? %>
          <p style='color: #f77d0e;'>Som företag kan du inte ansöka till detta jobbet</p>
        <% end %>
        <% if current_user.present? %>
          <% if current_user.profile.present? %>
            <% if @applications.any? { |a| a.profile_id == current_user.profile.id } %>
              <span style='color: #f77d0e;'>Du har redan ansökt till detta jobbet!</span>
            <% else %>
              <%= link_to 'Ansök', new_job_application_path(@job), class: 'reply-button' %>
            <% end %>
          <% else %>
            <%= link_to 'Ansök', new_job_application_path(@job), class: 'reply-button' %>
          <% end %>
        <% else %>
          <%= link_to 'Ansök', new_job_application_path(@job), class: 'reply-button' %>
        <% end %>
      </div>
    </div>

    <div class="large-3 columns">
      <div class="portfolio-resume-wrapper">
        <h3 class="portfolio-resume-header">Företagsinfo</h3>
        <h5><strong><%= @job.company_username %></strong></h5>
        <div class="portfolio-resume-contact-info">
          Antal genomförda jobb: <%= @invoices.where(company_id: @job.company_id).count %>
          <p>Stad: <%= @job.company.city %></p>
        </div>
      </div>
    </div>

    <% if current_company.present? %>
      <% if @job.company_id == current_company.id %>
      <div class="large-3 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Ansökningar</h3>
          <div class="portfolio-resume-spacing">
            <% if @applications.present? %>
              <% @applications.each do |application| %>
              <strong><%= application.profile_username %></strong><br>
              <span class='job-count'>
              <% if application.hired == true %>
                  Anställd!
                <% if application.complete == true %>
                  & jobb genomfört!
                <% end %>
              <% end %><br>
            </span>
              <%= link_to 'Visa ansökan', job_application_path(@job, application), class: 'button-green' %>
              <%= link_to 'Profil', profile_path(application.profile_id), class: 'button-orange' %>
              <hr>
              <% end %>
            <% else %>
              Inga ansökningar hittills
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
