<h3>Jobbdetaljer</h3>
<div class='breadcrumb-holder'>
    <%= render_breadcrumbs separator: ' > ' %>
</div>
<div class="card-profile-stats">
  <div class="portfolio-resume row">
    <div class="large-3 columns">
      <div class="portfolio-resume-wrapper">
        <h3 class="portfolio-resume-header">Detaljer</h3>
        <ul >
          <li>
            Stad: <%= @job.cities.pluck(:name).flatten.join(' & ') %>
          </li>
          <li>
            Kategorier: <%= @job.categories.pluck(:name).flatten.join(' & ') %>
          </li>
          <li>
            Sista ansökningsdag: <%= @job.deadline%>
          </li>
          <li>
            Krav: <%= @job.requirement %>
          </li>
          <li>
            Dagar/veckor/månader: <%= @job.duration %>
          </li>
          <li>
            Timmar per dag: <%= @job.hour_day %>
          </li>
          <li>
            När: <%= @job.when_in_time %>
          </li>
          <li>
            Föreslagen lön: <%= @job.budget %>
          </li>
        </ul>
      </div>
    </div>

    <div class="large-3 columns">
      <div class="portfolio-resume-wrapper">
        <h3 class="portfolio-resume-header">Beskrivning</h3>
        <div class="portfolio-resume-spacing">
          <h5><strong><%= @job.title %></strong></h5>
          Jobb ID: <%= @job.id %>
          <p><%= @job.description %></p>
        </div>
        <% if current_company.present? %>
          <p style='color: #f77d0e;'>Som företag kan du inte ansöka till detta jobbet</p>
        <% end %>
        <% if current_user.present? %>
          <% if current_user.profile.present? %>
            <% if @applications.any? { |a| a.profile_id == current_user.profile.id } %>
              <span style='color: #f77d0e;'>Du har redan ansökt till detta jobbet!</span>
            <% else %>
              <%= link_to 'Ansök', new_job_application_path(@job), class: 'reply-button' %>
            <% end %>
          <% else %>
            <%= link_to 'Ansök', new_job_application_path(@job), class: 'reply-button' %>
          <% end %>
        <% else %>
          <%= link_to 'Ansök', new_job_application_path(@job), class: 'reply-button', style: 'margin-bottom: 10px;' %>
        <% end %>
      </div>
    </div>

    <div class="large-3 columns">
      <div class="portfolio-resume-wrapper">
        <h3 class="portfolio-resume-header">Företagsinfo</h3>
        <h5><strong><%= @job.company_username %></strong></h5>
        <div class="portfolio-resume-contact-info">
          Antal genomförda jobb: <%= @job.company.invoice_count %>
          <p>Stad: <%= @job.company.city %></p>
        </div>
        <%= image_tag @job.categories.first.avatar.url, class: "avatar-image", style: 'height: 100px; margin-bottom: 10px;' %>
      </div>
    </div>
    <% if current_company.present? %>
      <% if @job.company_id == current_company.id %>
      <div class="large-3 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Ansökningar</h3>
          <div class="portfolio-resume-spacing">
            <div id="pagination-js">
              <div id="job-applications">
                <%= render 'job_applications' %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
