<div class="marketing-site-hero">
  <div class="marketing-site-hero-content">
    <h1>SÖK JOBB. SÖK ARBETSKRAFT. SNABBT. ENKELT. </h1>
    <p>Det flexibla sättet för att anställa och ta anställning. Genom ett fåtal klick anställer företagaren och får sedan en faktura från frilansaren.</p>
    <%= link_to "FRILANSARE", new_company_registration_path, class: 'reply-button' %>
    <%= link_to "FÖRETAG", new_user_registration_path, class: 'profile-button' %>
  </div>
</div>
<div class="hero-divider">

  <ol class="progress-indicator">
    <li class="is-complete" data-step="1">
    <span>Sök jobb</span>
    </li>
    <li class="is-complete" data-step="2">
    <span>Ansök</span>
    </li>
    <li class="is-current" data-step="3">
    <span>Utför jobb</span>
    </li>
    <li class="is-current" data-step="4">
    <span>Skapa faktura</span>
    </li>
  </ol>

</div>
<div class='hero-divider'>
  <ol class="progress-indicator">
    <li class="is-complete-free" data-step="1">
    <span>Skapa annons</span>
    </li>
    <li class="is-complete-free" data-step="2">
    <span>Få svar</span>
    </li>
    <li class="is-current-free" data-step="3">
    <span>Anställ</span>
    </li>
    <li class="is-current-free" data-step="4">
    <span>Faktura</span>
    </li>
  </ol>
</div>

<div class="marketing-site-content-section">
  <div class="marketing-site-content-section-img">
    <%= image_tag 'people-2572980_640.jpg' %>
  </div>
  <div class="marketing-site-content-section-block">
    <h3>HITTA FRILANSARE</h3>
    <p class="marketing-site-content-section-block-subheader subheader">Skapa en ansökan redan idag! Få svar från frilansare. Anställ personen, godkänn arbetet som blivit utfört. Få en faktura. Allt är helt gratis!</p>
    <p class="marketing-site-content-section-block-subheader subheader">Vi ser till att skatter, försäkringar och sociala avgifter betalas. </p>
    <%= link_to "FÖRETAG", new_company_registration_path, class: 'profile-button' %>
  </div>
  <div class="marketing-site-content-section-block small-order-2 medium-order-1">
    <h3>HITTA JOBB</h3>
    <p class="marketing-site-content-section-block-subheader subheader">Skapa en profil med ett fåtal klick! Sök jobb som passar dig. Skapa en ansökan, chatta med arbetsgivaren. Utför jobbet. Skicka faktura i vårt system.</p>
    <p class="marketing-site-content-section-block-subheader subheader">Vi ser till att fakturan blir betald. Vi ser till att du får betalt i tid.</p>
    <p class="marketing-site-content-section-block-subheader subheader">Vi betalar din försäkring, skatt och sociala avgifter och för detta tar vi en liten avgift.</p>
    <p class="marketing-site-content-section-block-subheader subheader">Din lön får du sedan utbetald direkt in på bankkontot.</p>
    <%= link_to "FRILANSARE", new_user_registration_path, class: 'reply-button' %>
  </div>
  <div class="marketing-site-content-section-img small-order-1 medium-order-2">
    <%= image_tag 'cityscape-802041_640(1).jpg' %>
  </div>
</div>
