<div class="marketing-site-hero">
  <div class="marketing-site-hero-content">
    <h1>SÖK JOBB. SÖK ARBETSKRAFT. SNABBT. ENKELT. </h1>
    <p>Det flexibla sättet för att hitta jobb och anställa. Genom ett fåtal klick anställer företagaren en frilansare och får sedan en faktura när jobbet godkänts.</p>
    <%= link_to "HITTA JOBB", jobs_path, class: 'reply-button' %>
    <%= link_to "HITTA FRILANSARE", profiles_path, class: 'profile-button' %>
  </div>
</div>
<p class='progress-indicator-headline'>SÅ FUNGERAR DET</p>
<div class="hero-divider">
  <ol class="progress-indicator">
    <li class="is-complete" data-step="1">
    <span>Sök jobb</span>
    </li>
    <li class="is-complete" data-step="2">
    <span>Ansök</span>
    </li>
    <li class="is-current" data-step="3">
    <span>Utför jobb</span>
    </li>
    <li class="is-current" data-step="4">
    <span>Skapa faktura</span>
    </li>
  </ol>
</div>
<div class='hero-divider'>
  <ol class="progress-indicator">
    <li class="is-complete-free" data-step="1">
    <span>Skapa annons</span>
    </li>
    <li class="is-complete-free" data-step="2">
    <span>Få svar</span>
    </li>
    <li class="is-current-free" data-step="3">
    <span>Anställ</span>
    </li>
    <li class="is-current-free" data-step="4">
    <span>Få faktura</span>
    </li>
  </ol>
</div>

<div class="marketing-site-content-section">
  <div class="large-6 columns marketing-site-content-section-img">
    <%= image_tag 'frilansare-front.jpg' %>
  </div>
  <div class="large-6 columns marketing-site-content-section-block">
    <h3>HITTA FRILANSARE</h3>
    <p class="marketing-site-content-section-block-subheader subheader">Skapa en ansökan redan idag! Få svar från frilansare. Anställ personen, godkänn arbetet som blivit utfört. Få en faktura. Allt är helt gratis!</p>
    <p class="marketing-site-content-section-block-subheader subheader">Vi ser till att löner, skatter, försäkringar & sociala avgifter betalas. </p>
    <%= link_to "REGISTRERA FÖRETAG", new_company_registration_path, class: 'profile-button' %>
  </div>
  <div class="marketing-site-content-section-block large-6 columns">
    <h3>HITTA JOBB</h3>
    <p class="marketing-site-content-section-block-subheader subheader">Skapa en profil med ett fåtal klick! Sök jobb som passar dig. Skapa en ansökan, chatta med arbetsgivaren. Utför jobbet. Skicka faktura i vårt system.</p>
    <p class="marketing-site-content-section-block-subheader subheader">Vi ser till att fakturan blir betald. Vi ser till att du får betalt i tid.</p>
    <p class="marketing-site-content-section-block-subheader subheader">Vi betalar din försäkring, skatt och sociala avgifter och för detta tar vi en liten avgift.</p>
    <p class="marketing-site-content-section-block-subheader subheader">Din lön får du sedan utbetald direkt in på bankkontot.</p>
    <%= link_to "REGISTRERA FRILANSARE", new_user_registration_path, class: 'reply-button' %>
  </div>
  <div class="marketing-site-content-section-img large-6 columns">
    <%= image_tag 'foretag-front.jpg' %>
  </div>
</div>
<p class='progress-indicator-headline'>POPULÄRA KATEGORIER</p>
<div class="hero-divider">
  <ol class="progress-indicator">
    <li class="is-complete" data-step="★">
    <span>BYGG</span>
    </li>
    <li class="is-complete" data-step="★">
    <span>MÅLERI</span>
    </li>
    <li class="is-complete" data-step="★">
    <span>STÄLLNINGAR</span>
    </li>
    <li class="is-complete" data-step="★">
    <span>LAGER</span>
    </li>
  </ol>
</div>
<div class="hero-divider-flow">
  <div class="hero-divider-flow-content large-6 columns">
    <h3 class='hero-divider-flow-title'>VAD VI HJÄLPER FÖRETAG MED</h3>
    <p><i class='fi-check size-20'></i> Tillfällig arbetskraftsbrist</p>
    <p><i class='fi-check size-20'></i> Smidiga provanställningar</p>
    <p><i class='fi-check size-20'></i> Hög personalomsättning</p>
    <p><i class='fi-check size-20'></i> Helt gratis personalavdelning</p>
    <p><i class='fi-check size-20'></i> Betala löner, skatter, försäkringar & avgifter</p>
  </div>
  <div class="hero-divider-flow-content large-6 columns">
    <%= image_tag 'freelancer-hero.png', class:'hero-divider-img' %>
  </div>
</div>

<div class="hero-divider-flow-grey">
  <div class="hero-divider-flow-grey-content large-6 columns">
    <h3 class='hero-divider-flow-grey-title'>VAD VI HJÄLPER ARBETSSÖKANDE MED</h3>
    <p><i class='fi-check size-20'></i> Hitta nytt jobb</p>
    <p><i class='fi-check size-20'></i> Flexiblare arbetstider</p>
    <p><i class='fi-check size-20'></i> Hitta extrajobb eller sommarjobb</p>
    <p><i class='fi-check size-20'></i> Få den lön du förtjänar</p>
    <p><i class='fi-check size-20'></i> Mer frihet genom egenanställning</p>
  </div>
  <div class="hero-divider-flow-grey-content large-6 columns">
    <%= image_tag 'company-hero.png', class:'hero-divider-img' %>
    <p style='font-size: 18px; margin-top: 15px;'>Detta är framtiden!</p>
    <p style='font-size: 18px;'>Skapa dig ett försprång på den moderna arbetsmarknaden!</p>
  </div>
</div>
<div class="featured-testimonials-section">
  <div class="row columns">
    <h3 style='text-align: center;'>VAD SÄGER VÅRA ANVÄNDARE?</h3>
  </div>
  <div class="featured-testimonials row">
    <div class="small-12 medium-6 columns">
      <div class="testimonial">
        <img class="profile-pic hide-for-small-only" src="https://unsplash.it/201/?random">
        <p class="featured-testimonials-quotation">Hide when guests come over instantly break out into full speed make cat go crazy. Meow mix meow meow cat things and purring. catnip.</p>
      </div>
    </div>
    <div class="small-12 medium-6 columns">
      <div class="testimonial">
        <img class="profile-pic hide-for-small-only" src="https://unsplash.it/202/?random">
        <p class="featured-testimonials-quotation">Hide when guests come over instantly break out into full speed make cat go crazy. Meow mix meow meow cat things and purring. catnip.</p>
      </div>
    </div>
  </div>
  <div class="featured-testimonials row">
    <div class="small-12 medium-6 columns">
      <div class="testimonial">
        <img class="profile-pic hide-for-small-only" src="https://unsplash.it/203/?random">
        <p class="featured-testimonials-quotation">Hide when guests come over instantly break out into full speed make cat go crazy. Meow mix meow meow cat things and purring. catnip.</p>
      </div>
    </div>
    <div class="small-12 medium-6 columns">
      <div class="testimonial">
        <img class="profile-pic hide-for-small-only" src="https://unsplash.it/204/?random">
        <p class="featured-testimonials-quotation">Hide when guests come over instantly break out into full speed make cat go crazy. Meow mix meow meow cat things and purring. catnip.</p>
      </div>
    </div>
  </div>
</div>
