<div class="marketing-freelancer large-6 columns">
  <div class="marketing-site-hero-content">
    <h2 style='color: white;'>Jag är en</h2>
    <h1 style='color: white;'>Jobbsökande</h1>
    <h2 style='color: white;'>som letar efter arbete</h2><br><br>
    <%= link_to "Hitta Jobb", jobs_path, class: 'profile-button-expand', style:'color: black; font-size: 28px; text-transform: none;' %>
  </div>
</div>
<div class="marketing-company large-6 columns">
  <div class="marketing-site-hero-content">
    <h2 style='color: black;'>Jag är ett</h2>
    <h1>Företag</h1>
    <h2 style='color: black;'>som behöver hjälp</h2><br><br>
    <%= link_to "Hitta Personal", new_company_registration_path, class: 'reply-button-expand', style:'color: black; font-size: 28px; text-transform: none;' %>
  </div>
</div>
<p class='progress-indicator-headline'>SÅ FUNGERAR DET</p>
<div class="hero-divider">
  <ol class="progress-indicator">
    <li class="is-complete" data-step="1">
      <span style='margin-top: -60px;'>Jobbsökande</span>
      <span>Skapa profil</span>
    </li>
    <li class="is-complete" data-step="2">
      <span>Sök jobb</span>
    </li>
    <li class="is-current" data-step="3">
      <span>Utför jobb</span>
    </li>
    <li class="is-current" data-step="4">
      <span>Få betalt</span>
    </li>
  </ol>
</div>
<div class='hero-divider' style='padding-top: 10px;'>
  <ol class="progress-indicator">
    <li class="is-complete-free" data-step="1">
      <span style='margin-top: -60px;'>Företag</span>
      <span>Skapa annons</span>
    </li>
    <li class="is-complete-free" data-step="2">
      <span>Få svar</span>
    </li>
    <li class="is-current-free" data-step="3">
      <span>Anställ med ett klick</span>
    </li>
    <li class="is-current-free" data-step="4">
      <span>Få faktura</span>
    </li>
  </ol>
</div>

<div class="marketing-site-content-section">
  <div class="large-6 columns marketing-site-content-section-img">
    <%= image_tag 'frilansare-front.jpg' %>
  </div>
  <div class="large-6 columns marketing-site-content-section-block">
    <span class="marketing-site-content-section-block-subheader subheader">
      <h3>HITTA JOBB</h3>
      Skapa en profil. Sök jobb. Skapa en ansökan & chatta med arbetsgivaren. Utför jobbet. Få betalt.<br>
      Vi betalar din försäkring, skatt och arbetsgivaravgifter och för detta tar vi en liten avgift.<br>
      Din lön får du sedan utbetald direkt in på bankkontot.<br><br>
      <%= link_to "REGISTRERA KONTO", new_user_registration_path, class: 'reply-button' %>
    </span>
  </div>
  <div class="marketing-site-content-section-block large-6 columns">
    <span class="marketing-site-content-section-block-subheader subheader">
      <h3>HITTA PERSONAL</h3>
      Skapa en annons. Få svar från jobbsökare. Anställ med ett klick. Få jobbet utfört. Få faktura.<br>
      Vi ser till att löner, skatter, försäkringar & arbetsgivaravgifter betalas. <br>
      Allt är helt gratis!<br><br>
      <%= link_to "REGISTRERA FÖRETAG", new_company_registration_path, class: 'profile-button' %>
    </span>
  </div>
  <div class="marketing-site-content-section-img large-6 columns">
    <%= image_tag 'foretag-front.jpg' %>
  </div>
</div>
<p class='progress-indicator-headline'>POPULÄRA KATEGORIER</p>
<div class="hero-divider">
  <ol class="progress-indicator">
    <li class="is-complete" data-step="★">
    <span>MÅLERI</span>
    </li>
    <li class="is-complete" data-step="★">
    <span>BYGG</span>
    </li>
    <li class="is-complete" data-step="★">
    <span>STÄLLNINGAR</span>
    </li>
    <li class="is-complete" data-step="★">
    <span>LAGER</span>
    </li>
  </ol>
</div>
<div class="hero-divider-flow">
  <div class="hero-divider-flow-content large-6 columns">
    <h3 class='hero-divider-flow-title'>VAD VI HJÄLPER JOBBSÖKANDE MED</h3>
    <p><i class='fi-check size-20'></i> Hitta ditt nya drömjobb</p>
    <p><i class='fi-check size-20'></i> Hitta extra eller sommarjobb</p>
    <p><i class='fi-check size-20'></i> Arbeta när du vill, var du vill & för vem du vill</p>
    <p><i class='fi-check size-20'></i> Få den lön du förtjänar</p>
  </div>
  <div class="hero-divider-flow-content large-6 columns">
    <%= image_tag 'hero-1.png', class:'hero-divider-img' %>
    <p style='font-size: 18px; margin-top: 15px;'>Detta är framtiden!</p>
    <p style='font-size: 18px;'>Skapa dig ett försprång på den moderna arbetsmarknaden!</p>
  </div>
</div>

<div class="hero-divider-flow-grey">
  <div class="hero-divider-flow-grey-content large-6 columns">
    <h3 class='hero-divider-flow-grey-title'>VAD VI HJÄLPER FÖRETAG MED</h3>
    <p><i class='fi-check size-20'></i> Tillfällig personalbrist</p>
    <p><i class='fi-check size-20'></i> Hög personalomsättning</p>
    <p><i class='fi-check size-20'></i> Smidiga testanställningar</p>
    <p><i class='fi-check size-20'></i> Betala löner, skatter, försäkringar & avgifter</p>
    <p><i class='fi-check size-20'></i> Helt gratis verktyg</p>
  </div>
  <div class="hero-divider-flow-grey-content large-6 columns">
    <%= image_tag 'hero-2.png', class:'hero-divider-img' %>
  </div>
</div>
