<div class="login-box">
  <div class="row collapse expanded">
    <div class="small-12 medium-6 column small-order-2 medium-order-1">
      <div class="login-box-form-section">
        <div class='login-title'>
          <span style='color: white; font-weight: 700;'>Logga in som företag</span>
        </div>
        <span style='font-size: 11px; color: #8a8a8a;'>eller</span>
        <div class="login-box-input"><%= link_to "Registrera konto >>", new_company_registration_path, class: 'switch-button' %></div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="login-box-input">
          <%= f.email_field :email, placeholder: "Email", autofocus: true %>
        </div>
        <div class="login-box-input">
          <%= f.password_field :password, placeholder: "Lösenord", autocomplete: "off" %>
        </div>
        <% if devise_mapping.rememberable? -%>
          <div class="login-box-input">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, 'Kom ihåg mig' %>
          </div>
        <% end -%>
        <div class="actions">
          <%= f.submit "Logga in", class: 'reply-button', style:'width: 50%;' %>
          <p>eller <%= render "companies/shared/links" %></p>
        </div>
        <%end %>
      </div>
    </div>
    <div class="small-12 medium-6 column small-order-1 medium-order-2 login-box-social-section">
      <div class="login-box-social-section-company-login">
        <span class="login-box-social-headline">Vi hjälper dig i alla lägen</span>
        <p class="login-box-social-content">Personalbrist? Hitta personal genom oss</p>
        <p class="login-box-social-content">Du bestämmer timlönen och längden på anställningen</p>
        <div class="login-box-social-content">Endast 199kr/slutförd anställning<br><br>
          <%= link_to 'Läs mer om hur det fungerar', howitworks_path, class: 'profile-button' %>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-divider-2">
    <ol class="progress-indicator">
      <li class="is-complete" data-step="1">
        <span>Registrera dig & skapa en annons</span>
      </li>
      <li class="is-complete" data-step="2">
        <span>Få svar på din annons</span>
      </li>
      <li class="is-current" data-step="3">
        <span>Granska & acceptera personer som sökt</span>
      </li>
      <li class="is-current" data-step="4">
        <span>Få jobbet gjort & få faktura</span>
      </li>
    </ol>
  </div>
</div>
