<div class="holy-grail-grid">

  <div class="holy-grail-left">
    <%= link_to 'Kontrollpanel', administrations_path, class: 'button-menu' %>
    <%= link_to 'Användare', users_path, class: 'button-menu' %>
    <%= link_to 'Frilansare', profiles_path, class: 'button-menu' %>
    <%= link_to 'Företag', companies_path, class: 'button-menu' %>
    <%= link_to 'Jobb', jobs_path, class: 'button-menu' %>
    <%= link_to 'Fakturor', invoices_path, class: 'button-menu' %>
    <%= link_to 'Logga ut', destroy_admin_session_path, class: 'button-menu' %>
  </div>

  <div class="holy-grail-middle">
    <div class="portfolio-resume row">
      <div class="large-12 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Alla företag</h3>
          <%= form_tag companies_path, method: 'get' do %>
              <%= text_field_tag :with_email, nil, placeholder: 'Sök efter email' %>
              <%= submit_tag 'Sök email', class: 'filter-button' %>
          <% end %>
          <%= form_tag companies_path, method: 'get' do %>
              <%= text_field_tag :with_name, nil, placeholder: 'Sök efter namn' %>
              <%= submit_tag 'Sök namn', class: 'filter-button' %>
          <% end %>
          <p class="portfolio-resume-subheader">
            <% @companies.each do |company| %>
                <span class='item-define'>ID:</span> <%= company.id %><br>
                <span class='item-define'>Email:</span> <%= company.email %><br>
                <span class='item-define'>Namn:</span> <%= company.name %><br>
                <span class='item-define'>Användarnamn:</span> <%= company.username %><br>
                <span class='item-define'>Adress:</span> <%= company.address %><br>
                <span class='item-define'>Postnummer:</span> <%= company.zip_code %><br>
                <span class='item-define'>Stad:</span> <%= company.city %><br>
                <span class='item-define'>Org.nr:</span> <%= company.org_number %><br>
                <span class='item-define'>Telefon:</span> <%= company.phone %><br>
                <span class='item-define'>Kontakt:</span> <%= company.contact %><br>
                <span class='item-define'>Fakturaadress:</span> <%= company.invoice_address %><br>
                <span class='item-define'>Skapad:</span> <%= company.created_at %><br>
                <span class='item-define'>Uppdaterad:</span> <%= company.updated_at %><br><br>
            <% end %>
          </p>
        </div>
      </div>
    </div>
    <div class="will-paginate">
        <%= will_paginate @companies, renderer: FoundationPagination::Rails, previous_label: 'Tidigare', next_label: 'Nästa', inner_window: 1, outer_window: 1 %>
    </div>
  </div>
</div>
