<div class="holy-grail-grid">

  <div class="holy-grail-left">
    <%= link_to 'Kontrollpanel', administrations_path, class: 'button-menu' %>
    <%= link_to 'Användare', users_path, class: 'button-menu' %>
    <%= link_to 'Frilansare', adminprofiles_path, class: 'button-menu' %>
    <%= link_to 'Företag', companies_path, class: 'button-menu' %>
    <%= link_to 'Jobb', adminjobs_path, class: 'button-menu' %>
    <%= link_to 'Fakturor', admininvoices_path, class: 'button-menu' %>
    <%= link_to 'Snabbfakturor', adminezinvoices_path, class: 'button-menu' %>
    <%= link_to 'Ansökningar', applications_path, class: 'button-menu' %>
    <%= link_to 'Betalningar', adminpayments_path, class: 'button-menu' %>
  </div>

  <div class="holy-grail-middle">
    <div class="portfolio-resume row">
      <div class="large-12 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Alla företag</h3>
          <%= link_to 'Lägg in företag', new_admin_companies_path, class: 'button-green' %>
          <%= form_tag companies_path, method: 'get' do %>
            <%= text_field_tag :with_email, nil, placeholder: 'Sök efter email' %>
            <%= text_field_tag :with_name, nil, placeholder: 'Sök efter namn' %>
            <%= text_field_tag :with_id, nil, placeholder: 'Sök efter id' %>
            <%= submit_tag 'Sök', class: 'filter-button' %>
          <% end %>
          <div id='pagination-js'>
            <div id="admin-companies">
              <%= render 'admin_companies' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
