<div class="holy-grail-grid">

  <div class="holy-grail-left">
    <%= link_to 'Kontrollpanel', panels_path, class: 'button-menu' %>
    <%= link_to 'Konto', edit_company_registration_path, class: 'button-menu', style: 'background-color: #f77d0e;' %>
    <%= link_to 'Skapa annons', new_job_path, class: 'button-menu' %>
    <%= link_to "Radera konto", registration_path(resource_name), data: { confirm: "Är du säker?" }, method: :delete, class: 'button-menu' %>
  </div>

  <div class="holy-grail-middle">
    <div class='simple-form'>
      <div class='post-title'><h3>Redigera konto</h3></div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.label :email, class: 'form-text' %>
        <%= f.email_field :email, autofocus: true %>
        <%= f.label :name, 'Företagsnamn', class: 'form-text' %>
        <%= f.text_field :name %>
        <%= f.label :username, 'Användarnamn', class: 'form-text' %>
        <div class="fieldContainer">
          <%= f.text_field :username %>
          <div class="fieldInfo">
            Tips <br>
            Skriv inte ditt företagsnamn som användarnamn. Använd istället t.ex. ditt namn eller smeknamn(ex. Börje S, Greger etc).
          </div>
        </div>
        <%= f.label :address, 'Adress', class: 'form-text' %>
        <%= f.text_field :address %>
        <%= f.label :zip_code, 'Postnummer', class: 'form-text' %>
        <%= f.text_field :zip_code %>
        <%= f.label :city, 'Stad', class: 'form-text' %>
        <%= f.text_field :city %>
        <%= f.label :org_number, 'Organisationsnummer', class: 'form-text' %>
        <%= f.text_field :org_number %>
        <%= f.label :phone, 'Telefonnummer', class: 'form-text' %>
        <%= f.text_field :phone %>
        <%= f.label :invoice_address, 'Fakturaadress(Om annan än företagsadress)', class: 'form-text' %>
        <%= f.text_field :invoice_address, placeholder: 'Ex. BB Redovisning, Norrgatan 43, 42334, Malmö' %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        <div style='color: #f77d0e; font-weight: 600;'>Lösenord</div>
        <%= f.label :password, 'Nytt lösenord', class: 'form-text-grey' %>
        <i>(lämna tomt om du inte vill ändra lösenord)</i>
        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> tecken minimum</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "off" %>
        <%= f.label :password_confirmation, 'Bekräfta nytt lösenord', class: 'form-text-grey' %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
        <%= f.label :current_password, 'Nuvarande lösenord', class: 'form-text' %> <i>(vi behöver ditt nuvarande lösenord för att bekräfta ändringar)</i>
        <%= f.password_field :current_password, autocomplete: "off" %>
        <%= link_to 'Avbryt', panels_path, class: 'cancel-button' %>
        <%= f.submit "Spara", class: 'reply-button' %>
      <% end %>
    </div>
  </div>

</div>
