<p class="portfolio-resume-subheader">
  <% if @invoices_salary_not_paid.present? %>
    <% @invoices_salary_not_paid.each do |invoice| %>
      <% if invoice.user_id == current_user.id %>
        <span class='item-define'>Utbetalnings ID:</span> <%= invoice.id.first(8) %><br>
        Ocr.nr: <%= invoice.ocr_number %> <br>
        Skapad: <%= invoice.updated_at.strftime("%F %R") %><br>
        <%= link_to 'Visa/Redigera', pre_edit_invoice_path(invoice), method: :patch, class: 'button-green', style: 'color: white;' %><br>
      <% end %>
    <% end %>
  <% else %>
    Inga utbetalningar registrerade
  <% end %>
</p>
<div class="will-paginate">
    <%= will_paginate @invoices_salary_not_paid, param_name: 'salary_not_paid', renderer: FoundationPagination::Rails, previous_label: 'Tidigare', next_label: 'Nästa', inner_window: 1, outer_window: 1 %>
</div>
