<span id='active-applications'>
<% if @applications_hired.present? %>
  <% @applications_hired.each do |application| %>
    <div class='portfolio-card'>
      <div class='portfolio-card-header'><%= link_to application.job_title, job_path(application.job_id) %></div>
      <div class="portfolio-resume-subheader">
        Ansöknings ID: <%= application.id %><br>
        Jobb ID: <%= application.job_id %><br>
        Första jobbdag: <%= application.first_day %><br>
        Sista jobbdag: <%= application.last_day %><br>
        Antal svar: <%= application.comments.count %>
      </div>
      <%= link_to 'Visa ansökan/Skapa faktura', job_application_path(application.job_id, application.id), class: 'button-green' %>
    </div>
  <% end %>
<% else %>
  <strong>Inga aktiva anställningar</strong><br>
  <%= link_to 'Ansök till jobb här!', jobs_path %>
<% end %>
</span>
<div class="will-paginate">
    <%= will_paginate @applications_hired, param_name: 'hired', renderer: FoundationPagination::Rails, previous_label: 'Tidigare', next_label: 'Nästa', inner_window: 1, outer_window: 1 %>
</div>
