<span id='done-applications'>
<% if @applications_complete.present? %>
  <% @applications_complete.each do |application| %>
    <div class="portfolio-resume-subheader">
      <%= link_to application.job_title, job_path(application.job_id) %><br>
      Ansöknings ID: <%= application.id %><br>
      Jobb ID: <%= application.job_id %><br>
      Skapad: <%= application.created_at.strftime("%F %R") %><br>
      Antal svar: <%= application.comments.count %>
    </div>
    <%= link_to 'Visa ansökan', job_application_path(application.job_id, application.id), class: 'button-green' %>
  <% end %>
<% else %>
  Inga färdiga jobb<br>
<% end %>
</span>
<div class="will-paginate">
    <%= will_paginate @applications_complete, param_name: 'complete', renderer: FoundationPagination::Rails, previous_label: 'Tidigare', next_label: 'Nästa', inner_window: 1, outer_window: 1 %>
</div>
