<span id="active-invoices">
<% if @invoices.present? %>
  <% @invoices.each do |invoice| %>
    <div class='portfolio-card'>
      <div class='portfolio-card-header'><%= link_to invoice.job_title, job_path(invoice.job_id) %></div>
      <p class="portfolio-resume-subheader">
        Faktura ID: <%= invoice.id.first(8) %> <br>
        Jobb ID: <%= invoice.job_id %> <br>
        Ansöknings ID: <%= invoice.application_id %><br>
      </p>
      <% if invoice.active == false %>
        <p class="dash-active-inv", style="color: red;">Inväntar godkännande</p>
        <%= link_to 'Redigera', edit_invoice_path(invoice), class: 'button-green' %>
        <%= link_to 'Radera', invoice_path(invoice), data: { confirm: "Är du säker?" }, method: :delete, class: 'button-orange' %>
      <% else %>
        <p class="dash-active-inv", style="color: green;">Godkänd</p>
        <%= link_to 'Visa', invoice_path(invoice), class: 'button-green' %>
      <% end %>
    </div>
  <% end %>
<% end %>
</span>
<div class="will-paginate">
    <%= will_paginate @invoices, param_name: 'invoices', renderer: FoundationPagination::Rails, previous_label: 'Tidigare', next_label: 'Nästa', inner_window: 1, outer_window: 1 %>
</div>
