<span id="active-invoices">
<% if @invoices.present? %>
  <% @invoices.each do |invoice| %>
    <div class='portfolio-card'>
      <div class='portfolio-card-header'><%= link_to invoice.job_title, job_path(invoice.job_id) %></div>
      <div class="portfolio-resume-subheader">
        Ansöknings ID: <%= invoice.application_id %><br>
        Jobb ID: <%= invoice.job_id %> <br>
        Utbetalnings ID: <%= invoice.id.first(8) %> <br>
        Skapad: <%= invoice.created_at.strftime("%F %R") %>
      </div>
      <% if invoice.paid == false %>
        <% if invoice.created_at > 7.days.ago %>
          <%= link_to 'Visa/Redigera', pre_edit_invoice_path(invoice), method: :patch, class: 'button-green' %>
          <%= link_to 'Radera', invoice_path(invoice), data: { confirm: "Är du säker?" }, method: :delete, class: 'button-orange' %>
        <% else %>
          <%= link_to 'Visa', invoice_path(invoice), class: 'button-green' %>
        <% end %>
      <% else %>
        <%= link_to 'Visa', invoice_path(invoice), class: 'button-green' %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <div class='portfolio-card'>
    <div class='portfolio-card-header' style='font-size: 14px;'><strong>Inga aktiva utbetalningar</strong></div>
  </div>
<% end %>
</span>
<div class="will-paginate">
    <%= will_paginate @invoices, param_name: 'invoices', renderer: FoundationPagination::Rails, previous_label: 'Tidigare', next_label: 'Nästa', inner_window: 1, outer_window: 1 %>
</div>
