<h3>Dashboard</h3>
  <div class="holy-grail-grid">

    <div class="holy-grail-left">
      <ul>
        <li>
          <%= link_to 'Account', edit_user_registration_path %>
        </li>
        <li>
          <% if @profile.present? %>
            <%= link_to 'Profile', profile_path(@profile.id) %>
            <% else %>
            <%= link_to 'Profile', new_profile_path %>
          <% end %>
        </li>
        <li>
          <%= link_to 'Jobs', jobs_path %>
        </li>
        <li>
          <%= link_to 'Invoices' %>
        </li>
      </ul>
    </div>

    <div class="holy-grail-middle">
      <div class="portfolio-resume row">

        <div class="large-4 columns">
          <div class="portfolio-resume-wrapper">
            <h3 class="portfolio-resume-header">Account info</h3>
            <p class="portfolio-resume-subheader">
            Email: <%= current_user.email %><br><br>
            First name: <%= current_user.first_name %><br>
            Last name: <%= current_user.last_name %><br>
            Phone: <%= current_user.phone %><br>
            <%= link_to 'Edit Account', edit_user_registration_path, class: 'round button small' %>
            </p>
          </div>
        </div>

        <div class="large-4 columns">
          <div class="portfolio-resume-wrapper">
            <h3 class="portfolio-resume-header">Profile info</h3>
            <p class="portfolio-resume-subheader">
            <% if @profile.present? %>
              Username: <%= @profile.username %><br><br>
              Title: <%= @profile.title %><br>
              Skills: <%= @profile.skill %><br>
              Categories: <%= @profile.category %><br>
              City: <%= @profile.city %><br>
              <%= link_to 'Edit profile', edit_profile_path(@profile.id), class: 'round button small' %>
              <% else %>
              Create profile <br>
              <%= link_to 'Create profile', new_profile_path, class: 'round button small' %>
            <% end %>
            </p>
          </div>
        </div>

        <div class="large-4 columns">
          <div class="portfolio-resume-wrapper">
            <h3 class="portfolio-resume-header">Active jobs</h3>
            <p class="portfolio-resume-subheader">
              <% if @applications.present? %>
                <% @applications.each do |application| %>
                 <% if application.hired == true %>
                   <% if application.complete == false %>
                    <p class="portfolio-resume-subheader">
                    <%= link_to application.job_title, job_path(application.job_id) %><br>
                    Application ID: <%= application.id %><br>
                    Job ID: <%= application.job_id %><br>
                    Skapad: <%= application.created_at.in_time_zone("Stockholm").strftime("%D %R") %><br>
                    Antal svar: <%= application.comments.count %><br>
                    <%= link_to 'View application', job_application_path(application.job_id, application.id), class: 'tiny round button inc' %>
                  <% end %>
                 <% end %>
                <% end %>
              <% else %>
                <strong>No applications so far</strong><br>
                <%= link_to 'Apply for jobs here!', jobs_path %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
      <hr>
      <div class="portfolio-resume row">
        <div class="large-4 columns">
          <div class="portfolio-resume-wrapper">
            <h3 class="portfolio-resume-header">Completed jobs</h3>
            <p class="portfolio-resume-subheader">
              <% if @applications.present? %>
                <% @applications.each do |application| %>
                 <% if application.hired == true %>
                   <% if application.complete == true %>
                    <p class="portfolio-resume-subheader">
                    <%= link_to application.job_title, job_path(application.job_id) %><br>
                    Application ID: <%= application.id %><br>
                    Job ID: <%= application.job_id %><br>
                    Skapad: <%= application.created_at.in_time_zone("Stockholm").strftime("%D %R") %><br>
                    Antal svar: <%= application.comments.count %><br>
                    <%= link_to 'View application', job_application_path(application.job_id, application.id), class: 'tiny round button inc' %>
                  <% end %>
                 <% end %>
                <% end %>
              <% else %>
                No completed jobs<br>
              <% end %>
            </p>
          </div>
        </div>
        <div class="large-4 columns">
          <div class="portfolio-resume-wrapper">
            <h3 class="portfolio-resume-header">Invoices</h3>
            <p class="portfolio-resume-subheader">
              <% if @invoices.present? %>
                <% @invoices.each do |invoice| %>
                  Invoice ID: <%= invoice.id %> <br>
                  Job ID: <%= invoice.job_id %> <br>
                  Application ID: <%= invoice.application_id %> <br>
                  <% if invoice.active == false %>
                    Inväntar godkännande <br>
                  <% else %>
                    Godkänd <br>
                  <% end %>
                <% end %>
              <% end %>
            </p>
          </div>
        </div>
        <div class="large-4 columns">
          <div class="portfolio-resume-wrapper">
            <h3 class="portfolio-resume-header">Applications</h3>
              <% if @applications.present? %>
                <% @applications.each do |application| %>
                 <% if application.hired == false %>
                  <p class="portfolio-resume-subheader">
                  <%= link_to application.job_title, job_path(application.job_id) %><br>
                  Application ID: <%= application.id %><br>
                  Job ID: <%= application.job_id %><br>
                  Skapad: <%= application.created_at.in_time_zone("Stockholm").strftime("%D %R") %><br>
                  Antal svar: <%= application.comments.count %><br>
                  <%= link_to 'View application', job_application_path(application.job_id, application.id), class: 'tiny round button inc' %>
                  <%= link_to 'Delete', job_application_path(application.job_id, application.id), data: { confirm: "Are you sure?" }, method: :delete, class: 'tiny round button alert' %>
                  <hr>
                 <% end %>
                <% end %>
              <% else %>
                <strong>No applications so far</strong><br>
                <%= link_to 'Apply for jobs here!', jobs_path %>
              <% end %>
              </p>
          </div>
        </div>

      </div>
    </div>
  </div>
