<h3>Dashboard</h3>
  <div class="holy-grail-grid">

    <div class="holy-grail-left">
      <ul>
        <li>
          <%= link_to 'Account', edit_user_registration_path %>
        </li>
        <li>
          <% if @profile.present? %>
            <%= link_to 'Profile', profile_path(@profile.id) %>
            <% else %>
            <%= link_to 'Profile', new_profile_path %>
          <% end %>
        </li>
        <li>
          <%= link_to 'Jobs', jobs_path %>
        </li>
        <li>
          <%= link_to 'Invoices' %>
        </li>
      </ul>
    </div>

    <div class="holy-grail-middle">
      <div class="marketing-site-content-section">
        <div class="marketing-site-content-section-block">
          <h3 class="marketing-site-content-section-block-header">Account info</h3>
          <p class="marketing-site-content-section-block-subheader subheader">
            Email: <%= current_user.email %><br><br>
            First name: <%= current_user.first_name %><br>
            Last name: <%= current_user.last_name %><br>
            Phone: <%= current_user.phone %>
          </p>
          <%= link_to 'Edit Account', edit_user_registration_path, class: 'round button small' %>
        </div>
        <div class="marketing-site-content-section-block">
          <h3 class="marketing-site-content-section-block-header">Profile info</h3>
          <p class="marketing-site-content-section-block-subheader subheader">
            <% if @profile.present? %>
              Username: <%= @profile.username %><br><br>
              Title: <%= @profile.title %><br>
              Skills: <%= @profile.skill %><br>
              Categories: <%= @profile.category %><br>
              City: <%= @profile.city %>
              <% else %>
              Create profile
            <% end %>
          </p>
          <% if @profile.present? %>
            <%= link_to 'Edit profile', edit_profile_path(@profile.id), class: 'round button small' %>
            <% else %>
            <%= link_to 'Create profile', new_profile_path, class: 'round button small' %>
          <% end %>
        </div>
        <div class="marketing-site-content-section-block small-order-2 medium-order-1">
          <h3 class="marketing-site-content-section-block-header">Applications</h3>
          <p class="marketing-site-content-section-block-subheader subheader">
            <% if @applications.present? %>
              <% @applications.each do |application| %>
              Application ID: <%= application.id %><br>
              Job ID: <%= application.job_id %><br>
              Skapad: <%= application.created_at.in_time_zone("Stockholm").strftime("%D %R") %><br>
              Antal svar: <%= application.comments.count %><br>
              <%= link_to 'View application', job_application_path(application.job_id, application.id), class: 'tiny round button inc' %>
              <%= link_to 'Delete application', job_application_path(application.job_id, application.id), data: { confirm: "Are you sure?" }, method: :delete, class: 'tiny round button alert' %>
              <hr>
              <% end %>
            <% else %>
              <strong>No applications so far</strong><br>
              <%= link_to 'Apply for jobs here!', jobs_path %>
            <% end %>
          </p>
        </div>
        <div class="marketing-site-content-section-block">
          <h3 class="marketing-site-content-section-block-header">Invoices</h3>
          <p class="marketing-site-content-section-block-subheader subheader">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam omnis, maxime libero natus qui minus!</p>
          <a href="#" class="round button small">View invoices</a>
        </div>
      </div>

    </div>

  </div>
