<div class="holy-grail-grid">

  <div class="holy-grail-left">
    <%= link_to 'Kontrollpanel', dashboards_path, class: 'button-menu', style: 'background-color: #f77d0e;' %><br>
    <%= link_to 'Konto', edit_user_registration_path, class: 'button-menu' %><br>
    <% if current_user.profile.present? %>
      <%= link_to 'Profil', edit_profile_path(current_user.profile.id), class: 'button-menu' %>
      <%= link_to 'Utbetalningar', payments_path, class: 'button-menu' %>
      <% else %>
      <%= link_to 'Skapa profil', new_profile_path, class: 'button-menu' %>
    <% end %><br>
    <%= link_to 'Fakturera utan företag', ezinvoices_path, class: 'button-menu' %><br>
    <%= link_to 'Hitta jobb', jobs_path, class: 'button-menu' %>
  </div>

  <div class="holy-grail-middle">
    <div class="portfolio-resume row">
      <div class="large-4 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Konto</h3>
          <div class="portfolio-resume-subheader">
            <%= current_user.email %><br>
            Förnamn: <%= current_user.first_name %><br>
            Efternamn: <%= current_user.last_name %><br>
            Telefon: <%= current_user.phone %>
          </div>
          <%= link_to 'Redigera konto', edit_user_registration_path, class: 'button-green' %>
        </div>
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header" style='margin-bottom: 0px; margin-top: 5px;'>Profil</h3>
          <% if current_user.profile.present? %>
            <div class="portfolio-resume-subheader">
            Användarnamn: <br>
            <%= link_to current_user.profile.username, profile_path(current_user.profile) %><br>
            Titel: <%= current_user.profile.title %><br>
            Kompetenser: <%= current_user.profile.skill %><br>
            Kategorier: <%= current_user.profile.categories.pluck(:name).flatten.join(' & ') %> <br>
            Stad: <%= current_user.profile.cities.pluck(:name).flatten.join(' & ') %><br>
            <% if current_user.profile.avatar_file_name.present? %>
            <% else %>
              <span style='font-size: 11px; color: #f77d0e;margin-bottom: -1px;'>Förbättra dina chanser genom att lägga till profilbild!</span><br>
            <% end %>
            <% if current_user.profile.education.present? %>
            <% else %>
              <span style='font-size: 11px; color: #f77d0e;margin-bottom: -1px;'>Förbättra dina chanser genom att lägga till utbildning!</span><br>
            <% end %>
            <% if current_user.profile.prev_work.present? %>
            <% else %>
              <span style='font-size: 11px; color: #f77d0e;margin-bottom: -1px;'>Förbättra dina chanser genom att lägga till arbetsplatser!</span>
            <% end %>
            </div>
            <%= link_to 'Redigera profil', edit_profile_path(current_user.profile.id), class: 'button-green' %>
          <% else %>
            <strong>Skapa en profil för att söka jobb!</strong><br>
            <%= link_to 'Skapa ny profil', new_profile_path, class: 'button-orange' %>
          <% end %>
        </div>
      </div>

      <div class="large-4 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Aviseringar</h3>
          <% if current_user.sign_in_count == 1 %>
            <span style='font-size: 16px; color: #f77d0e;'>Välkommen till A New Biz!</span><br>
            <% if current_user.profile.present? %>
              <span style='font-size: 16px; color: #f77d0e;'>Nästa steg är att söka jobb</span>
            <% else %>
              <span style='font-size: 16px; color: #f77d0e;'>Nästa steg är att skapa en profil</span>
              <%= link_to 'Skapa en profil', new_profile_path, class: 'button-orange', style:'margin-bottom: 10px;' %>
            <% end %>
          <% end %>
          <p style='font-size: 11px; color: #f77d0e;margin-bottom: -1px;'>Totalt intjänat: <span style='color: #3db5e6;'>
            <% if current_user.profile.present? %>
              <%= current_user.total_earnings %> kr</span>
            <% else %>
              0 - 10 000 kr
            <% end %>
          </p>
          <p style='font-size: 11px; color: #f77d0e;margin-bottom: -1px;'>Din nuvarande avgift är <span style='color: #3db5e6;'>
            <% if current_user.profile.present? %>
              <%= (current_user.fee * 100).round %>.0%.</span>
              Läs mer om <%= link_to 'våra avgifter.', our_rates_path, style: 'text-transform: lowercase; color: #3db5e6; font-size: 11px; font-weight: 400; letter-spacing: 0;' %>
            <% else %>
              10.0% </span> Läs mer om <span style='color: #3db5e6;'>våra avgifter.</span>
            <% end %>
          </p>
          <p style='font-size: 11px; color: #f77d0e;'>Har du gjort jobb utanför vår plattform du vill ha betalt för? Kolla "Fakturera utan företag" i menyn.</p>
          <div class="portfolio-resume-notice">
            <% @activities.each do |activity| %>
              <div class="portfolio-resume-notice-items">
                <% if activity.owner.present? %>
                  <%= activity.created_at.strftime("%b %d %R") %>
                  <% if activity.owner_type == 'Admin' %>
                    Admin <%= render_activity activity %>
                  <% else %>
                    <%= link_to activity.owner.username, profile_path(activity.owner) %>
                    <%= render_activity activity %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="large-4 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Ansökningar</h3>
          <div id="partial-not-hired">
            <%= render 'applications_not_hired' %>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="portfolio-resume row">
      <div class="large-4 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Aktiva jobb</h3>
          <div id="partial-hired">
            <%= render 'applications_hired' %>
          </div>
        </div>
      </div>

      <div class="large-4 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Färdiga jobb</h3>
          <div id="partial-complete">
            <%= render 'applications_complete' %>
          </div>
        </div>
      </div>

      <div class="large-4 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Utbetalningar</h3>
          <div id="partial-invoices">
            <%= render 'dash_invoices' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
