<div class="holy-grail-grid">

  <div class="holy-grail-left">
    <%= link_to 'Kontrollpanel', dashboards_path, class: 'button-menu' %><br>
    <%= link_to 'Konto', edit_user_registration_path, class: 'button-menu' %><br>
    <% if @profile.present? %>
      <%= link_to 'Profil', edit_profile_path(@profile.id), class: 'button-menu' %>
      <%= link_to 'Inbjudningar', invites_path(profile_id: @profile.id), class: 'button-menu' %>
      <% else %>
      <%= link_to 'Skapa profil', new_profile_path, class: 'button-menu' %>
    <% end %><br>
    <%= link_to 'Utbetalningar', payments_path, class: 'button-menu' %><br>
    <%= link_to 'Snabbfaktura', ezinvoices_path, class: 'button-menu' %><br>
    <%= link_to 'Hitta jobb', jobs_path, class: 'button-menu' %>
  </div>

  <div class="holy-grail-middle">
    <div class="portfolio-resume row">
      <div class="large-4 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Konto</h3>
          <div class="portfolio-resume-subheader">
            <%= current_user.email %><br>
            Förnamn: <%= current_user.first_name %><br>
            Efternamn: <%= current_user.last_name %><br>
            Telefon: <%= current_user.phone %>
          </div>
          <%= link_to 'Redigera konto', edit_user_registration_path, class: 'button-green' %>
        </div>
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Profil</h3>
          <% if @profile.present? %>
            <div class="portfolio-resume-subheader">
            Användarnamn: <br>
            <%= link_to @profile.username, profile_path(@profile) %><br>
            Titel: <%= @profile.title %><br>
            Färdigheter: <%= @profile.skill %><br>
            Kategorier: <%= @profile.categories.pluck(:name).flatten.join(' & ') %> <br>
            Stad: <%= @profile.cities.pluck(:name).flatten.join(' & ') %>
            </div>
            <%= link_to 'Redigera profil', edit_profile_path(@profile.id), class: 'button-green' %>
          <% else %>
            <strong>Skapa en profil för att söka jobb!</strong>
            <%= link_to 'Skapa ny profil', new_profile_path, class: 'button-orange' %>
          <% end %>
        </div>
      </div>

      <div class="large-4 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Aviseringar</h3>
          <p style='font-size: 11px; color: #f77d0e;'>Ska du skapa faktura utan koppling till ett aktivt jobb, kolla "Snabbfaktura" i menyn.</p>
          <div class="portfolio-resume-notice" data-behavior="notices">
            <a class="portfolio-resume-notice-items" data-behavior="notice-items"></a>
          </div>
        </div>
      </div>

      <div class="large-4 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Ansökningar</h3>
          <% if @applications.present? %>
            <% @applications.each do |application| %>
              <% if application.hired == false %>
                <div class="portfolio-resume-subheader">
                  <%= link_to application.job_title, job_path(application.job_id) %><br>
                  Ansöknings ID: <%= application.id %><br>
                  Jobb ID: <%= application.job_id %><br>
                  Skapad: <%= application.created_at.strftime("%F %R") %><br>
                  Antal svar: <%= application.comments.count %>
                </div>
                <%= link_to 'Visa ansökan', job_application_path(application.job_id, application.id), class: 'button-green' %>
                <%= link_to 'Radera', job_application_path(application.job_id, application.id), data: { confirm: "Är du säker?" }, method: :delete, class: 'button-orange' %>
              <% end %>
            <% end %>
          <% else %>
            <strong>Inga ansökningar hittills</strong><br>
            <%= link_to 'Ansök till jobb här!', jobs_path %>
          <% end %>
        </div>
      </div>
    </div>
    <hr>
    <div class="portfolio-resume row">
      <div class="large-4 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Aktiva jobb</h3>
            <% if @applications.present? %>
              <% @applications.each do |application| %>
                <% if application.hired == true %>
                  <% if application.complete == false %>
                    <div class="portfolio-resume-subheader">
                      <%= link_to application.job_title, job_path(application.job_id) %><br>
                      Ansöknings ID: <%= application.id %><br>
                      Jobb ID: <%= application.job_id %><br>
                      Skapad: <%= application.created_at.strftime("%F %R") %><br>
                      Antal svar: <%= application.comments.count %>
                    </div>
                    <%= link_to 'Visa ansökan', job_application_path(application.job_id, application.id), class: 'button-green' %>
                  <% end %>
                <% end %>
              <% end %>
            <% else %>
              <strong>Inga ansökningar hittills</strong><br>
              <%= link_to 'Ansök till jobb här!', jobs_path %>
            <% end %>
        </div>
      </div>

      <div class="large-4 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Färdiga jobb</h3>
            <% if @applications.present? %>
              <% @applications.each do |application| %>
                <% if application.hired == true %>
                  <% if application.complete == true %>
                    <div class="portfolio-resume-subheader">
                      <%= link_to application.job_title, job_path(application.job_id) %><br>
                      Ansöknings ID: <%= application.id %><br>
                      Jobb ID: <%= application.job_id %><br>
                      Skapad: <%= application.created_at.strftime("%F %R") %><br>
                      Antal svar: <%= application.comments.count %>
                    </div>
                    <%= link_to 'Visa ansökan/Skapa faktura', job_application_path(application.job_id, application.id), class: 'button-green' %>
                  <% end %>
                <% end %>
              <% end %>
            <% else %>
              Inga färdiga jobb<br>
            <% end %>
        </div>
      </div>

      <div class="large-4 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Fakturor</h3>
          <p class="dash-active-inv">
            Totalt fakturerat inkl. snabbfakturor: <br>
            <%= (current_user.total_earnings * 1.25).round %> kr
          </p>
          <span id="2"></span>
          <% if @invoices.present? %>
            <% @invoices.each do |invoice| %>
              <p class="portfolio-resume-subheader">
                <% @jobs.where(id: invoice.job_id).each do |job| %>
                  <%= link_to job.title, job_path(job.id) %><br>
                <% end %>
                Faktura ID: <%= invoice.id.first(8) %> <br>
                Jobb ID: <%= invoice.job_id %> <br>
                Ansöknings ID: <%= invoice.application_id %> <br>
                <% if invoice.active == false %>
                  <p class="dash-active-inv", style="color: red;">Inväntar godkännande</p>
                  <%= link_to 'Redigera', edit_invoice_path(invoice), class: 'button-green' %>
                  <%= link_to 'Radera', invoice_path(invoice), data: { confirm: "Är du säker?" }, method: :delete, class: 'button-orange' %>
                <% else %>
                  <p class="dash-active-inv", style="color: green;">Godkänd</p>
                <% end %>
              </p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
