<div class="holy-grail-grid">

  <div class="holy-grail-left">
    <%= link_to 'Dashboard', dashboards_path, class: 'button-menu' %><br>
    <%= link_to 'Account', edit_user_registration_path, class: 'button-menu' %><br>
    <% if @profile.present? %>
      <%= link_to 'Profile', edit_profile_path(@profile.id), class: 'button-menu' %>
      <% else %>
      <%= link_to 'Add profile', new_profile_path, class: 'button-menu' %>
    <% end %><br>
    <%= link_to 'Find jobs', jobs_path, class: 'button-menu' %><br>
  </div>

  <div class="holy-grail-middle">
    <div class="portfolio-resume row">
      <div class="large-4 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Account info</h3>
          <p class="portfolio-resume-subheader">
          Email: <%= current_user.email %><br><br>
          First name: <%= current_user.first_name %><br>
          Last name: <%= current_user.last_name %><br>
          Phone: <%= current_user.phone %><br>
          <%= link_to 'Edit Account', edit_user_registration_path, class: 'button-green' %>
          </p>
        </div>
      </div>

      <div class="large-4 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Profile info</h3>
          <p class="portfolio-resume-subheader">
          <% if @profile.present? %>
            Username: <br>
            <%= link_to @profile.username, profile_path(@profile) %><br>
            Title: <%= @profile.title %><br>
            Skills: <%= @profile.skill %><br>
            Categories: <%= @profile.category %><br>
            City: <%= @profile.city %><br>
            <%= link_to 'Edit profile', edit_profile_path(@profile.id), class: 'button-green' %>
            <% else %>
            Create profile <br>
            <%= link_to 'Create profile', new_profile_path, class: 'button-orange' %>
          <% end %>
          </p>
        </div>
      </div>

      <div class="large-4 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Applications</h3>
          <% if @applications.present? %>
            <% @applications.each do |application| %>
              <p class="portfolio-resume-subheader">
              <% if application.hired == false %>
                <%= link_to application.job_title, job_path(application.job_id) %><br>
                Application ID: <%= application.id %><br>
                Job ID: <%= application.job_id %><br>
                Skapad: <%= application.created_at.in_time_zone("Stockholm").strftime("%D %R") %><br>
                Antal svar: <%= application.comments.count %><br>
                <%= link_to 'View application', job_application_path(application.job_id, application.id), class: 'button-green' %>
                <%= link_to 'Delete', job_application_path(application.job_id, application.id), data: { confirm: "Are you sure?" }, method: :delete, class: 'button-orange' %>
                </p>
              <% end %>
            <% end %>
          <% else %>
            <strong>No applications so far</strong><br>
            <%= link_to 'Apply for jobs here!', jobs_path %>
          <% end %>
        </div>
      </div>
    </div>
    <hr>
    <div class="portfolio-resume row">
      <div class="large-4 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Active jobs</h3>
          <p class="portfolio-resume-subheader">
            <% if @applications.present? %>
              <% @applications.each do |application| %>
               <% if application.hired == true %>
                 <% if application.complete == false %>
                  <p class="portfolio-resume-subheader">
                  <%= link_to application.job_title, job_path(application.job_id) %><br>
                  Application ID: <%= application.id %><br>
                  Job ID: <%= application.job_id %><br>
                  Skapad: <%= application.created_at.in_time_zone("Stockholm").strftime("%D %R") %><br>
                  Antal svar: <%= application.comments.count %><br>
                  <%= link_to 'View application', job_application_path(application.job_id, application.id), class: 'button-green' %>
                <% end %>
               <% end %>
              <% end %>
            <% else %>
              <strong>No applications so far</strong><br>
              <%= link_to 'Apply for jobs here!', jobs_path %>
            <% end %>
          </p>
        </div>
      </div>

      <div class="large-4 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Completed jobs</h3>
          <p class="portfolio-resume-subheader">
            <% if @applications.present? %>
              <% @applications.each do |application| %>
               <% if application.hired == true %>
                 <% if application.complete == true %>
                  <p class="portfolio-resume-subheader">
                  <%= link_to application.job_title, job_path(application.job_id) %><br>
                  Application ID: <%= application.id %><br>
                  Job ID: <%= application.job_id %><br>
                  Skapad: <%= application.created_at.in_time_zone("Stockholm").strftime("%D %R") %><br>
                  Antal svar: <%= application.comments.count %><br>
                  <%= link_to 'View application', job_application_path(application.job_id, application.id), class: 'button-green' %>
                <% end %>
               <% end %>
              <% end %>
            <% else %>
              No completed jobs<br>
            <% end %>
          </p>
        </div>
      </div>

      <div class="large-4 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Invoices</h3>
          <% if @invoices.present? %>
            <% @invoices.each do |invoice| %>
              <p class="portfolio-resume-subheader">
              Invoice ID: <%= invoice.id %> <br>
              Job ID: <%= invoice.job_id %> <br>
              Application ID: <%= invoice.application_id %> <br>
              <% if invoice.active == false %>
                <p class="dash-active", style="color: red;">Inväntar godkännande</p>
              <% else %>
                <p class="dash-active", style="color: green;">Godkänd</p>
              <% end %>
              </p>
              <%= link_to 'Edit', edit_invoice_path(invoice), class: 'button-green' %>
              <%= link_to 'Delete', invoice_path(invoice), data: { confirm: "Are you sure?" }, method: :delete, class: 'button-orange' %><br>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
