<div class="holy-grail-grid">

  <div class="holy-grail-left">
    <%= link_to 'Kontrollpanel', administrations_path, class: 'button-menu' %>
    <%= link_to 'Användare', users_path, class: 'button-menu' %>
    <%= link_to 'Frilansare', adminprofiles_path, class: 'button-menu' %>
    <%= link_to 'Företag', companies_path, class: 'button-menu' %>
    <%= link_to 'Jobb', adminjobs_path, class: 'button-menu' %>
    <%= link_to 'Fakturor', admininvoices_path, class: 'button-menu' %>
    <%= link_to 'Snabbfakturor', adminezinvoices_path, class: 'button-menu' %>
    <%= link_to 'Ansökningar', applications_path, class: 'button-menu' %>
    <%= link_to 'Betalningar', adminpayments_path, class: 'button-menu' %>
  </div>

  <div class="holy-grail-middle">
    <div class="portfolio-resume row">
      <div class="large-12 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Filtrera ej betalda fakturor</h3>
          <%= form_tag filter_invoices_path, method: 'get' do %>
            <%= text_field_tag :with_ocr, nil, placeholder: 'Sök efter OCR' %>
            <%= text_field_tag :with_user_id, nil, placeholder: 'Sök efter user ID' %>
            <%= text_field_tag :with_company_id, nil, placeholder: 'Sök efter företags ID' %>
            <%= submit_tag 'Sök', class: 'filter-button' %>
          <% end %>
          <br>
          <%= form_tag filter_invoices_path, method: 'get' do %>
            <%= hidden_field_tag :pay_day_reached, Date.today-10 %>
            <%= submit_tag 'Förfallna fakturor', class: 'filter-button' %>
            <p>Klicka för fakturor som skapades 10 dagar sedan och inte betalats</p>
          <% end %>
          <p style='font-weight: 700;'>Fakturor som inte markerats som betalda</p>
          <div id='pagination-js'>
            <div id="filter-invoices">
              <%= render 'filter_invoices' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
