<% @ezinvoices.each do |ezinvoice| %>
  <div class='ezinvoice-<%= ezinvoice.id %>'>
    <p class="portfolio-resume-subheader">
      <%= link_to 'Visa/godkänn faktura', adminezinvoice_path(ezinvoice), class: 'button-green' %><br>
      <%= link_to 'Redigera', edit_adminezinvoice_path(ezinvoice), class: 'button-orange' %><br>
      <span class='item-define'>ID:</span> <%= ezinvoice.id.first(8) %><br>
      <span class='item-define'>OCR:</span> <%= ezinvoice.ocr_number %><br>
      <span class='item-define'>User ID:</span> <%= ezinvoice.user_id %><br>
      <span class='item-define'>Frilansar ID:</span> <%= ezinvoice.profile_id %><br>
      <span class='item-define'>Frilansar användarnamn:</span> <%= ezinvoice.profile_username %><br>
      <span class='item-define'>Företagsnamn:</span> <%= ezinvoice.company_name %><br>
      <span class='item-define'>Betald:</span> <%= ezinvoice.paid %><br>
      <span class='item-define'>Lön utbetald</span> <%= ezinvoice.salary_paid %><br>
      <span class='item-define'>Post:</span> <%= ezinvoice.post %><br>
      <span class='item-define'>Villkor:</span> <%= ezinvoice.terms %><br>
      <span class='item-define'>Beskrivning:</span> <%= ezinvoice.description %><br>
      <span class='item-define'>Skapad:</span> <%= ezinvoice.created_at.strftime("%F %R") %><br>
      <span class='item-define'>Uppdaterad:</span> <%= ezinvoice.updated_at.strftime("%F %R") %><br>
      <span class='item-define'>Utbetalningsdatum:</span> <%= ezinvoice.pay_day.strftime("%F") %><br><br>
    </p>
  </div>
<% end %>
<div class="will-paginate">
    <%= will_paginate @ezinvoices, renderer: FoundationPagination::Rails, previous_label: 'Tidigare', next_label: 'Nästa', inner_window: 1, outer_window: 1 %>
</div>
