<div class="holy-grail-grid">

  <div class="holy-grail-left">
    <%= link_to 'Kontrollpanel', administrations_path, class: 'button-menu' %>
    <%= link_to 'Användare', users_path, class: 'button-menu' %>
    <%= link_to 'Frilansare', adminprofiles_path, class: 'button-menu' %>
    <%= link_to 'Företag', companies_path, class: 'button-menu' %>
    <%= link_to 'Jobb', adminjobs_path, class: 'button-menu' %>
    <%= link_to 'Fakturor', admininvoices_path, class: 'button-menu' %>
    <%= link_to 'Snabbfakturor', adminezinvoices_path, class: 'button-menu' %>
    <%= link_to 'Ansökningar', applications_path, class: 'button-menu' %>
    <%= link_to 'Betalningar', adminpayments_path, class: 'button-menu' %>
  </div>

  <div class="holy-grail-middle">
    <div class="simple-form">
      <h3 class="post-title">Redigera snabbfaktura <%= @ezinvoice.id.first(8) %></h3>
      <%= form_for @ezinvoice, url: adminezinvoice_path(@ezinvoice) do |f| %>
        <% if @ezinvoice.errors.any? %>
          <% @ezinvoice.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        <% end %>
        <p style='color: #f77d0e; font-weight: 700;'>Mottagare</p>
        <%= f.label :org_number, '* Organisationsnummer', class: 'form-text' %>
        <%= f.text_field :org_number, value: @ezinvoice.org_number %>
        <%= f.label :company_name, '* Företagsnamn', class: 'form-text' %>
        <%= f.text_field :company_name, value: @ezinvoice.company_name %>
        <%= f.label :company_address, '* Företagets adress', class: 'form-text' %>
        <%= f.text_field :company_address, value: @ezinvoice.company_address %>
        <%= f.label :company_zip, '* Postnummer', class: 'form-text' %>
        <%= f.text_field :company_zip, value: @ezinvoice.company_zip %>
        <%= f.label :company_city, '* Stad', class: 'form-text' %>
        <%= f.text_field :company_city, value: @ezinvoice.company_city %>
        <%= f.label :company_email, '* Email', class: 'form-text' %>
        <%= f.email_field :company_email, value: @ezinvoice.company_email  %>
        <%= f.label :company_reference, '* Företagsreferens', class: 'form-text' %>
        <%= f.text_field :company_reference, value: @ezinvoice.company_reference %>
        <p style='color: #f77d0e; font-weight: 700;'>Detaljer</p>
        <%= f.label :description, '* Beskrivning', class: 'form-text' %>
        <%= f.text_area :description, value: @ezinvoice.description %>
        <%= f.label :quantity, 'Antal timmar', class: 'form-text' %>
        <%= f.text_field :quantity, value: @ezinvoice.quantity %>
        <%= f.label :unit, 'Timlön', class: 'form-text' %>
        <%= f.text_field :unit, value: @ezinvoice.unit %>
        <%= f.label :amount, '* Summa', class: 'form-text' %>
        <%= f.text_field :amount, value: @ezinvoice.amount %>
        <%= f.label :first_day, 'Startdag(ex. 2018-11-01)', class: 'form-text' %>
        <%= f.date_field :first_day, value: @ezinvoice.first_day %>
        <%= f.label :last_day, 'Sista dag(ex. 2018-12-30)', class: 'form-text' %>
        <%= f.date_field :last_day, value: @ezinvoice.last_day %>
        <%= f.label :user_reference, '* Referens', class: 'form-text' %>
        <%= f.text_field :user_reference, value: @ezinvoice.user_reference %>
        <%= f.label :terms, 'Betalningsvillkor(30 dagar är standard)', class: 'form-text' %>
        <%= f.text_field :terms, value: @ezinvoice.terms %>
        <%= f.text_field :age, value: @ezinvoice.age %>
        <%= f.text_field :soc_avgift, value: @ezinvoice.soc_avgift %>
        <%= f.submit 'Spara', class: 'reply-button' %>
      <% end %>
    </div>
  </div>
</div>
