<div class="holy-grail-grid">

  <div class="holy-grail-left">
    <%= link_to 'Kontrollpanel', dashboards_path, class: 'button-menu' %><br>
    <%= link_to 'Konto', edit_user_registration_path, class: 'button-menu' %><br>
    <% if @profile.present? %>
      <%= link_to 'Profil', edit_profile_path(@profile.id), class: 'button-menu' %>
      <%= link_to 'Inbjudningar', invites_path(profile_id: @profile.id), class: 'button-menu' %>
      <% else %>
      <%= link_to 'Skapa profil', new_profile_path, class: 'button-menu' %>
    <% end %><br>
    <%= link_to 'Utbetalningar', payments_path, class: 'button-menu' %><br>
    <%= link_to 'Snabbfaktura', ezinvoices_path, class: 'button-menu' %><br>
    <%= link_to 'Hitta jobb', jobs_path, class: 'button-menu' %>
  </div>

  <div class="holy-grail-middle">
    <div class="portfolio-resume row">
      <div class="large-6 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Utbetalning</h3>
          <p class="portfolio-resume-subheader">
            <% if @ezinvoice.user_id == current_user.id %>
              <span class='item-define'>Faktura ID:</span> <%= @ezinvoice.id.first(8) %><br>
              <span class='item-define'>Startdag:</span> <%= @ezinvoice.first_day %><br>
              <span class='item-define'>Sista dag:</span> <%= @ezinvoice.last_day %><br>
              <span class='item-define'>Beskrivning:</span> <%= @ezinvoice.description %><br>
              <span class='item-define'>Referens:</span> <%= @ezinvoice.user_reference %><br>
              <span class='item-define'>Företagsreferens:</span> <%= @ezinvoice.company_reference %><br>
              <span class='item-define'>Företagsnamn:</span> <%= @ezinvoice.company_name %><br>
              <span class='item-define'>Organisationsnummer:</span> <%= @ezinvoice.org_number %><br>
              <span class='item-define'>Frilansar ID:</span> <%= @ezinvoice.profile_id %><br>
              <span class='item-define'>Frilansar användarnamn:</span> <%= @ezinvoice.profile_username %><br><br>
            <% end %>
          </p>
        </div>
      </div>
      <div class="large-6 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Detaljer</h3>
          <p class="portfolio-resume-subheader">
            <% if @ezinvoice.user_id == current_user.id %>
              <span class='item-define'>Utbetald:</span> <%= @ezinvoice.updated_at.strftime("%F %R") %><br>
              <span class='item-define'>Kvantitet:</span> <%= @ezinvoice.quantity %><br>
              <span class='item-define'>Enhet:</span> <%= @ezinvoice.unit %><br>
              <span class='item-define'>Summa ex. moms:</span> <%= @ezinvoice.amount %><br>
              Vår avgift: -<%= @ezinvoice.varavgift.round %> SEK <br>
              Sociala avgifter -<%= @ezinvoice.socialaavgifter.round %> SEK <br>
              Bruttolön inkl sem. ers.	<%= @ezinvoice.bruttolon.round %> SEK <br>
              Skatt	-<%= @ezinvoice.skatt.round %> SEK <br>
              Nettolön (lön efter skatt) <%= @ezinvoice.steg3.round %> SEK <br>
              <span class='item-define'>Utbetald summa:</span> <%= @ezinvoice.steg3.round %> SEK<br>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
