<div class="holy-grail-grid">

  <div class="holy-grail-left">
    <%= link_to 'Kontrollpanel', administrations_path, class: 'button-menu' %>
    <%= link_to 'Användare', users_path, class: 'button-menu' %>
    <%= link_to 'Frilansare', adminprofiles_path, class: 'button-menu' %>
    <%= link_to 'Företag', companies_path, class: 'button-menu' %>
    <%= link_to 'Jobb', adminjobs_path, class: 'button-menu' %>
    <%= link_to 'Fakturor', admininvoices_path, class: 'button-menu' %>
    <%= link_to 'Snabbfakturor', adminezinvoices_path, class: 'button-menu' %>
    <%= link_to 'Ansökningar', applications_path, class: 'button-menu' %>
    <%= link_to 'Betalningar', adminpayments_path, class: 'button-menu' %>
  </div>

  <div class="holy-grail-middle">
    <div class="portfolio-resume row">

      <div class="large-3 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Kategorier</h3>
          <p class="portfolio-resume-subheader">
            Skapa ny kategori
            <p class="portfolio-resume-subheader">
              <%= form_tag categories_path(@category) do %>
              <span id='category-name'>
                <%= text_field_tag :name, nil, placeholder: 'Namn' %>
              </span>
              <%= text_field_tag :ssyk_code, nil, placeholder: 'SSYK-kod' %>
              <%= label_tag :avatar, 'Kategoribild (.jpg .jpeg .png .gif)', class: 'form-text' %>
              <%= file_field_tag :avatar, class: 'form-text' %>
              <%= submit_tag 'Skapa kategori', class: 'profile-button-expand' %>
              <% end %>
            </p>
            <div id="categories">
              <%= render 'categories' %>
            </div>
          </p>
        </div>
      </div>

      <div class="large-3 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Städer</h3>
          <p class="portfolio-resume-subheader">
            Skapa ny stad
            <p class="portfolio-resume-subheader">
              <%= form_tag cities_path(@city) do %>
              <span id="city-name">
                <%= text_field_tag :name, nil, placeholder: 'Namn' %>
              </span>
              <%= submit_tag 'Skapa stad', class: 'profile-button-expand' %>
              <% end %>
            </p>
            <div id="cities">
              <%= render 'cities' %>
            </div>
          </p>
        </div>
      </div>

      <div class="large-3 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Nya fakturor</h3>
          <div id="admin-new-invoices">
            <%= render 'admin_new_invoices' %>
          </div>
        </div>
      </div>

      <div class="large-3 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Nya snabbfakturor</h3>
          <div id="admin-new-ezinvoices">
            <%= render 'admin_new_ezinvoices' %>
          </div>
        </div>
      </div>

    </div>
    <div class="portfolio-resume row">

      <div class="large-3 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Nya Jobb</h3>
          <p class="portfolio-resume-subheader">
            <% @jobs.each do |job| %>
              ID: <%= job.id %><br>
              Titel: <%= job.title %><br>
              Username: <%= job.company_username %><br>
              Skapad: <%= job.created_at.strftime("%F %R") %><br><br>
            <% end %>
          </p>
        </div>
      </div>

      <div class="large-3 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Nya Anställningar</h3>
          <p class="portfolio-resume-subheader">
            <% @applications.each do |application| %>
              ID: <%= application.id %><br>
              JobbID: <%= application.job_id %><br>
              ProfileID: <%= application.profile_id %><br>
              Uppdaterad: <%= application.updated_at.strftime("%F %R") %><br><br>
            <% end %>
          </p>
        </div>
      </div>

      <div class="large-3 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Nya Företag</h3>
          <p class="portfolio-resume-subheader">
            <% @companies.each do |company| %>
              ID: <%= company.id %><br>
              Namn: <%= company.name %><br>
              Username: <%= company.username %><br>
              Skapad: <%= company.created_at.strftime("%F %R") %><br><br>
            <% end %>
          </p>
        </div>
      </div>

      <div class="large-3 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Qnekt i siffror</h3>
          <p class="portfolio-resume-subheader">
            Ansökningar per jobb: <%= @applications_per_job.round(2) %><br>
            Anställningar per jobb: <%= @hires_per_job.round(2) %>
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
