<div class="holy-grail-grid">
  <div class="holy-grail-left-application" >
    <div class='holy-grail-left-application-box' style='text-align: center; '>
      <%= link_to 'Så fungerar det', howitworks_path, class: 'holy-grail-left-application-box' %><br>
      <%= link_to 'Kontakta', messages_path, class: 'holy-grail-left-application-box' %><br>
      <%= link_to 'Faktura, avgifter & lön', our_rates_path, class: 'holy-grail-left-application-box' %><br>
      <%= link_to 'Varför A New Biz?', why_us_path, class: 'holy-grail-left-application-box' %><br>
      <div style='background-color: #f77d0e; margin-left: -8px; margin-right: -8px; padding-bottom: 3px;'>
        <%= link_to 'Användarvillkor', terms_of_services_path, class: 'holy-grail-left-application-box', style:'color: white;' %>
      </div>
      <div style='background-color: #F9B87D; margin-left: -8px; margin-right: -8px; padding-bottom: 3px;'>
        <%= link_to 'Integritetspolicy', integritypolicies_path, class: 'holy-grail-left-application-box', style:'color: white;' %>
      </div>
      <%= link_to 'Vanliga frågor', faqs_path, class: 'holy-grail-left-application-box' %>
    </div>
  </div>
  <div class="holy-grail-middle">
    <div class='breadcrumb-holder-small'>
      <%= render_breadcrumbs separator: ' > ' %>
    </div>
    <h3 style='text-align: center;'>Integritetspolicy</h3>
    <p style='margin-left: 20px; margin-right: 20px; text-align: center; font-weight: 550; color: #696868;'>Här finner du vår integritetspolicy. Läs igenom dem noga innan du använder tjänsten. Om du har några ytterligare frågor kan du kontakta oss.</p>
    <strong>Personuppgiftsansvarig</strong>
    <p>FeltCap AB (nedan ”FeltCap”, ”vi”), org.nr 559129-6099, är personuppgiftsansvarig för de personuppgifter som behandlas inom företaget. FeltCap bestämmer syftet med behandlingen och på vilket sätt behandlingen ska ske.</p>
    <p>Kontaktuppgifter till personuppgiftsansvarig och dataskyddsombud återfinns i slutet av denna integritetspolicy.</p>
    <strong>Vad är en personuppgift och vad innebär behandling av personuppgifter?</strong>
    <p>Personuppgifter är all slags information som direkt eller indirekt går att koppla till en fysisk person som är i livet. Exempel på personuppgifter är namn, personnummer, e-postadress, telefonnummer, bilder och ip-nummer. Behandling av personuppgifter innebär all typ av hantering av personuppgifter, som exempelvis insamling, registrering, lagring, överföring och radering.</p>
    <strong>Vilka personuppgifter behandlar vi?</strong>
    <p>FeltCap behandlar många olika personuppgifter och vilka de är beror på i vilken egenskap du kommit i kontakt med oss.</p>
    <p>Egenanställda:</p>
    <p>Om du är egenanställd hos FeltCap, dvs. om du erbjudits en allmän visstidsanställning hos oss genom att använda våra tjänster för att fakturera utan eget företag, behandlar vi de personuppgifter som traditionellt förekommer inom ramen för en anställning. Det är exempelvis namn, personnummer, adress, e-postadress, telefonnummer, bankkontonummer, kreditupplysning, kvitton på utlägg, utbildningsbevis och korrespondens. Behandlingen är nödvändig för att vi ska kunna anställa dig och utöva våra rättsliga skyldigheter som arbetsgivare, för att kunna fullgöra avtalet med den kund du utfört uppdraget hos, för att kunna administrera klientstödsärenden avseende dig och kunden (kundtjänst), för att kunna fullgöra våra rättsliga förpliktelser gentemot olika myndigheter och för att kunna marknadsföra våra tjänster till dig.</p>
    <p>Kunder och leverantörer:</p>
    <p>Om du är kund till oss genom att en av våra egenanställda utfört uppdrag hos dig eller om du är leverantör till oss behandlar vi exempelvis namn, personnummer, adress, e-postadress, telefonnummer och korrespondens. Vi behandlar dessa personuppgifter för att kunna fullgöra vårt avtal med dig, för att vi ska kunna fullgöra våra rättsliga förpliktelser och för att kunna tillvarata våra och den egenanställdes rättsliga intressen.</p>
    <strong>Hur och från vilka källor samlas uppgifterna in?</strong>
    <p>Vi samlar in uppgifter om dig i samband med att du registrerar dig på vår hemsida och skapar en faktura. Vi samlar in den information som du själv matar in i systemet. Det kan t.ex. vara namn, personnummer, adress, e-postadress och yrkestitel. Om du fått din anställning hos oss via en av våra avtalskunder samlar vi in motsvarande information direkt från kunden. I samband med att din anställning hos oss fortskrider genereras ytterligare uppgifter om dig i vårt system, som t.ex. dina lönespecifikationer, ditt anställningsnummer och dina kontrolluppgifter. Vi samlar även in information om dig när du kontaktar oss angående ärenden som har med din anställning hos oss att göra, t.ex. din korrespondens, sjukanmälan, utbildningsbevis m.m.</p>
    <p>Förutom den information som du själv lämnar till oss eller som vi samlar in genom att du använder våra tjänster eller korresponderar med oss kan vi även komma att samla information från en så kallad tredje part. Uppgifter som vi samlar in från tredje part är exempelvis kreditupplysningsinformation från kreditupplysningsföretag och adressuppgifter från offentliga register.</p>
    <p>Vi samlar även in information om dig genom att använda cookies på våra hemsidor.</p>
    <strong>Vad använder vi uppgifterna till?</strong>
    <p>För att vi ska få behandla dina personuppgifter krävs att det finns stöd i gällande lagstiftning, en så kallad laglig grund. För att vår behandling av personuppgifter ska vara laglig krävs att någon av följande grunder är uppfylld:</p>
    <p>Behandlingen är nödvändig för att vi ska kunna fullgöra avtalet med dig.</p>
    <p>Behandlingen är nödvändig för att vi ska kunna fullgöra en rättslig förpliktelse som åligger oss.</p>
    <p>Behandlingen är nödvändig för att tillgodose berättigade intressen hos FeltCap och att ditt intresse av integritetsskydd inte väger tyngre (en så kallad intresseavvägning).</p>
    <p>Nedan följer en sammanställning över de ändamål för vilka vi behandlar dina personuppgifter och med vilken laglig grund vi gör detta.</p>
    <br>
    <strong>Ändamål</strong>
    <p>För att kunna erbjuda vår tjänst att möjliggöra för privatpersoner att fakturera utan eget företag.</p>
    <strong>Kategorier av personuppgifter</strong>
    <p>Namn, personnummer, adress, e-postadress, telefonnummer, anställningsnummer, bankkontonummer, yrkestitel, kreditupplysningsinformation, utbildningsbevis, behörighetsintyg, löneuppgifter, traktamente/utlägg, pensionsuppgifter, försäkringsinformation, sjukskrivning, arbetstid, korrespondens, foto (t.ex. för utfärdande av ID06-kort) och andra uppgifter som traditionellt förekommer inom en anställning.</p>
    <strong>Exempel på behandling</strong>
    <p>Identifiering.</p>
    <p>Kreditupplysning för att utreda om vi kan bevilja den egenanställde och kunden kredit genom att betala ut lön i förskott.</p>
    <p>Kontroll av yrkesbehörighet och säkerställande av att det finns ett fullgott försäkringsskydd.</p>
    <p>Utbetalning och administration av lön, traktamente, ersättning för utlägg, utmätning.</p>
    <strong>Laglig grund: Fullgörande av avtal och rättslig förpliktelse.</strong>
    <p>Behandlingen är nödvändig för att vi ska kunna ingå och fullgöra vårt anställningsavtal med den egenanställde och sköta administrationen som är knuten till den. Behandlingen är dessutom nödvändig för att vi ska kunna fullgöra våra rättsliga förpliktelser som arbetsgivare gentemot den egenanställde och tredje part.</p>
    <br>
    <strong>Ändamål</strong>
    <p>För att kunna fullgöra avtalet gentemot vår kund avseende det uppdrag som den egenanställde utför.</p>
    <strong>Kategorier av personuppgifter</strong>
    <p>Namn, adress, e-postadress, telefonnummer, personnummer, organisationsnummer (vid t.ex. enskild firma), korrespondens, fakturainformation, avtalsinformation, fastighetsbeteckning (vid t.ex. ROT-avdrag).</p>
    <strong>Exempel på behandling</strong>
    <p>Framtagande och undertecknande av uppdragsavtal.</p>
    <p>Administration och utskick av faktura till kund för utfört uppdrag.</p>
    <strong>Laglig grund: Fullgörande av avtal.</strong>
    <p>Behandlingen är nödvändig för att vi ska kunna ingå och fullgöra vårt avtal med vår kund.</p>
    <br>
    <strong>Ändamål</strong>
    <p>För att kunna fullgöra våra rättsliga förpliktelser.</p>
    <strong>Kategorier av personuppgifter</strong>
    <p>Namn, adress, e-postadress, personnummer, anställningsnummer, yrkestitel, löneuppgifter, traktamente/utlägg, pensionsuppgifter, försäkringsinformation, sjukskrivning, arbetstid och andra uppgifter som traditionellt förekommer inom en anställning.</p>
    <strong>Exempel på behandling</strong>
    <p>Redovisning och inrapportering av skatt, arbetsgivaravgift, moms m.m.</p>
    <p>Inrapportering av arbetstid till Försäkringskassan.</p>
    <p>Utfärdande av arbetsgivarintyg.</p>
    <strong>Laglig grund: Rättslig förpliktelse.</strong>
    <p>Behandlingen är nödvändig för att vi ska kunna fullgöra våra rättsliga förpliktelser enligt lag eller annan författning, myndighetsföreskrifter, beslut, begäran eller riktlinjer gällande t.ex. bokföring, skatteärenden och förpliktelser kopplade till vårt ansvar som arbetsgivare.</p>
    <br>
    <strong>Ändamål</strong>
    <p>För att kunna hantera klientstödsärenden (kundservice).</p>
    <strong>Kategorier av personuppgifter</strong>
    <p>Namn, personnummer, adress, e-postadress, telefonnummer, korrespondens, fakturainformation, avtalsinformation, löneuppgifter, tekniska uppgifter om dator och webbläsare m.m.</p>
    <strong>Exempel på behandling</strong>
    <p>Kommunikation och korrespondens med egenanställda, kunder och intressenter via telefon, e-post, chatt eller sociala medier.</p>
    <p>Svar på förfrågningar, handläggning av reklamationsärenden och tvister, rådgivning, teknisk support m.m.</p>
    <strong>Laglig grund: Fullgörande av avtal och berättigat intresse.</strong>
    <p>Behandlingen är nödvändig för att vi ska kunna fullgöra vårt avtal med den egenanställde och vårt avtal med kunden. Behandlingen är dessutom nödvändig för att vi ska kunna tillgodose vårt och våra avtalsparters intresse av att upprätthålla en god kundservice.</p>
    <br>
    <strong>Ändamål</strong>
    <p>För att kunna marknadsföra våra tjänster genom direktmarknadsföring och remarketing.</p>
    <strong>Kategorier av personuppgifter</strong>
    <p>Namn, e-postadress, ip-nummer, tekniska uppgifter om dator och webbläsare.</p>
    <strong>Exempel på behandling</strong>
    <p>Utskick av direktmarknadsföring via e-post.</p>
    <p>Användning av cookies vid besök på vår webbsida för remarketing på andra webbsidor.</p>
    <strong>Laglig grund: Berättigat intresse.</strong>
    <p>Behandlingen är nödvändig för att kunna tillgodose FeltCaps berättigade intresse av att kunna marknadsföra befintliga eller nya tjänster och informera om nya händelser.</p>
    <br>
    <strong>Vilka kan vi komma att dela dina personuppgifter med?</strong>
    <p>I vissa fall kan vi komma att dela med oss av dina personuppgifter till andra juridiska personer.</p>
    <p>Bolag inom samma koncern som FeltCap</p>
    <p>Då vi inom vår koncern har vissa koncerngemensamma funktioner kan vi komma att dela dina personuppgifter med andra bolag inom koncernen.</p>
    <p>Andra juridiska personer som är självständigt personuppgiftsansvariga</p>
    <p>Vi delar dina personuppgifter med andra självständigt personuppgiftsansvariga, dvs företag eller myndigheter som själva beslutar om hur informationen som lämnas ut till dem ska behandlas. När personuppgifterna delas med andra självständigt personuppgiftsansvariga gäller alltså deras integritetspolicy och rutiner kring behandling.</p>
    <p>De självständigt personuppgiftsansvariga som vi kan komma att dela dina personuppgifter med är:</p>
    <p>Statliga myndigheter, som t.ex. Skatteverket, Kronofogdemyndigheten, Försäkringskassan, Polisen och Arbetsmiljöverket, om vi är skyldiga att göra det enligt lag, för att kunna fullgöra vårt arbetsgivaransvar eller vid misstanke om brott.</p>
    <p>Företag eller andra juridiska personer som du som egenanställd har utfört uppdrag hos, för att kunna fullgöra vårt anställningsavtal med dig och vårt avtal med kunden.</p>
    <p>Personuppgiftsbiträden</p>
    <p>För att vi ska kunna erbjuda våra tjänster och fullgöra våra åtaganden enligt avtalet med dig delar vi vissa av dina personuppgifter med företag som hjälper oss med bland annat marknadsföring, IT-lösningar, inkassoärenden m.m. Dessa företag är personuppgiftsbiträden till oss och vi tecknar avtal med dessa för att säkerställa att de bara behandlar dina uppgifter enligt våra instruktioner och för det ändamål de samlades in.</p>
    <p>Leverantörer i tredje land</p>
    <p>Vi strävar alltid efter att behålla de personuppgifter vi behandlar inom EU/EES. Några av våra leverantörer har dock sin verksamhet utanför detta område, i ett så kallat tredje land. Om vi överför dina personuppgifter till tredje land vidtar vi lämpliga skyddsåtgärder för att säkerställa att skyddsnivån är densamma som inom EU/EES. Exempel på sådana skyddsåtgärder är godkänd uppförandekod i mottagarlandet, standardavtalsklausuler, bindande företagsinterna regler och Privacy Shield.</p>
    <strong>Hur länge sparar vi dina personuppgifter?</strong>
    <p>Vi sparar dina personuppgifter så länge som det är nödvändigt för att uppfylla det ändamål för vilket uppgifterna samlades in. De uppgifter vi samlar in och som genereras när du använder våra tjänster behandlas för olika ändamål, därför sparas de också under olika lång tid beroende på vad de ska användas till och hur våra rättsliga skyldigheter ser ut. Det kan t.ex. vara så länge som krävs för att vi ska kunna fullgöra vårt arbetsgivaransvar gentemot dig, för att kunna hantera reklamationsärenden från din uppdragsgivare eller så länge som det krävs för att uppfylla vissa lagstadgade lagringstider gällande exempelvis bokföring.</p>
    <strong>Hur skyddar vi dina personuppgifter?</strong>
    <p>Vi vidtar lämpliga tekniska och organisatoriska säkerhetsåtgärder för att säkerställa att all information som vi behandlar skyddas från olovlig eller obehörig tillgång, men även från förlust, förstörelse eller annan skada. Endast de handläggare som har behörighet till våra system har tillgång till dina personuppgifter och deras hantering av informationen är strikt reglerad i interna styrdokument.</p>
    <strong>Dina rättigheter som registrerad</strong>
    <p>Du som registrerad har enligt gällande lagstiftning ett antal rättigheter kopplade till vår behandling av dina personuppgifter. Här nedan listar vi dina rättigheter och vad de innebär. I slutet av dokumentet finns våra kontaktuppgifter som du kan använda om du vill göra dina rättigheter gällande.</p>
    <p>Vi kommer att handlägga din begäran utan onödigt dröjsmål och normalt inom en månad. Observera att vi kan behöva ytterligare information från dig för att säkerställa din identitet och kontrollera så att begäran kommer från rätt person.</p>
    <p>Rätt till tillgång (registerutdrag)</p>
    <p>Du har rätt att begära information om vilka av dina personuppgifter vi behandlar, ett så kallat registerutdrag. Begäran om registerutdrag ska göras skriftligen, vara undertecknat av dig och postas till adressen som finns i slutet av detta dokument. Registerutdraget kommer att sändas till din folkbokföringsadress.</p>
    <p>Rätt till rättelse</p>
    <p>Om de personuppgifter som är kopplade till dig är felaktiga har du rätt att begära rättelse av dessa. Du har även rätt att komplettera med sådana personuppgifter som du anser saknas och som är relevanta med hänsyn till ändamålet med behandlingen. Du har även möjlighet att själv uppdatera dina uppgifter på vår hemsida i inloggat läge.</p>
    <p>Om personuppgifter rättats på din begäran kommer vi informera dem som vi har lämnat ut uppgifterna till att rättelse skett, dock endast om en sådan underrättelse inte skulle visa sig omöjlig eller medföra en oproportionell ansträngning. Vi kommer även om du begär det informera dig om vem vi lämnat ut informationen till.</p>
    <p>Rätt till radering</p>
    <p>Du har rätt att begära att dina personuppgifter hos oss raderas. Det finns vissa fall då personuppgifter måste raderas:</p>
    <p>om uppgifterna inte längre behövs för de ändamål för vilka de samlats in,</p>
    <p>om behandlingen enbart grundar sig på samtycke och samtycket återkallas av dig,</p>
    <p>om behandlingen sker för direktmarknadsföring och du motsätter dig sådan behandling,</p>
    <p>om du motsätter dig en behandling som sker med intresseavvägning som laglig grund och det inte finns berättigande skäl som väger tyngre än ditt intresse,</p>
    <p>om personuppgifterna behandlas i strid med gällande lagstiftning,</p>
    <p>om radering krävs för att uppfylla en rättslig skyldighet,</p>
    <p>om personuppgifterna samlats in om ett barn under 13 år som du har föräldraansvaret för och insamlandet skett i samband med erbjudande av informationssamhällets tjänster.</p>
    <p>Det kan finnas rättsliga skyldigheter som hindrar oss från att radera vissa personuppgifter. Dessa skyldigheter kan härstamma från exempelvis bokföringslagstiftning, skattelagstiftning eller konsumenträttslagstiftning. Det kan även vara så att behandlingen är nödvändig för att vi ska kunna fastställa, göra gällande eller försvara rättsliga anspråk.</p>
    <p>Om personuppgifter raderats på din begäran kommer vi informera dem som vi har lämnat ut uppgifterna till att radering skett, dock endast om en sådan underrättelse inte skulle visa sig omöjlig eller medföra en oproportionell ansträngning. Vi kommer även om du begär det informera dig om vem vi lämnat ut informationen till.</p>
    <p>Rätt till begränsning av behandling</p>
    <p>Du har rätt att i vissa fall begära att den personuppgiftsbehandling som vi gör ska begränsas. Detta innebär att personuppgifterna markeras för att framöver bara användas för vissa avgränsade syften.</p>
    <p>Rätten till begränsning gäller bland annat om du begärt rättelse av dina personuppgifter. I dessa fall kan du även begära att vår behandling av personuppgifterna begränsas under utredningen av personuppgifternas korrekthet. Du kan även göra rätten gällande om du invänt mot en behandling som utförs med intresseavvägning som laglig grund och du vill att behandlingen begränsas under utredningen av vems berättigade skäl som väger tyngst.</p>
    <p>Om personuppgifter begränsats på din begäran kommer vi informera dem som vi har lämnat ut uppgifterna till att begränsning skett, dock endast om en sådan underrättelse inte skulle visa sig omöjlig eller medföra en oproportionell ansträngning. Vi kommer även om du begär det informera dig om vem vi lämnat ut informationen till.</p>
    <p>Rätt till invändning</p>
    <p>Du har rätt att invända mot behandling av personuppgifter som vi gör med stöd av intresseavvägning. Vid sådan invändning får vi bara fortsätta behandlingen om vi kan visa att det finns tvingande berättigande skäl till att personuppgifterna behöver behandlas och dessa skäl väger tyngre än dina intressen. Vi får även fortsätta behandla uppgifterna för att fastställa, utöva eller försvara rättsliga anspråk.</p>
    <p>Om dina personuppgifter behandlas för direkt marknadsföring har du alltid rätt att när som helst invända mot behandlingen. Med direkt marknadsföring avses alla typer av uppsökande marknadsföringsåtgärder, t.ex. via post, e-post och sms. Om du invänder mot direktmarknadsföring kommer vi att upphöra med behandlingen av dina personuppgifter för det ändamålet.</p>
    <p>Rätt till dataportabilitet</p>
    <p>Om du har lämnat personuppgifter till oss har du under vissa förutsättningar rätt att få ut och använda dessa personuppgifter hos en annan personuppgiftsansvarig. För att du ska kunna utnyttja denna rätt till dataportabilitet måste begäran avse sådana uppgifter som du själv lämnat till oss och som vi behandlar med stöd av samtycke från dig eller för fullgörande av avtal. Rätten till dataportabilitet gäller alltså inte sådana personuppgifter som behandlas med stöd av intresseavvägning eller rättslig förpliktelse.</p>
    <p>Klagomål</p>
    <p>Om du anser att dina personuppgifter behandlas i strid med gällande lagstiftning har du rätt att lämna in ett klagomål till FeltCap eller till Integritetsskyddsmyndigheten.</p>
    <strong>Ändring av integritetspolicyn</strong>
    <p>FeltCap förbehåller sig rätten att vid behov ändra och uppdatera integritetspolicyn. Den senaste versionen av integritetspolicyn kommer alltid att finnas publicerad på vår hemsida. Vid ändringar som är av avgörande betydelse för vår behandling av personuppgifter kommer du som egenanställd att få information om detta via e-post i god tid innan uppdateringen träder i kraft.</p>
    <strong>Om cookies</strong>
    <p>En cookie är en liten textfil som består av bokstäver och siffror och som sparas på din webbläsare eller enhet när du besöker vår webbsida www.qnekt.se. Cookies används för att förbättra din användarupplevelse och för att analysera hur du använder vår tjänst. Vi använder även cookies för att kunna rikta marknadsföring till dig.</p>
    <p>Om du vill läsa mer om cookies och hur vi använder dem finns mer information på vår hemsida www.qnekt.se och på Post- och telestyrelsens hemsida www.pts.se.</p>
    <strong>Kontaktuppgifter till personuppgiftsansvarig och dataskyddsombud</strong>
    <p>Personuppgiftsansvarig:</p>
    <p>FeltCap AB</p>
    <p>Sten Sturegatan 41</p>
    <p>41138 Göteborg</p>
    <p>Organisationsnummer: 559129-6099</p>
    <p>Telefonnummer: 0707-301078</p>
    <p>E-postadress: info@qnekt.se</p>
  </div>
</div>
