<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <title><%= content_for?(:title) ? yield(:title) : "ANewBiz" %></title>

      <%= stylesheet_link_tag    "application" %>
      <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
    </head>

    <nav class="top-bar topbar-responsive">
      <div class="top-bar-title">
        <span data-responsive-toggle="topbar-responsive" data-hide-for="medium">
          <button class="menu-icon" type="button" data-toggle></button>
        </span>
        <a class="topbar-responsive-logo" href="/" id="logo"></a>
      </div>
      <div id="topbar-responsive" class="topbar-responsive-links">
        <div class="top-bar-right">
          <ul class="menu simple vertical medium-horizontal" data-close-on-click-inside="false" data-dropdown-menu>
            <% if company_signed_in? %>
              <li><%= link_to "SKAPA ANNONS", new_job_path %></li>
              <li><%= link_to "ALLA JOBBSÖKARE", profiles_path %></li>
              <li><%= link_to "HITTA JOBB", jobs_path %></li>
              <li><%= link_to "LOGGA UT", destroy_company_session_path, {method: :delete} %></li>
              <li><%= link_to "KONTROLLPANEL", panels_path %></li>
            <% elsif user_signed_in? %>
              <li><%= link_to "ALLA JOBBSÖKARE", profiles_path %></li>
              <li><%= link_to "HITTA JOBB", jobs_path %></li>
              <li><%= link_to "LOGGA UT", destroy_user_session_path, {method: :delete} %></li>
              <li><%= link_to "KONTROLLPANEL", dashboards_path %></li>
            <% elsif admin_signed_in? %>
              <li><%= link_to "LOGGA UT", destroy_admin_session_path, {method: :delete} %></li>
              <li><%= link_to "ADMINISTRATION", administrations_path %></li>
            <% else %>
              <li><%= link_to "SKAPA ANNONS", new_job_path %></li>
              <li><%= link_to "ALLA JOBBSÖKARE", profiles_path %></li>
              <li><%= link_to "HITTA JOBB", jobs_path %></li>
              <li><%= link_to "REGISTRERA", new_user_registration_path %></li>
              <li><%= link_to "LOGGA IN", new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <body>
        <% if notice %>
            <% if current_user.present? %>
                <% if current_user.sign_in_count == 1 %>
                    <div id="notice-wrapper" >
                        <p class='notice-first-time'><%= notice %><br><%= link_to 'DÖLJ', '', style: 'border: 1px solid; padding: 0.3rem 0.9rem 0.2rem; color: #FEFEFE;' %></p>
                    </div>
                <% else %>
                    <div id="notice-wrapper" >
                        <p class='notice'><%= notice %></p>
                    </div>
                <% end %>
            <% elsif current_company.present? %>
                <% if current_company.sign_in_count == 1 %>
                    <div id="notice-wrapper" >
                        <p class='notice-first-time'><%= notice %><br><%= link_to 'DÖLJ', '', style: 'border: 1px solid; padding: 0.3rem 0.9rem 0.2rem; color: #FEFEFE;' %></p>
                    </div>
                <% else %>
                    <div id="notice-wrapper" >
                        <p class='notice'><%= notice %></p>
                    </div>
                <% end %>
            <% else %>
              <div id="notice-wrapper" >
                  <p class='notice'><%= notice %></p>
              </div>
            <% end %>
        <% elsif alert %>
            <div id='alert-wrapper' >
                <p class='alert'> <%= alert %></p>
            </div>
        <% end %>
        <%= yield %>
    </body>

    <footer class="site-footer">
      <div class="row medium-unstack">
        <div class="medium-4 columns">
          <div class="site-footer-top">
              <p class="site-footer-title">Om ANewBiz</p>
              <p class="site-footer-content">
                Vi är en marknadsplats för korttidsjobb och uppdrag.
                Vi förenklar och effektiviserar rekryteringsprocessen för företagare och jobbsökare med målet att skapa det perfekta verktyget för den moderna arbetsmarknaden.
              </p>
          </div>
        </div>
        <div class="medium-4 columns">
          <p class="site-footer-title"></p>
          <p class='site-footer-content'>
            <%= link_to 'Så fungerar det', howitworks_path %><br>
            <%= link_to 'Kontakta oss', messages_path %><br>
            <%= link_to 'Faktura, avgifter & lön', our_rates_path %><br>
            <%= link_to 'Varför frilansare?', why_freelances_path %><br>
            <%= link_to 'Användarvillkor', terms_of_services_path %><br>
          </p>
        </div>
        <div class="medium-4 columns">
          <p class="site-footer-title">ANewBiz</p>
          <p class="site-footer-content">
            <i class='fi-mail size-15'></i> info@anewbiz.se <br>
            <i class='fi-telephone size-15'></i> 0707301078 <br>
            Org.nr: 559129-6099 <br>
            © Anewbiz 2018
          </p>
        </div>
      </div>
    </footer>
</html>
