<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <title><%= content_for?(:title) ? yield(:title) : "GIG" %></title>

      <%= stylesheet_link_tag    "application" %>
      <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
    </head>

    <div class="topnav" id="myTopnav">
      <a href="#home">HOME</a>
      <%= link_to "POST JOB", new_job_path %>
      <a href="#">FIND FREELANCERS</a>
      <%= link_to "FIND A GIG", jobs_path %>
      <%= link_to "LOGIN", new_user_session_path %>
      <%= link_to "REGISTER", new_user_registration_path %>
      <% if company_signed_in? %>
       <%= link_to "SIGN OUT", destroy_company_session_path, {method: :delete} %>
       <% elsif user_signed_in? %>
       <%= link_to "SIGN OUT", destroy_user_session_path, {method: :delete} %>
      <% end %>
      <a href="javascript:void(0);" class="icon" onclick="myNav()">&#9776;</a>
    </div>
    <hr>

    <body>
        <% if flash[:notice] %>
        <div class='notice'>
            <%= flash[:notice] %>
        </div>
        <% end %>
        <% if flash[:alert] %>
        <div class='alert'>
            <%= flash[:alert] %>
        </div>
        <% end %>
        <%= yield %>
    </body>

    <footer class="site-footer">
      <div class="row medium-unstack">
        <div class="medium-4 columns">
          <h4 class="site-footer-title">FOLLOW US</h4>
          <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="medium-4 columns">
          <h4 class="site-footer-title">USEFUL LINKS</h4>
        </div>
        <div class="medium-4 columns">
          <p class="site-footer-title">HELLO</p>
        </div>
      </div>
    </footer>
</html>
