<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <title><%= content_for?(:title) ? yield(:title) : "GIG" %></title>

      <%= stylesheet_link_tag    "application" %>
      <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
    </head>

    <div class="topnav" id="myTopnav">
      <a href="/" id="logo"></a>
      <% if company_signed_in? %>
       <%= link_to "KONTROLLPANEL", panels_path %>
       <%= link_to "LOGGA UT", destroy_company_session_path, {method: :delete} %>
       <% elsif user_signed_in? %>
       <%= link_to "KONTROLLPANEL", dashboards_path %>
       <%= link_to "LOGGA UT", destroy_user_session_path, {method: :delete} %>
       <% else %>
       <%= link_to "LOGGA IN", new_user_session_path %>
       <%= link_to "REGISTRERA", new_user_registration_path %>
      <% end %>
      <%= link_to "HITTA JOBB", jobs_path %>
      <%= link_to "HITTA FRILANSARE", profiles_path %>
      <%= link_to "SKAPA ANNONS", new_job_path %>
      <a href="javascript:void(0);" class="icon" onclick="myNav()">&#9776;</a>
    </div>
    <hr>
    <body>
        <% if flash[:notice] %>
        <div class='notice'>
            <%= flash[:notice] %>
        </div>
        <% end %>
        <% if flash[:alert] %>
        <div class='alert'>
            <%= flash[:alert] %>
        </div>
        <% end %>
        <%= yield %>
    </body>

    <footer class="site-footer">
      <div class="row medium-unstack">
        <div class="medium-4 columns">
          <h4 class="site-footer-title">FOLLOW US</h4>
        </div>
        <div class="medium-4 columns">
          <h4 class="site-footer-title">USEFUL LINKS</h4>
        </div>
        <div class="medium-4 columns">
          <p class="site-footer-title">HELLO</p>
        </div>
      </div>
    </footer>
</html>
