<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <title><%= content_for?(:title) ? yield(:title) : "GIG" %></title>

      <%= stylesheet_link_tag    "application" %>
      <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
    </head>

    <!-- mobile nav bar -->
<div class="title-bar topbar-center-logo-mobile" data-responsive-toggle="topbar-center-logo" data-hide-for="medium">
  <div class="title-bar-left">
    <div class="title-bar-title"><a class="topbar-responsive-logo" href="/" id="logo"></a></div>
  </div>
  <div class="title-bar-right">
    <button class="menu-icon" type="button" data-toggle="topbar-center-logo"></button>
  </div>
</div>
<!-- /mobile nav bar -->

<!-- medium and larger nav bar -->
<div class="top-bar topbar-center-logo" id="topbar-center-logo">
  <div class="top-bar-left">
    <ul class="menu vertical medium-horizontal">
      <li><%= link_to "SKAPA ANNONS", new_job_path %></li>
      <li><%= link_to "HITTA FRILANSARE", profiles_path %></li>
      <li><%= link_to "HITTA JOBB", jobs_path %></li>
    </ul>
  </div>
  <div class="top-bar-center">
    <a class="topbar-responsive-logo" href="/" id="logo"></a>
  </div>
  <div class="top-bar-right">
    <ul class="menu vertical medium-horizontal">
      <li><%= link_to "REGISTRERA", new_user_registration_path %></li>
      <li><%= link_to "LOGGA IN", new_user_session_path %></li>
    </ul>
  </div>
</div>
<!-- /medium and larger nav bar -->
    <hr>
    <body>
        <% if notice %>
            <div id="notice-wrapper" >
                <p class='notice'><%= notice %></p>
            </div>
        <% elsif alert %>
            <div id='alert-wrapper' >
                <p class='alert'> <%= alert %></p>
            </div>
        <% end %>
        <%= yield %>
    </body>

    <footer class="site-footer">
      <div class="row medium-unstack">
        <div class="medium-4 columns">
          <p class="site-footer-title">FOLLOW US</p>
        </div>
        <div class="medium-4 columns">
          <p class="site-footer-title">
              USEFUL LINKS <br>
              <%= link_to 'ADMIN LOGIN', new_admin_session_path %>
          </p>
        </div>
        <div class="medium-4 columns">
          <p class="site-footer-title">HELLO</p>
        </div>
      </div>
    </footer>
</html>
